<%
	resource_name = parent.nil? ? 'Metum' : 'Content'
	@image = Attachment.find_by( attachable_type: resource_name, attachable_id: data.id )
%>
<div class="admin-dropzone-si dropzone-si" data-id="<%= data.id %>" data-resource="<%= resource_name %>" data-user="<%= current_user.id %>" data-name="<%= data.name %>">
	<%= form_for( Attachment.new, html: { multipart: true, class: 'dropzone'} ) do |f| %>
		<div class="dz-message <%= 'dz-max-files-reached' unless @image.nil? %>">
			<div class="admin-add-picture">
				<i class="fa fa-plus" aria-hidden="true"></i>
				<span>Clique ou arraste uma imagem para adicionar.</span>
			</div>
		</div>
	<% end %>
	<% unless @image.nil? %>
		<img id="image-si-<%= @image.id %>" class="img-responsive" src="<%= @image.file.url() %>" />
	<% end %>
	<button data-id="<%= @image.id unless @image.nil? %>" style="display: <%= @image.nil? ? 'none' : 'inline-block' %>; margin-top: 10px;" class="admin-remove-si btn btn-danger"><%= fa_icon 'times' %> Remover imagem</button>
</div>	