<div id="admin-page-edit" class="admin-page-edit admin-form form-default">
	<%= hidden_field_tag :page_id, @page.id %>
	<div class="container">
		<h2 class="mb-20">Informações básicas</h2>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<%= label_tag :page_display_name, 'Nome', class: 'control-label' %>
					<%= text_field :page, :display_name, name: 'display_name', value: @page.display_name, class: 'admin-editable', "data-id": @page.id, "data-resource": 'page' %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<%= label_tag :page_title, 'Título', class: 'control-label' %>
					<%= text_field :page, :title, name: 'title', value: @page.title, class: 'admin-editable', "data-id": @page.id, "data-resource": 'page' %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<%= label_tag :page_description, 'Descrição', class: 'control-label' %>
					<%= text_area :page, :description, name: 'description', value: @page.description, class: 'admin-editable admin-textarea', "data-id": @page.id, "data-resource": 'page' %>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<%= label_tag :page_keywords, 'Palavras chave', class: 'control-label' %>
					<%= text_area :page, :keywords, name: 'keywords', value: @page.keywords, class: 'admin-editable admin-textarea', "data-id": @page.id, "data-resource": 'page' %>
				</div>
			</div>
		</div>
		<h2 class="mb-20">Conteúdo</h2>
		<%= render 'admin/pages/page_meta' %>
	</div>
</div>