<% unless @page.meta.nil? %>
	<% @page.meta.order( order: :asc, id: :asc ).each do |meta| %>
		<div class="row admin-row-meta" data-resource="meta" data-id="<%= meta.id %>" data-name="<%= meta.name %>" data-type="<%= meta.field_type %>">
			<div class="col-sm-12">
				<div class="form-group">
					<%= label_tag "meta_#{meta.id}", meta.label, class: 'control-label admin-label-level-1' %>
					<%= number_field :meta, :order, name: 'order', id: "meta_order_#{meta.id}", class: 'meta-order', value: meta.order, 'data-resource': 'meta', 'data-attr': 'order', 'data-id': meta.id %>
					<% if meta.field_type == 'repeater' %>
						<%= render 'admin/pages/page_meta_contents', meta: meta %>
					<% else %>	
						<%= admin_field( meta ) %>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
<% end %>