<% unless meta.contents.nil? %>
	<% meta.contents.order( order: :asc, id: :asc ).each do |content| %>
		<div class="row" data-resource="contents" data-id="<%= content.id %>" data-name="<%= content.name %>" data-type="<%= content.field_type %>">
			<div class="col-sm-2 text-right content-label">
				<%= label_tag "content_#{content.id}", content.label, class: 'control-label admin-label-level-2' %>
			</div>
			<div class="col-sm-10 content-field">
				<%= admin_field( content, meta ) %>
			</div>
		</div>
	<% end %>
<% end %>	
<div class="row">
	<div class="col-sm-12 text-right">
		<button class="btn btn-warning admin-action" data-action="removeRow"><%= fa_icon 'minus' %></button>
		<button class="btn btn-primary admin-action" data-action="cloneRow"><%= fa_icon 'plus' %></button>
	</div>
</div>