<div class="perfil-resume ft-white bg-green pd-10 rlt">
	<input type="hidden" id="customer-id" value="<%= @customer.id %>" />
	<div class="ct-cont">
		<div class="ct-obg ft-16">
			<div class="perfil-resume-top ct-mg">
				<%= image_tag( @customer.avatar.url( :thumb ), size: '140x140', class: 'bio-avatar' ) %>
			</div>
			<div class="perfil-resume-bottom">
				<p class="name ft-orange pdtb-10"><%= @customer.name %></p>
				<% unless @customer.city.nil? %>
					<p class="city pdb-20"><%= @customer.city.name %></p>
				<% end %>
				<p class="phone">
					<i class="fa fa-phone fa-2x ft-orange txt-ct" aria-hidden="true"></i> 
					<%= @customer.phone.nil? ? 'Não informado' : @customer.phone %>
				</p>
				<p class="email pdtb-20">
					<i class="fa fa-envelope fa-2x ft-orange txt-ct" aria-hidden="true"></i> 
					<%= @customer.email %>
				</p>
				<p class="adress">
					<i class="fa fa-map-marker fa-2x ft-orange txt-ct" aria-hidden="true"></i> 
					<%= @customer.address.nil? ? 'Não informado' : @customer.address %>
				</p>
			</div>
		</div>
	</div>
</div>