<ul class="nav nav-tabs tabs list-inline client-info-tabs ct-mg ft-16" role="tablist">
    <li role="presentation" class="active reset tabs-title bb-grey rlt">
		<a href="#note" class="cliente-info-tab ft-orange" aria-controls="note" role="tab" data-toggle="tab">
			<i class="fa fa-pencil" aria-hidden="true"></i> Notas
		</a>
    </li>
    <li role="presentation" class="reset tabs-title bb-grey">
		<a href="#activity" class="cliente-info-tab ft-orange" aria-controls="activity" role="tab" data-toggle="tab">
			<i class="fa fa-clock-o" aria-hidden="true"></i> Atividades
		</a>
    </li>
    <li role="presentation" class="reset tabs-title bb-grey">
		<a href="#message" class="cliente-info-tab ft-orange" aria-controls="message" role="tab" data-toggle="tab">
			<i class="fa fa-envelope" aria-hidden="true"></i> Mensagem
		</a>
    </li>
    <li role="presentation" class="reset tabs-title bb-grey">
		<a href="#archive" class="cliente-info-tab ft-orange" aria-controls="archive" role="tab" data-toggle="tab">
			<i class="fa fa-arrow-up" aria-hidden="true"></i> Anexar arquivos
		</a>
    </li>
</ul>