<div class="tab-content bg-white main">
	<div role="tabpanel" class="tab-pane active bb-grey" id="note">
		<%= render 'notes/form' %>
	</div>
	<div role="tabpanel" class="tab-pane bb-grey" id="activity">
		<%= render 'activities/form' %>
	</div>
	<div role="tabpanel" class="tab-pane bb-grey" id="message">
		<div class="message">
			<%= render 'messages/form' %>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane bb-grey pd-30" id="archive">
		<%= render 'attachments/form' %>
	</div>
</div>