<ul class="message-actions icons-list list-inline">
	<li class="icon-list-item bb-grey">
		<a href="#" data-action="reply" data-value="<%= @message.from %>" data-subject="<%= @message.subject %>">
			<i class="fa-2x fa fa-reply" aria-hidden="true"></i>
		</a>
	</li>
	<li class="icon-list-item bb-grey">
		<a href="#" data-action="reply" data-value="<%= @reply_all %>" data-subject="<%= @message.subject %>">
			<i class="fa-2x fa fa-reply-all" aria-hidden="true"></i>
		</a>
	</li>
	<li class="icon-list-item bb-grey">
		<a href="#" data-action="forward">
			<i class="fa-2x fa fa-arrow-right" aria-hidden="true"></i>
		</a>
	</li>
	<li class="icon-list-item bb-grey">
		<a href="#" data-action="trash" data-id="<%= @message.id %>" data-box="sent" data-redirect-to="<%= messages_url %>">
			<i class="fa fa-trash" aria-hidden="true"></i>
		</a>
	</li>
</ul>