<div class="row">
	<div class="col-sm-10">
		<div class="message-content-from"><b>De: </b><%= @message.from  %></div>
		<div class="message-content-subject"><b>Assunto: </b><%= @message.subject  %></div>	
	</div>
	<div class="col-sm-2">
		<%= render partial: 'messages/actions' %>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="message-content-text content"><%= @message.text.html_safe %></div>
	</div>
</div>
<% attachments = @message.prev_id.nil? ? @message.attachments : @message.prev.attachments %>
<% unless attachments.empty? %>
	<div class="row">
		<div class="col-sm-12">
			<div class="message-content-text content">
				<p><b>Anexos da mensagem: </b></p>
				<ul class="message-content-attachments">
					<% attachments.each do |attach| %>
						<li class="message-content-attachments-item">
							<a href="<%= attach.file.url %>" target="_blank"><%= attach.file.original_filename %> - <%= ( attach.file.size / 1024 ).round %>KB</a>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
<% end %>
<%= hidden_field_tag :orig_message_to, @message.to %>
<%= hidden_field_tag :orig_message_from, @message.from %>
<%= hidden_field_tag :orig_message_subject, @message.subject %>
<%= hidden_field_tag :orig_message_text, @message.text %>