<div class="message pdb-40">
	<header class="message-header bg-grey">
		<div class="row message-row-to">
			<div class="col-sm-1">
				<div class="form-group">
					<%= f.label :to, 'Para:', class: 'control-label' %>
				</div>
			</div>
			<div class="col-sm-11">
				<div class="form-group">
					<%= f.text_field :to, value: @field[:to], class: 'form-control bg-white', required: 'required' %>
				</div>
			</div>
		</div>				
		<div class="row subject">
			<div class="col-sm-1">
				<div class="form-group">
					<%= f.label :subject, 'Assunto:', class: 'control-label' %>
				</div>
			</div>
			<div class="col-sm-11">
				<div class="form-group">
					<%= f.text_field :subject, value: @field[:subject], class: 'form-control bg-white', required: 'required' %>
				</div>
			</div>
		</div>
		<div class="row subject">
			<div class="col-sm-2">
				<div id="message-dropzone" class="dropzone">
					<div class="dz-message">	
			    		<%= fa_icon 'paperclip' %> Anexar
			    	</div>
			    </div>
			</div>
			<div id="message-attachments" class="col-sm-10">
				<ul class="message-attachments-items"></ul>
			</div>
		</div>
	</header>
	<div class="row reset pdt-0">
		<div class="col-sm-12 message-content bb-grey">
			<input id="message_text_trix_input_message" value="<%= @field[:text] %>" type="hidden" name="message[text]">
			<trix-editor input="message_text_trix_input_message"></trix-editor>
		</div>
	</div>
</div>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :property_id, value: params.has_key?( 'property_id' ) ? params[:property_id] : nil %>
<%= f.hidden_field :deal_id, value: params.has_key?( 'deal_id' ) ? params[:deal_id] : nil %>
<%= f.hidden_field :modifier, value:  defined?( @field[:modifier] ) ? @field[:modifier] : '' %>
<%= f.hidden_field :from, value: current_user.email %>
<%= f.hidden_field :box, value: :sent %>
<%= f.hidden_field :read, value: true %>
<script type="text/javascript">
	Dropzone.autoDiscover = false;
    $( '#message-dropzone' ).dropzone({
        maxFilesize: 2,
        paramName: 'attachment[file]',
        maxFiles: 4,
        url: '/attachments',
        success: function( file, attach ) {
        	var $container = $( '#message-attachments' ).find( 'ul' );
        	var html = '';
        	var i = $container.find( '.message-attachment-item' ).lenght + 1;
        	html+= '<li class="message-attachment-item"><i class="remove-message-attachment fa fa-times-circle" data-id="' + attach.id + '"></i> ' + attach.name +  '<input type="hidden" name="message[attachments_attributes][][id]" value="' + attach.id + '" /></li>';
            $( '#message-attachments ul' ).append( html );
        },
        sending: function( file, xhr, formData ){
            loadingIn();
            formData.append( 'authenticity_token', AUTH_TOKEN );
            formData.append( 'attachment[attachable_type]', 'Message' );
            formData.append( 'attachment[uploaded_by]', $( '#current_user_id' ).val() );
        },
        complete: function(){
            loadingOut();
        }
    });
</script>