<%= form_for @message, url: url_for( controller: 'messages', action: 'create' ), method: 'create', :html => {id: 'message-form', 'data-parsley-validate': 'data-parsley-validate', 'data-parsley-excluded': '[disabled]', 'data-remote': true} do |f| %>
	<%= render 'messages/form_fields', f: f %>
	<%= f.button( 'Enviar', type: 'submit', class: "button right bt-green ft-orange") %>
<% end %>