<div class="bg-white">
	<%= render 'layouts/counters', page_title: 'Mensagens', icon: 'envelope' %>
	<div class="container pdt-0 pdm-xs">
		<%= render partial: 'messages/search_form' %>
		<section class="row pdt-0 message mgt-50">
			<%= render partial: 'messages/menu' %>
			<div class="tab-content bg-white">
				<%= render partial: 'messages/tabs/write' %>
				<%= render partial: 'messages/tabs/inbox' %>
				<%= render partial: 'messages/tabs/outbox' %>
				<%= render partial: 'messages/tabs/sent' %>
				<%= render partial: 'messages/tabs/trash' %>
			</div>
		</section>
	</div>
</div>
<script id="message-item-template" type="text/html">
	<%= render partial: 'messages/message_item' %>
</script>