<ul class="nav nav-tabs tabs list-inline message-menu ct-mg pdb-20 ft-18" role="tablist">
	<li role="presentation" class="active reset tabs-title bb-grey">
		<a href="#write" class="message-menu-item ft-orange" aria-controls="write" role="tab" data-toggle="tab">
			<i class="fa fa-pencil fa-2x" aria-hidden="true"></i> Escrever mensagem
		</a>
    </li>
    <li role="presentation" class="reset tabs-title bb-grey">
		<a href="#inbox" class="message-menu-item ft-orange" aria-controls="inbox" role="tab" data-toggle="tab">
			<i class="fa fa-envelope fa-2x" aria-hidden="true"></i> Caixa de entrada
		</a>
    </li>
    <li role="presentation" class="reset tabs-title bb-grey hide">
		<a href="#outbox" class="message-menu-item ft-orange" aria-controls="exitbox" role="tab" data-toggle="tab">
			<span class="fa-container">
    			<i class="fa fa-arrow-right" aria-hidden="true"></i>
    			<i class="fa fa-envelope outbox-icon fa-2x" aria-hidden="true"></i> Caixa de saída
    		</span>
		</a>
    </li>
    <li role="presentation" class="reset tabs-title bb-grey">
		<a href="#sent" class="message-menu-item ft-orange" aria-controls="sent" role="tab" data-toggle="tab">
			<span class="fa-container">
    			<i class="fa fa-arrow-up" aria-hidden="true"></i>
    			<i class="fa fa-envelope fa-2x" aria-hidden="true"></i> Enviadas
    		</span>
		</a>
    </li>
    <li role="presentation" class="reset tabs-title bb-grey">
		<a href="#trash" class="message-menu-item ft-orange" aria-controls="trash" role="tab" data-toggle="tab">
			<i class="fa fa-trash fa-2x" aria-hidden="true"></i> Lixeira
		</a>
    </li>
</ul>