<div class="message-item row" data-read="%{read}" data-id="%{id}">
	<div class="col-sm-2 message-from">
		<a href="%{edit_url}" class="message-link">%{from}</a>
	</div>
	<div class="col-sm-7">
		<a href="%{edit_url}" class="message-link">
			<span class="message-subject">%{attachment}%{subject}</span> - <span class="message-excerpt">%{excerpt}</span>
		</a>
	</div>
	<div class="col-sm-2 message-datetime">
		<a href="%{edit_url}" class="message-link">%{datetime}</a>
	</div>
	<div class="col-sm-1 message-actions text-center">
		<a href="#" data-action="trash" data-id="%{id}" data-box="%{box}">
			<i class="fa fa-trash" aria-hidden="true"></i>
		</a>
	</div>
</div>