<div class="message-item message-item-header row">
	<div class="col-sm-2 message-from"><b>De</b></div>
	<div class="col-sm-7"><b>Assunto</b></div>
	<div class="col-sm-2 message-datetime"><b>Enviada em</b></div>
	<div class="col-sm-1 message-actions"></div>
</div>