<div class="searchable-wrapper">
	<div class="row">
		<div class="col-md-8">
			<% if params.has_key?( :q )  %>
				<p class="results-for">Mostrando resultados para: <b><%= params[:q] %></b></p>
			<% end %>
		</div>
		<div class="col-md-4">
			<form  class="searchable-form" method="get" action="<%= messages_url %>">
				<input type="hidden" name="search" value="true">
				<%= text_field_tag 'q', nil, placeholder: 'Buscar mensagens' %>
				<%= button_tag fa_icon( 'search'), type: 'submit' %>
			</form>
			<% if params.has_key?( :q )  %>
				<p class="text-right back-inbox"><a href="<%= messages_url %>"><%= fa_icon 'inbox' %> voltar para a caixa de entrada</a></p>
			<% end %>
		</div>
	</div>
</div>