<div class="bg-white">
	<%= render 'layouts/counters', page_title: 'Mensagens', icon: 'envelope' %>
	<div class="container pdt-0 pdm-xs">
		<%= render partial: 'messages/search_form' %>
		<section class="row pdt-0 message mgt-50">
			<%= render 'messages/tabs/search' %>
		</section>
	</div>
</div>