<% if params[:box] == 'inbox' %>
	$( '#loop-inbox' ).html( "<%= escape_javascript( render 'messages/loop', messages: @inbox ) %>" );
	$( '#paginator-inbox' ).html( "<%= escape_javascript( paginate( @inbox, :remote => true, params: { box: 'inbox' } ).to_s ) %>" );
<% end %>
<% if params[:box] == 'sent' %>
	$( '#loop-sent' ).html( "<%= escape_javascript( render 'messages/loop', messages: @sent ) %>" );
	$( '#paginator-sent' ).html( "<%= escape_javascript( paginate( @sent, :remote => true, params: { box: 'sent' } ).to_s ) %>" );
<% end %>
<% if params[:box] == 'trash' %>
	$( '#loop-trash' ).html( "<%= escape_javascript( render 'messages/loop', messages: @trash ) %>" );
	$( '#paginator-trash' ).html( "<%= escape_javascript( paginate( @trash, :remote => true, params: { box: 'trash' } ).to_s ) %>" );
<% end %>