<%= form_for @note, url: url_for( controller: 'notes', action: 'create' ), method: 'create', :html => {id: 'note-form', 'data-parsley-validate': 'data-parsley-validate', 'data-parsley-excluded': '[disabled]', 'data-remote': true} do |f| %>
	<div class="note pdb-40">
		<div class="row reset pdt-0">
			<div class="col-sm-12 note-content bb-grey">
				<input id="note_text_trix_input_note" value="<%= @note.text %>" type="hidden" name="note[text]">
				<trix-editor input="note_text_trix_input_note"></trix-editor>
			</div>
		</div>
	</div>
	<%= f.hidden_field :user_id, value: @note_for %>
	<%= f.hidden_field :created_by, value: current_user.id %>
	<%= f.button( 'Adicionar nota', type: 'submit', class: "button right bt-green ft-orange") %>
<% end %>