                            </td>
                        </tr>
                        <tr id="provizio-mail-footer">
                            <td width="100%" height="130" colspan="0" cellspacing="0" style="padding: 0; line-height: 1">
                                <%= image_tag attachments['mail-footer.png'].url %>
                            </td>
                        </tr>
                    </table>    
                </td>
            </tr>
        </table>
    </body>
</html>