<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <table width="100%" align="center">
            <tr>
                <td width="100%" align="center">
                    <table width="750" align="center">
                        <tr id="provizio-mail-header">
                            <td width="100%" height="130" colspan="0" cellspacing="0" style="padding: 0; line-height: 1">
                                <%= image_tag attachments['mail-header.png'].url %>
                            </td>
                        </tr>
                        <tr id="provizio-mail-content">
                            <td width="100%" colspan="0" cellspacing="0" style="padding: 20px 0; line-height: 1; text-align: left; font-family: Arial, Helvetica, sans-serif">