<!-- <div class="oportunity menu-medium">
<div class="container pdm-xs">
<ul class="nav nav-tabs tabs oportunity-tabs ct-mg pdtb-60 ft-20 text-center">
<li class="reset tabs-title big <%= 'active' if controller?( 'admin' ) && action?( 'index' )  %>">
<a href="<%= root_url %>" class="oportunity-tabs-item">
<div class="img pdb-10">
<%= fa_icon 'building' %>
</div>
<span>Empreendimentos</span>
</a>
</li>
<li class="reset tabs-title big <%= 'active' if controller?( 'admin' ) && action?( 'manage_users' )  %>">
<a href="<%= manage_users_url %>" class="oportunity-tabs-item">
<div class="img pdb-10">
<%= fa_icon 'users' %>
</div>
<span>Usuários</span>
</a>
</li>
<li class="reset tabs-title big <%= 'active' if controller?( 'admin' ) && action?( 'edit_pages' )   %>">
<a href="<%= edit_pages_url %>" class="oportunity-tabs-item">
<div class="img pdb-10">
<%= fa_icon 'book' %>
</div>
<span>Páginas</span>
</a>
</li>
<li class="border-n reset tabs-title big <%= 'active' if controller?( 'admin' ) && action?( 'configurations' )  %>">
<a href="<%= configurations_url if defined?( configurations_url ) %>" class="oportunity-tabs-item">
<div class="img pdb-10">
<%= fa_icon 'cog' %>
</div>
<span>Configurações</span>
</a>
</li>
</ul>
</div>
</div> -->
<div class="topnav" id="myTopnav">
	<a href="<%= root_url %>" class="oportunity-tabs-item tabs-title <%= 'active' if controller?( 'admin' ) && action?( 'index' )  %>">
		<div class="img pdb-10 hidden-xs hidden-sm">
			<%= fa_icon 'building' %>
		</div>
		<span>Empreendimentos</span>
	</a>
	<a href="<%= manage_users_url %>" class="oportunity-tabs-item tabs-title <%= 'active' if controller?( 'admin' ) && action?( 'manage_users' )  %>">
		<div class="img pdb-10 hidden-xs hidden-sm">
			<%= fa_icon 'users' %>
		</div>
		<span>Usuários</span>
	</a>
	<a href="<%= edit_pages_url %>" class="oportunity-tabs-item tabs-title <%= 'active' if controller?( 'admin' ) && action?( 'edit_pages' )   %>">
		<div class="img pdb-10 hidden-xs hidden-sm">
			<%= fa_icon 'book' %>
		</div>
		<span>Páginas</span>
	</a>
	<a href="<%= configurations_url if defined?( configurations_url ) %>" class="oportunity-tabs-item  tabs-title <%= 'active' if controller?( 'admin' ) && action?( 'configurations' )  %>">
		<div class="img pdb-10 hidden-xs hidden-sm">
			<%= fa_icon 'cog' %>
		</div>
		<span>Configurações</span>
	</a>
	<a href="<%= destroy_user_session_path %>" data-method="delete" class="ft-orange hidden-lg hidden-md" title="Sair">Sair</a>
		<span>Sair</span>
	</a>
	<a href="javascript:void(0);" style="font-size:30px;" class="icon" onclick="navbarToggle()">&#9776;</a>
</div>
<div class=" hidden-md hidden-lg">
	<br><br><br><br><br><br><br><br>
</div>
