<!-- <div class="oportunity">
	<div class="container pdm-xs">
		<ul class="nav nav-tabs tabs oportunity-tabs ct-mg pdtb-60 ft-20 text-center">
			<li class="reset tabs-title big <%= 'active' if controller?( 'properties' ) && action?( 'index' )  %>">
	    		<a href="<%= root_url %>" class="oportunity-tabs-item">
	    			<div class="img pdb-10">
	    				<%= fa_icon 'building' %>
	    			</div>
	    			<span>Empreendimentos</span>
	    		</a>
			</li>
			<li class="reset tabs-title big <%= 'active' if controller?( 'panel' ) && action?( 'my_ventures' )  %>">
	    		<a href="<%= my_ventures_url %>" class="oportunity-tabs-item">
	    			<div class="img pdb-10">
	    				<%= fa_icon 'line-chart' %>
	    			</div>
	    			<span>Acompanhamento</span>
	    		</a>
			</li>
			<li class="reset tabs-title big border-n <%= 'active' if controller?( 'properties' ) && action?( 'edit' )  %>">
	    		<a href="<%= new_property_url %>" class="oportunity-tabs-item" data-remote="true" data-type="script" data-toggle="modal" data-target="#modal-window">
	    			<div class="img pdb-10">
	    				<%= fa_icon 'clipboard' %>
	    			</div>
	    			<span>Cadastrar<br/>empreendimento</span>
	    		</a>
			</li>
		</ul>
	</div>
</div> -->

<div class="topnav" id="myTopnav">
	<a href="<%= root_url %>" class="oportunity-tabs-item tabs-title <%= 'active' if controller?( 'properties' ) && action?( 'index' )  %>">
		<div class="img pdb-10 hidden-xs hidden-sm">
			<%= fa_icon 'building' %>
		</div>
		<span>Empreendimentos</span>
	</a>
	<a href="<%= my_ventures_url %>" class="oportunity-tabs-item tabs-title <%= 'active' if (controller?( 'panel' ) && action?( 'my_ventures' )) || controller?('groups')  %>">
		<div class="img pdb-10 hidden-xs hidden-sm">
			<%= fa_icon 'line-chart' %>
		</div>
		<span>Acompanhamento</span>
	</a>
	<a href="<%= new_property_url %>" class="oportunity-tabs-item tabs-title <%= 'active' if controller?( 'properties' ) && action?( 'edit' )  %>" data-remote="true" data-type="script" data-toggle="modal" data-target="#modal-window">
		<div class="img pdb-10 hidden-xs hidden-sm">
			<%= fa_icon 'clipboard' %>
		</div>
		<span>Cadastrar<br/>empreendimento</span>
	</a>
	<a href="<%= destroy_user_session_path %>" data-method="delete" class="ft-orange hidden-md hidden-lg" title="Sair">
			<span>Sair</span>
	</a>
  <a href="javascript:void(0);" style="font-size:30px;" class="icon" onclick="navbarToggle()">&#9776;</a>
</div>
<div class=" hidden-md hidden-lg">
	<br><br><br><br><br><br><br><br>
</div>
