<!-- <div class="oportunity">
	<div class="container pdm-xs">
		<ul class="nav nav-tabs tabs oportunity-tabs ct-mg pdtb-60 ft-20 text-center">
			<li class="reset tabs-title big <%= 'active' if controller?( 'properties' ) && action?( 'index' )  %>">
	    		<a href="<%= root_url %>" class="oportunity-tabs-item">
	    			<div class="img pdb-10">
	    				<%= fa_icon 'binoculars' %>
	    			</div>
	    			<span>Oportunidades</span>
	    		</a>
			</li>
			<li class="reset tabs-title big <%= 'active' if controller?( 'panel' ) && action?( 'my_deals' )  %>">
	    		<a href="<%= my_deals_url %>" class="oportunity-tabs-item">
	    			<div class="img pdb-10">
	    				<%= fa_icon 'suitcase' %>
	    			</div>
	    			<span>Meus negócios</span>
	    		</a>
			</li>
			<li class="border-n reset tabs-title big <%= 'active' if controller?( 'panel' ) && action?( 'my_realtor' )  %>">
	    		<a href="<%= my_realtor_url %>" class="oportunity-tabs-item">
	    			<div class="img pdb-10">
	    				<%= fa_icon 'user' %>
	    			</div>
	    			<span>Meu consultor</span>
	    		</a>
			</li>
		</ul>
	</div>
</div> -->
<div class="topnav" id="myTopnav">
	<a href="<%= root_url %>" class="oportunity-tabs-item tabs-title <%= 'active' if controller?( 'properties' ) && action?( 'index' ) %>">
		<div class="img pdb-10  hidden-xs hidden-sm">
			<%= fa_icon 'binoculars' %>
		</div>
		<span>Oportunidades</span>
	</a>
	<a href="<%= my_deals_url %>" class="oportunity-tabs-item tabs-title <%= 'active' if controller?( 'panel' ) && action?( 'my_deals' )  %>">
		<div class="img pdb-10 hidden-xs hidden-sm">
			<%= fa_icon 'suitcase', class: 'hidden-xs' %>
		</div>
		<span>Meus negócios</span>
	</a>
	<a href="<%= my_realtor_url %>" class="oportunity-tabs-item tabs-title <%= 'active' if controller?( 'panel' ) && action?( 'my_realtor' )  %>">
		<div class="img pdb-10 hidden-xs hidden-sm">
			<%= fa_icon 'user' %>
		</div>
		<span>Meu consultor</span>
	</a>
	<a href="<%= destroy_user_session_path %>" data-method="delete" class="ft-orange hidden-md hidden-lg" title="Sair">
		<span>Sair</span>
	</a>
  <a href="javascript:void(0);" style="font-size:30px;" class="icon" onclick="navbarToggle()">&#9776;</a>
</div>
<div class=" hidden-md hidden-lg">
	<br><br><br><br><br><br><br><br>
</div>
