<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'proform form-sign ft-20 mgtb-20', data: { 'parsley-validate': 'data-parsley-validate' } }) do |f| %>

    <%= devise_error_messages! %>

    <div class="row">
        <div class="field">
            <div class="col-sm-12 col-md-2 col-lg-2 columns reset">
                <%= f.label :name, 'Nome', class: 'form-item ft-16' %>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-10 columns reset">
                <%= f.text_field :name, value: @name, autofocus: true, required: 'required' %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="field">
            <div class="col-sm-12 col-md-2 col-lg-2 columns reset">
                <%= f.label :email, 'E-mail', class: 'form-item ft-16' %>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-10 columns reset">
                <%= f.email_field :email, value: @email, required: 'required' %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="field">
            <div class="col-sm-12 col-md-2 col-lg-2 columns reset">
                <%= f.label :password, 'Senha', class: 'form-item ft-16' %>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-10 columns reset">
                <%= f.password_field :password, autocomplete: 'off', required: 'required', 'data-parsley-minlength': 6 %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="field">
            <div class="col-sm-12 col-md-4 col-lg-4 columns">
                <%= f.label :password_confirmation, 'Confirme a senha', class: 'form-item ft-16' %>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 columns">
                <%= f.password_field :password_confirmation, autocomplete: 'off', required: 'required', 'data-parsley-equalto': '#user_password', 'data-parsley-error-message' => 'As senhas devem ser iguais' %>
            </div>
        </div>
    </div>
    <div class="row type mgtb-20 radio-options">
        <div class="row">
            <div class="col-sm-12 col-sm-12 col-md-4 col-lg-4 columns">
                <%= f.radio_button :role_id, 2, class: 'checkbox left', required: 'required', 'data-parsley-errors-container': '#role-error', 'data-parsley-error-message': 'Escolha uma das opções de perfil acima.'  %>
                <%= f.label :role_id_2, 'Sou consultor', class: 'type-item' %>
            </div>
            <div class="col-sm-12 col-sm-12 col-md-4 col-lg-4 columns">
                <%= f.radio_button :role_id, 3, class: 'checkbox left', required: 'required', 'data-parsley-errors-container': '#role-error', 'data-parsley-error-message': 'Escolha uma das opções de perfil acima.' %>
                <%= f.label :role_id_3, 'Sou investidor', class: 'type-item' %>
            </div>
            <div class="col-sm-12 col-sm-12 col-md-4 col-lg-4 columns">
                <%= f.radio_button :role_id, 4, class: 'checkbox left', required: 'required', 'data-parsley-errors-container': '#role-error', 'data-parsley-error-message': 'Escolha uma das opções de perfil acima.' %>
                <%= f.label :role_id_4, 'Sou parceiro', class: 'type-item' %>
            </div>
            <div id="role-error" class="col-sm-12"></div>
        </div>
    </div>
    <div class="row terms_of_service_container hide">
        <div class="col-sm-12">
            <h3>Termos de uso</h3>
        </div>
        <div class="col-sm-12">
            <% @page = Page.find_by_name( :terms ) %>
            <%= text_area_tag :terms_of_service_2, page_content( :term_realtor ), {readonly: 'readonly', class: 'terms-of-service-textarea hide'} %>
            <%= text_area_tag :terms_of_service_3, page_content( :term_investor ), {readonly: 'readonly', class: 'terms-of-service-textarea hide'} %>
            <%= text_area_tag :terms_of_service_4, page_content( :term_construction_company ), {readonly: 'readonly', class: 'terms-of-service-textarea hide'} %>
        </div>
        <div class="col-sm-12">
            <label><%= f.check_box :terms %> <small>Aceito os termos de uso da Provizio</small></label>
        </div>
    </div>
    <div class="row">
        <p class="mgtb-10 ft-14">*Todos os campos precisam ser preenchidos.</p>
    </div>
    <div class="row">
        <div class="actions">
            <%= f.button( 'Cadastrar', type: 'submit', class: "button bt-green left") %>
        </div>
    </div>
    <script type="text/javascript">
        ( function( $ ){
            $( '.form-sign  input[name="user[role_id]"]' ).on( 'change', function(){
                var $self = $( this );
                $( '.terms_of_service_container' ).removeClass( 'hide' );
                $( '.terms-of-service-textarea' ).addClass( 'hide' );
                $( '#terms_of_service_' + $self.val() ).removeClass( 'hide' );
            });
            if( $( '.form-sign input[name="user[role_id]"]:checked' ).length > 0 ) {
                $( '.terms_of_service_container' ).removeClass( 'hide' );
                $( '#terms_of_service_' + $( '.form-sign input[name="user[role_id]"]:checked' ).val() ).removeClass( 'hide' );
            }
        })( jQuery );
    </script>
<% end %>
