<div class="page-cadastro">
    <div class="cadastro bg">
        <section class="login ct-mg bgt ft-green">
            <div class="row pdtb-0">
                <ul class="nav nav-tabs tabs" role="tablist">
                    <li role="presentation" class="pdr-0 tabs-title col-sm-6 col-md-6 col-lg-6 columns">
                        <div class="ct-cont bg-label">
                            <%= link_to 'Entrar', new_user_session_path, { class: 'login-link ft-white pd-30 ft-24', role: 'tab', 'aria-controls': 'signIn' }  %>

                        </div>
                    </li>
                    <li role="presentation" class="active pdl-0 tabs-title col-sm-6 col-md-6 col-lg-6 columns">
                        <div class="ct-cont bg-label">
                            <%= link_to 'Cadastrar', new_user_registration_path, { class: 'login-link ft-white pd-30 ft-24', role: 'tab', 'aria-controls': 'signUp' }  %>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="bg-white">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="signIn"></div>
                    <div role="tabpanel" class="tab-pane active" id="signUp">
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-9 columns reset">
                                <h2 class="titleB ft-20">Cadastre-se</h2>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 columns reset">
                                <%= render partial: 'layouts/social_auth' %>
                            </div>
                        </div>
                        <%= render partial: 'devise/registrations/form_new' %>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>