<ul class="list-oportunity-resume list-inline ct-mg top-counter">
	<li class="list-resume-item">
		<a class="oportunity-resume-item pd-10 bb-grey ct-mg" href="<%= my_deals_url %>?search=true&filter=status&kind=&status=waiting_customer&realtor=&investor=&construction_company=&q=&button=">
			<p class="number ft-orange mgt-10 txt-ct ft-30"><%= @counters[:deals_waiting_customer] %></p>
			<p class="ft-12 txt-ct">Negócios em andamento</p>
		</a>
	</li>
	<li class="list-resume-item">
		<a class="oportunity-resume-item pd-10 bb-grey ct-mg" href="<%= root_url %>">
			<p class="number ft-orange mgt-10 txt-ct ft-30"><%= @counters[:oportunities] %></p>
			<p class="ft-12 txt-ct">Oportunidades</p>
		</a>
	</li>
	<li class="list-resume-item">
		<a class="oportunity-resume-item pd-10 bb-grey ct-mg" href="<%= my_deals_url %>#tab-deals-finished">
			<p class="number ft-orange mgt-10 txt-ct ft-30"><%= @counters[:deals_finished] %></p>
			<p class="ft-12 txt-ct">Negócios fechados</p>
		</a>
	</li>
</ul>