<ul class="list-oportunity-resume list-inline ct-mg top-counter">
	<li class="list-resume-item">
		<a class="oportunity-resume-item pd-10 bb-grey ct-mg" href="<%= my_deals_url %>?search=true&filter=status&kind=&status=waiting_customer&realtor=&investor=&construction_company=&q=&button=">
			<p class="number ft-orange mgt-10 txt-ct ft-30"><%= @counters[:deals_waiting_customer] %></p>
			<p class="ft-12 txt-ct"><%= pluralize( @counters[:deals_waiting_customer], 'Negócio em andamento', 'Negócios em andamento' ).sub( /[0-9]+/, '' ) %></p>
		</a>
	</li>
	<li class="list-resume-item">
		<a class="oportunity-resume-item pd-10 bb-grey ct-mg" href="<%= root_url %>">
			<p class="number ft-orange mgt-10 txt-ct ft-30"><%= @counters[:oportunities] %></p>
			<p class="ft-12 txt-ct"><%= pluralize( @counters[:oportunities], 'Oportunidade', 'Oportunidades' ).sub( /[0-9]+/, '' ) %></p>
		</a>
	</li>
	<li class="list-resume-item">
		<a class="oportunity-resume-item pd-10 bb-grey ct-mg" href="<%= my_clients_url %>">
			<p class="number ft-orange mgt-10 txt-ct ft-30"><%= @counters[:customers] %></p>
			<p class="ft-12 txt-ct"><%= pluralize( @counters[:customers], 'Cliente', 'Clientes' ).sub( /[0-9]+/, '' ) %></p>
		</a>
	</li>
	<li class="list-resume-item">
		<a class="oportunity-resume-item pd-10 bb-grey ct-mg" href="<%= my_deals_url %>?search=true&filter=status&kind=&status=finished&realtor=&investor=&construction_company=&q=&button=">
			<p class="number ft-orange mgt-10 txt-ct ft-30"><%= @counters[:deals_finished] %></p>
			<p class="ft-12 txt-ct"><%= pluralize( @counters[:deals_finished], 'Negócio fechado', 'Negócios fechados' ).sub( /[0-9]+/, '' ) %></p>
		</a>
	</li>
</ul>