<div id="roles-management">
	<%= hidden_field_tag :current_role_id, @role.id %>
	<div class="row form-default">
    	<div class="col-xs-6">
        	<div class="form-group">
				<%= label_tag :role, 'Escolha um perfil de usuário para editar', class: 'control-label' %><br>
				<%= select_tag( :role,  options_for_select( @roles, @role.id ), {class: "form-control s2-select"}) %>
           	</div>
         </div>
         <div class="col-xs-6">
         	<a href="<%= new_role_url %>" style="margin-top: 28px" class="btn btn-success hide" data-remote="true" data-type="script" data-toggle="modal" data-target="#modal-window">
				<%= fa_icon 'plus' %> Adicionar
			</a>
			<% if @role.created_by > 0 %>
				<button class="btn btn-danger admin-action" style="margin-top: 28px" data-action="destroyRole" data-id="<%= @role.id %>"><%= fa_icon 'times' %> Remover</button>
			<% end %>
         </div>
    </div>
</div>