<div id="admin-page-edit" class="admin-page-edit admin-form form-default">
	<div class="container">
		<h2 class="mb-20">Tipos de imóveis</h2>
		<div style="width:100%;float:left; margin-bottom: 2.5%">
			<a href="<%= new_property_kind_url %>" class="btn btn-success pull-right" data-remote="true" data-type="script" data-toggle="modal" data-target="#modal-window">Adicionar novo</a>
		</div>
		<div class="table-responsive">
			<table id="property-kinds-table" class="table kinds-table">
				<thead>
					<tr>
						<th>Nome</th>
						<th class="text-center">Empreendimentos</th>
						<th class="text-center">Ações</th>
					</tr>
				</thead>
				<tbody>
					<% @kinds.each do |kind| %>
						<%= property_kind_item( kind )%>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script id="kind-item-template" type="text/html"><%= render 'property_kinds/kind_item' %></script>
