<div id="admin-page-edit" class="admin-page-edit admin-form form-default">
	<%= hidden_field_tag :page_id, @page.id %>
	<div class="container">
		<h2 class="mb-20">Termos de uso</h2>
		<%= render 'admin/pages/page_meta' %>
	</div>
</div>