<div class="searchable-wrapper">
	<form  class="searchable-form" method="get" action="<%= root_url %>">
		<input type="hidden" name="search" value="true">
		<div class="row">
			<div class="col-md-1">
				<span class="filter-by text-right">Filtrar por:</span>
			</div>
			<div class="col-md-2">
				<div class="form-group">
		            <%= select_tag( :kind, options_for_select( @kinds, params[:kind] ), { include_blank: 'Tipo', class: 's2-select', style: 'width: 100%' } ) %>
	           	</div>	
			</div>
			<div class="col-md-2">
				<div class="form-group">
		           <%= select_tag( :status, options_for_select( enum_options_for_select( Property, :status ), params[:status] ), { include_blank: 'Status', class: 's2-select', style: 'width: 100%' } ) %>
	           	</div>	
			</div>
			<div class="col-md-2">
				<div class="form-group">
		            <%= select_tag( :owner, options_for_select( @owners, params[:owner] ), { include_blank: 'Parceiro', class: 's2-select', style: 'width: 100%' } ) %>
	           	</div>	
			</div>
			<div class="col-md-4">
				<%= text_field_tag 'q', nil, placeholder: 'Buscar empreendimentos', value: params[:q] %>
				<% if params.has_key?( :q )  %>
					<p class="text-right back-inbox"><a href="<%= root_url %>"><%= fa_icon 'times' %> remover filtros</a></p>
				<% end %>
			</div>
			<div class="col-md-1">
				<%= button_tag 'Aplicar filtros', type: 'submit', class: 'btn btn-primary' %>				
			</div>
		</div>
	</form>
	<% if params.has_key?( :q )  %>
		<p class="results-for">Mostrando resultados para: <b><%= params[:q] %></b></p>
	<% end %>
</div>