<div class="bg-white oportunity-resume">
	<%= hidden_field_tag :current_url, configurations_url %>
	<%= render 'layouts/counters', icon: 'building', page_title: 'Configurações' %>
	<section class="development admin-properties admin-screen">
		<div class="container large-container">
		</div>
	</section>
	<div class="container vertical-tabs">
		<div class="row">
			<div class="left-col col-xs-12 col-md-3">
				<ul class="nav nav-tabs tabs-left">
					<li class="hide"><a href="#permissions-vtab" data-toggle="tab">Permissões</a></li>
					<li class="active"><a href="#property-kinds-vtab" data-toggle="tab">Tipos de imóveis</a></li>
					<li class=""><a href="#terms-vtab" data-toggle="tab">Termos de uso</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-9">
				<div class="tab-content ">
					<div class="tab-pane hide" id="permissions-vtab">
						<%= render 'admin/config/manage_roles' %>
					</div>
					<div class="tab-pane active" id="property-kinds-vtab">
						<%= render 'admin/config/property_kinds' %>
					</div>
					<div class="tab-pane" id="terms-vtab">
						<%= render 'admin/config/terms' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
