<div class="bg-white my-deals admin-deals">
	<%= render 'layouts/counters', page_title: 'Negócios', icon: 'suitcase' %>
	<div class="container pdt-0 pdm-xs <%= "user-role-" + current_user.role.name %>">
		<%= render 'panel/deals_searchform' %>
		<div class="full">
			<div id="accordion" class="<%= "user-role-" + current_user.role.name %>" role="tablist" aria-multiselectable="true">
			   	<% @cards.each do |card| %>
					<%= render_slider( card, card[:template] ) %>
				<% end %>	
				<%= paginate( @cards_paginatable ) %>
			</div>		
		</div>
	</div>
</div>