<div class="bg-white oportunity-resume">
	<%= hidden_field_tag :current_url, edit_pages_url %>
	<%= render 'layouts/counters', icon: 'book', page_title: 'Páginas' %>
	<section class="development admin-properties admin-screen">
		<div class="container large-container">
		</div>
	</section>
	<div class="container vertical-tabs">
		<div class="row">
			<div class="left-col col-xs-12 col-sm-12 col-md-2 right-col">
	    		<ul class="admin-page-list nav nav-tabs tabs-left">
	    			<% @pages.each do |page| %>
	    				<% active = page.name == 'home' && ! params.has_key?( :page ) || params[:page] == page.name ? 'active' : ''  %>
		      			<li class="admin-page-<%= page.name %> <%= active %>"><a href="<%= edit_pages_url %>?page=<%= page.name %>"><%= page.display_name %></a></li>
		      		<% end %>
	    		</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-10 left-col">
	    		<div class="tab-content">
	      			<div class="tab-pane active">
	      				<%= render 'admin/pages/edit' %>
	      			</div>
	    		</div>
			</div>
		</div>
	</div>
</div>
