<div class="bg-white oportunity-resume">
	<%= render 'layouts/counters', icon: 'building', page_title: 'Empreendimentos' %>
	<section class="development admin-properties admin-screen">
		<div class="container large-container">
			<div class="row">
				<div class="col-lg-12">
					<%#= render 'admin/property_searchform' %>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-right">
					<a href="<%= new_property_url %>" style="margin-bottom: 10px;" class="btn-success btn" data-remote="true" data-type="script" data-toggle="modal" data-target="#modal-window">Cadastrar novo</a>
				</div>
			</div>
			<div class="table-responsive">
				<table id="myTable" class="table">
					<thead>
						<tr>
							<th>Imagem</th>
							<th>Nome</th>
							<th>Tipo</th>
							<th>Status</th>
							<th>Estágio</th>
							<th>Criado por</th>
							<th>Impressões</th>
							<th>Visualizações</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<% @properties.each do |p| %>
						<tr>
							<td>
								<%= image_tag property_cover_url( p ), class: 'img-responsive'  %>
							</td>
							<td>
								<%= p.name %>
							</td>
							<td>
								<%= p.property_kind.display_name %>
							</td>
							<td>
								<%= enum_i18n( Property, 'status', p.status ) %>
							</td>
							<td>
								<%= p.stage %>%
							</td>
							<td>
								<%= p.owner.name %>
							</td>
							<td>
								<%= p.views.count %>
							</td>
							<td>
								<%= p.single_views %>
							</td>
							<td>
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<%= fa_icon 'cog' %> <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="<%= property_url( p.id ) %>">Visualizar</a></li>
										<li><a href="<%= edit_property_url( p.id ) %>">Editar</a></li>
										<li><a href="#" class="admin-action" data-id="<%= p.id %>" data-action="destroyProperty">Excluir</a></li>
									</ul>
								</div>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<!-- <div class="property-list list-group">
			<div class="list-group-item property-list-header">
			<div class="row">
			<div class="col-sm-1">Imagem</div>
			<div class="col-sm-3">Nome</div>
			<div class="col-sm-2">Tipo</div>
			<div class="col-sm-2">Status</div>
			<div class="col-sm-1">Estágio</div>
			<div class="col-sm-2">Criado por</div>
			<div class="col-sm-1">Ações</div>
		</div>
	</div>
	<% @properties.each do |p| %>
	<div id="property-item-<%= p.id %>" class="list-group-item">
	<div class="row">
	<div class="col-sm-1 property-list-thumb">
	<%= image_tag property_cover_url( p ), class: 'img-responsive'  %>
</div>
<div class="col-sm-3">
<%= p.name %>
</div>
<div class="col-sm-2">
<%= p.property_kind.display_name %>
</div>
<div class="col-sm-2">
<%= enum_i18n( Property, 'status', p.status ) %>
</div>
<div class="col-sm-1">
<%= p.stage %>%
</div>
<div class="col-sm-2">
<%= p.owner.name %>
</div>
<div class="col-sm-1">
<div class="btn-group">
<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<%= fa_icon 'cog' %> <span class="caret"></span>
</button>
<ul class="dropdown-menu">
<li><a href="<%= property_url( p.id ) %>">Visualizar</a></li>
<li><a href="<%= edit_property_url( p.id ) %>">Editar</a></li>
<li><a href="#" class="admin-action" data-id="<%= p.id %>" data-action="destroyProperty">Excluir</a></li>
</ul>
</div>
</div>
</div>
</div>
<% end %> -->
<div class="text-center">
	<%= paginate( @properties ) %>
</div>
</div>
</div>
</section>
</div>
