<div class="bg-white oportunity-resume">
	<%= render 'layouts/counters', icon: 'users', page_title: 'Usuários' %>
	<section class="development admin-users admin-screen">
		<div class="container large-container">
			<div class="row">
				<div class="col-lg-12 text-right">
					<a href="<%= new_user_url %>" style="margin-bottom: 10px;" class="btn-success btn">Cadastrar novo</a>
				</div>
			</div>
			<div class="table-responsive">
				<table id="myTable" class="table">
					<thead>
						<tr>
							<th>Foto</th>
							<th>Nome</th>
							<th>E-mail</th>
							<th>Perfil</th>
							<th>Cidade</th>
							<th>Estado</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<% @users.each do |u| %>
						<tr>
							<td class="property-list-thumb" style="width:20px;height:20px;">
								<%= image_tag u.avatar.url( :thumb ), class: 'img-responsive'  %>
							</td>
							<td>
								<%= u.name %>
							</td>
							<td>
								<%= u.email %>
							</td>
							<td>
								<%= u.role.display_name %>
							</td>
							<td>
								<%= u.city.name unless u.city.nil? %>
							</td>
							<td>
								<%= u.state.name unless u.state.nil? %>
							</td>
							<td>
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<%= fa_icon 'cog' %> <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="<%= user_url( u.id ) %>">Visualizar</a></li>
										<li><a href="<%= edit_user_url( u.id ) %>">Editar</a></li>
										<li><a href="#" class="admin-action" data-id="<%= u.id %>" data-action="destroyUser">Excluir</a></li>
									</ul>
								</div>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</div>
