<div class="col-lg-1 text-center search-result-icon">
	<%= fa_icon 'envelope' %>
</div>
<div class="col-lg-10 search-result-resume">
	<div class="search-result-name"><%= object.subject %></div>
	<div class="search-result-excerpt"><%= truncate( sanitize( object.text, tags: [] ), length: 100 ) %></div>
	<div class="search-result-footer">
		<% 
			from = object.from
			user = User.find_by_email( object.from ) 
			unless user.nil?
				from = user.name
			end
		%>
		De: <%= from %>	em <%= object.created_at.to_datetime.strftime( "%d/%m/%Y %H:%M" )  %>
	</div>
</div>
<div class="col-lg-1 text-center search-result-link">
	<a href="<%= message_url( object.id ) %>"><%= fa_icon 'external-link' %></a>
</div>