<div class="col-lg-1 text-center search-result-icon">
	<%
		image = object.pictures.find_by_kind( :cover )
		image = image.nil? ?missing_img_url : object.pictures.find_by_kind( :cover ).file.url( :thumb )
	%>
	<%= image_tag image %>
</div>
<div class="col-lg-10 search-result-resume">
	<div class="search-result-name"><%= object.name %></div>
	<div class="search-result-excerpt"><%= truncate( sanitize( object.info, tags: [] ), length: 100 ) %></div>
	<div class="search-result-footer">
		<%= object.property_kind.display_name %> |	<%= object.stage %>% concluído
	</div>
</div>
<div class="col-lg-1 text-center search-result-link">
	<a href="<%= property_url( object.id ) %>"><%= fa_icon 'external-link' %></a>
</div>