<div class="col-lg-1 text-center search-result-icon">
	<%= image_tag( object.avatar.url( :thumb ), size: '40x40' ) %>
</div>
<div class="col-lg-10 search-result-resume">
	<div class="search-result-name"><%= object.name %> - <%= object.email %></div>
	<div class="search-result-excerpt"><%= truncate( sanitize( object.bio, tags: [] ), length: 100 ) %></div>
	<div class="search-result-footer">
		<%= user.object.name unless object.city.nil? %>
	</div>
</div>
<div class="col-lg-1 text-center search-result-link">
	<a href="<%= customer_activities_url( object.id ) %>"><%= fa_icon 'external-link' %></a>
</div>