<div class="card" data-progress-bar="%{progress_bar}" data-can-edit="%{can_edit}" data-follow-button="%{follow_button}" data-show-user="%{show_user}">
    <div class="card-header container reset" role="tab" id="heading-%{id}">
        <h5 class="bg-green collapsed txt-ct mgt-20 ft-20 rlt" id="abre-acordeon-%{id}" collapsed data-toggle="collapse" data-parent="#accordion" href="#collapse-%{id}" aria-expanded="false" aria-controls="collapse-%{id}">
           	<i class="fa fa-%{icon} fa-2x" aria-hidden="true"></i>
           	<span class="mglr-20">%{title}</span>
            <i class="fa fa-chevron-circle-up location-arrow fa-2x" aria-hidden="true"></i>
        </h5>
    </div>
	<div id="collapse-%{id}" class="collapse" role="tabpanel" aria-labelledby="heading-%{id}">
  		<div class="card-block">
    		<div class="row mgb-50 pdtb-50 bg-grey">
    			<div class="container">
    				<div class="slider-first">
					  	%{slides}
		       		</div>
    			</div>
    		</div>
  		</div>
	</div>
</div>
