<div class="slider-container slider-filtered" data-items="%{items}">
	<div class="bg-orange ft-white bb-grey slider-type ct-mg mgt-50 txt-ct valor">%{title}</div>
	<div class="pdt-35 pdb-30 slider oportunities bg-grey" data-progress-bar="%{progress_bar}" data-can-edit="%{can_edit}" data-follow-button="%{follow_button}" data-show-user="%{show_user}">
		<div class="slider-wrapper">
			<div class="slider-first" data-slider="false">%{slides}</div>
		</div>
	</div>
</div>