<div class="slider-first-item">
	<div class="slider-content" data-property_id="%{id}">
		<div class="name bg-green ft-white ft-16">
			<a href="%{url}" style="color: white"><p>%{name}</p></a>
		</div>
		<a href="%{url}">
			<img width="230" height="210" src="%{image_src}" class="slider-main-img" />
		</a>
		<span class="user-img">
			<img width="230" height="210" src="%{user_src}" class="slider-main-img" />
		</span>
		<a class="fallow bg-white ft-12 action-button" data-action="fast-follow" data-following="%{following}" data-id="%{id}" data-accompaniment-id="%{accompaniment_id}"></a>
		<a href="%{edit_url}" class="edit-button bg-white ft-12">Editar</a>
		<%= link_to "Excluir", '/properties/%{id}',
            data: {:confirm => 'Are you sure?', :method => :delete}, :class => 'delete-button bg-white ft-12' %>
		<!-- <a href="#" class="delete-button bg-white ft-12">Excluir</a> -->
		<div class="progress">
	    	<div class="progress-bar" style="width:%{stage_percent}" role="progressbar" aria-valuenow="%{stage}" aria-valuemin="0" aria-valuemax="100">
	    		%{stage}%
	    	</div>
		</div>
	</div>
</div>
