<div class="slider-container" data-items="%{items}">
	<div class="bg-orange ft-white bb-grey slider-type ct-mg mgt-50 txt-ct valor title-op">%{title}</div>
	<div class="pdt-35 pdb-30 slider oportunities bg-grey hidden-xs hidden-sm gallery-op" data-progress-bar="%{progress_bar}" data-can-edit="%{can_edit}" data-follow-button="%{follow_button}" data-show-user="%{show_user}">
		<div class="slider-wrapper">
			<div class="slider-first">%{slides}</div>
			<div class="text-center" style="padding: 15px 0">
				<a class="bt-green ft-white btn-view-all hidden-xs hidden-sm" href="%{more_button_url}">Ver todos</a>
			</div>
		</div>
	</div>
</div>
