<tr id="deal-row-%{id}" class="deal-row" data-status="%{status}">
	<td>%{updated_at}</td>
    <td>%{name}</td>
    <td>%{plant}</td>
    <td>%{spot}</td>
    <td class="realtor-name">%{realtor_name}</td>
    <td class="owner-name">%{owner_name}</td>
    <td class="investor-name">%{investor_name}</td>
    <td class="hide">R$ %{down_payment} + %{installments}x</td>
    <td class="deal-status">%{status}</td>
    <td class="deal-actions text-center">
    	<div class="btn-group">
			<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    	<i class="fa fa-cog" aria-hidden="true"></i>
		  	</button>
		  	<ul class="dropdown-menu">
		    	<li><a href="%{deal_status_url}&status=finished" data-remote="true" data-type="script" data-toggle="modal" data-target="#modal-window">Aprovado</a></li>
		    	<li><a href="%{deal_status_url}&status=refused" data-remote="true" data-type="script" data-toggle="modal" data-target="#modal-window">Reprovada</a></li>
		    	<li><a href="%{deal_status_url}&status=counter" data-remote="true" data-type="script" data-toggle="modal" data-target="#modal-window">Contra proposta</a></li>
		  	</ul>
		</div>
    </td>
    <td class="deal-view text-center">
        <a href="%{deal_show_url}" title="Visualizar proposta" class="btn has-eye" data-remote="true" data-type="script" data-toggle="modal" data-target="#modal-window"><i class="fa fa-eye" aria-hidden="true"></i></a>
        <a href="%{edit_deal_url}" title="Enviar proposta" data-action="proposal" data-remote="true" data-type="script" data-toggle="modal" data-target="#modal-window">
            <i class="fa fa-arrow-up"></i> 
        </a>
    </td>
</tr>