<div class="card" data-progress-bar="%{progress_bar}" data-can-edit="%{can_edit}" data-follow-button="%{follow_button}" data-show-user="%{show_user}">
    <div class="card-header container reset" role="tab" id="heading-%{id}">
        <h5 class="bg-green collapsed txt-ct mgt-20 ft-20 rlt" id="abre-acordeon-%{id}" data-parent="#accordion" href="#collapse-%{id}" aria-expanded="false" aria-controls="collapse-%{id}">
           	<i class="fa fa-%{icon} fa-2x" aria-hidden="true"></i>
           	<span class="mglr-20">%{title}</span>
            <i class="fa fa-arrow-circle-down fa-2x pull-right" onclick="$('.collapse').toggle();" aria-hidden="true" style="padding-right: 50px"></i>
        </h5>
    </div>
	<div id="collapse-%{id}" class="collapse" role="tabpanel" aria-labelledby="heading-%{id}">
  		<div class="card-block">
    		<div class="row mgb-50 pdtb-50 bg-grey">
    			<div class="container table-responsive">
                    <table id="myTable" class="table-deals table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Atualizado em</th>
                                <th>Nome do empreendimento</th>
                                <th>Planta</th>
                                <th>Referência</th>
                                <th class="realtor-name">Consultor</th>
                                <th class="owner-name">Parceiro</th>
                                <th class="investor-name">Investidor</th>
                                <th class="hide">Proposta</th>
                                <th>Status</th>
                                <th class="deal-actions">&nbsp;</th>
                                <th class="deal-view">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
				  	        %{slides}
                        <tbody>
                    </table>
    			</div>
    		</div>
  		</div>
	</div>
</div>
