<%= @body.html_safe %>
<% unless @message.property_id.nil? %>
	<br/><p><b>Link do imóvel:</b> <%= link_to property_url( @message.property_id ), property_url( @message.property_id ), target: '_blank' %></p>
<% end %>