<%= @body.html_safe %>
<% unless @note.property_id.nil? %>
	<br/><p><b>Link do imóvel:</b> <%= link_to property_url( @note.property_id ), property_url( @note.property_id ), target: '_blank' %></p>
<% end %>