<p>O empreendimento <%= @property.name %> que você estava seguindo foi vendido</p>
<p>Mas não fique triste, ainda temos várias oportunidades para você, visite nosso portal e encontre mais oportunidades</p>
<p><%= link_to 'Visitar o portal agora', root_url %></p>