<div class="col-md-12">
  <%= form_tag('/groups/add_investor', method: :post) do %>
  <%= hidden_field_tag 'group_id', @group.id %>
  <div class="form-group">
    <label for="investor_id">Investidor</label>
    <%= select_tag( :investor_id, options_for_select(@investors.collect { |investor| [investor.name, investor.id] }),
    { prompt: 'Selecione um Investidor', class: "form-control s2-select", id: 'investor_id', required: ''  }) %>
  </div>

    <br><br>

    <button type="submit" name="button" id="add_investor" class="btn btn-provizio"><%= fa_icon 'plus' %> Adicionar Investidor ao grupo</button>
    <br><br>
  <% end %>
</div>
<div class="col-md-12">
  <table class="table table-bordered">
    <tbody class='investors'>
      <% @group.groups_user.each do |group_user| %>
        <tr>
          <td class="col-md-10"><%= group_user.user.name %></td>
          <td class="col-md-2 text-center">
            <%= form_tag("/groups/destroy_investor/#{group_user.id}", method: :delete) do %>
              <button type="submit" name="button" class="btn btn-danger"><%= fa_icon 'trash' %></button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
