<%= form_for(group) do |f| %>
  <div class="col-md-8 col-md-offset-2" style="margin-top: 20px;">
    <div class="form-group">
      <%= f.label 'Nome do grupo' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'Empreendimento' %>
      <% if controller.action_name == 'edit' %>
      <span class='form-control'>
        <%= group.property.name %>
      </span>
      <% else %>
        <%= f.select :property_id, @properties.collect { |property| [property.name, property.id] }, {}, {class: 'form-control s2-select', required: ''} %>
      <% end %>
    </div>
    <div class="form-group col-md-4 col-md-offset-4 col-xs-12 col-xs-offset-2">
      <div class="row text-center">
        <div class="col-md-4 col-xs-4">
          <a href="/panel/my_ventures" class="btn btn-warning">Voltar</a>
        </div>
        <div class="col-md-4 col-xs-4">
        <% if controller.action_name == 'edit' %>
          <%= f.submit 'Atualizar', class: 'btn btn-success'%>
        <% else %>
          <%= f.submit 'Criar', class: 'btn btn-success'%>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
