<div class="col-md-12">
  <%= form_tag('/groups/invite_investor', method: :post) do %>
    <%= hidden_field_tag 'group_id', @group.id %>
    <div class="form-group">
      <label for="name">Nome</label>
      <%= text_field_tag 'name', nil, {placeholder: 'Nome'} %>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <%= text_field_tag 'email', nil, {placeholder: 'Email'} %>
    </div>
    <br><br>

    <button type="submit" name="button" id="add_investor" class="btn btn-provizio"><%= fa_icon 'plus' %> Convidar ao grupo</button>
    <br><br>
  <% end %>
</div>
<div class="col-md-12">
  <table class="table table-bordered">
    <tbody class='investors'>
      <% @invites.each do |invite| %>
        <tr>
          <td class="col-md-5"><%= invite.name %></td>
          <td class="col-md-5"><%= invite.email %></td>
          <td class="col-md-2 text-center">
            <%= form_tag("/groups/destroy_invite/#{invite.id}", method: :delete) do %>
              <button type="submit" name="button" class="btn btn-danger"><%= fa_icon 'trash' %></button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
