<div class="bg-white">
    <%= render 'layouts/counters', page_title: 'Acompanhamento', icon: 'line-chart' %>
    <section class="development">
      <%= render 'form', group: @group %>
    <section>
</div>
