<div class="bg-white oportunity-resume">
  <%= render 'layouts/counters', icon: current_user_has_role?( 'construction_company' ) ? 'building' : 'binoculars', page_title: current_user_has_role?( 'construction_company' ) ? 'Empreendimentos' : 'Oportunidades' %>
  <section class="development">
    <div class="container">
      <!-- <p id="notice"><%= notice %></p> -->
      <div class="row text-center">
        <div class="col-md-12 title-group text-center">
          <%= fa_icon 'users' %>   Groupos de Investidores 
        </div>
      </div>


      <% @groups.each do |group| %>

      <%= group.name %>
      <%= group.property %>
      <%= group.user %>
      <%= link_to 'Show', group %>
      <%= link_to 'Edit', edit_group_path(group) %>
      <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>

      <% end %>
    </div>
  </section>
  </div

  <%= link_to 'New Group', new_group_path %>
