<div class="bg-white">
  <%= render 'layouts/counters', page_title: 'Acompanhamento', icon: 'line-chart' %>
  <section class="development">
    <div class="container">

      <div class="col-md-12 title-group text-center">
        <%= fa_icon 'users' %>   Criar Novo Grupo
      </div>
      <br>
      <br>

      <%= render 'form', group: @group %>
    </div>
  <section>
</div>
