<div class="bg-white">
  <%= render 'layouts/counters', page_title: 'Acompanhamento', icon: 'line-chart' %>
  <section class="development">
    <div class="container">
      <div class="investors">
        <div class="panel panel-provizio">
          <div class="panel-heading">
            <div class="panel-title text-center">
              <%= "#{@group.name}/#{@group.property.name}" %>
            </div>
          </div>
          <div class="panel-body">
            <ul class="nav nav-tabs nav-group">
              <li class="nav-item <%= @tab == 'membros' ? 'active' : '' %>">
                <a class="nav-link link-tab-group" data-toggle="tab" href="#add">Membros</a>
              </li>
              <li class="nav-item link-tab-group <%= @tab == 'convidados' ? 'active' : '' %>">
                <a class="nav-link" data-toggle="tab" href="#invite">Convidados</a>
              </li>
            </ul>
            <div class="tab-content tab-group">
              <div id="add" class="tab-pane fade in <%= @tab == 'membros' ? 'active' : '' %>">
                <%= render partial: 'groups/add_form' %>
              </div>
              <div id="invite" class="tab-pane fade in <%= @tab == 'convidados' ? 'active' : '' %>">
                <%= render partial: 'groups/invite_form' %>
              </div>
            </div>

          </div>
        </div>
        <div class="row text-center">
          <%= form_tag("/groups/#{@group.id}", method: :delete) do %>
          <a href="/panel/my_ventures" class="btn btn-provizio">Voltar</a>
          <a href="<%= "/groups/#{@group.id}/edit" %>" class="btn btn-warning">Editar</a>
          <button type="submit" name="button" class="btn btn-danger">Excluir Grupo</button>
          <% end %>
        </div>
      </div>
    </div>
    <section>
    </div>
