<div class="bg-white client">
	<%= render 'layouts/counters', page_title: 'Novo usuário', icon: 'user' %>
	<div class="container small-container form-sign pdt-0 pdm-xs">
		<%= render 'users/form', resource: 'manage_users' %>
	</div>
</div>