<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'proform form-sign ft-20 mgtb-20', data: { 'parsley-validate': 'data-parsley-validate' } }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
	<%= devise_error_messages! %>
	 <div class="row">
        <div class="field">
            <div class="col-sm-12 col-md-3 columns reset">
                <%= f.label :password, 'Nova senha', class: 'form-item ft-16' %>
            </div>
            <div class="col-sm-12 col-md-9 columns reset">
                <%= f.password_field :password, required: 'required', autofocus: true, autocomplete: "off" %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="field">
            <div class="col-sm-12 col-md-3 columns reset">
                <%= f.label :password_confirmation, 'Repita a senha', class: 'form-item ft-16' %>
            </div>
            <div class="col-sm-12 col-md-9 columns reset">
                <%= f.password_field :password_confirmation, required: 'required', autocomplete: "off" %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="actions">
            <%= f.button( 'Cadastrar senha', type: 'submit', class: "button bt-green left") %>
        </div>
    </div>
<% end %>