<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'proform form-sign ft-20 mgtb-20', data: { 'parsley-validate': 'data-parsley-validate' } }) do |f| %>
	<%= devise_error_messages! %>
	 <div class="row">
        <div class="field">
            <div class="col-sm-12 col-md-2 col-lg-2 columns reset">
                <%= f.label :email, 'E-mail', class: 'form-item ft-16' %>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-10 columns reset">
                <%= f.email_field :email, required: 'required' %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="actions">
            <%= f.button( 'Solicitar nova senha', type: 'submit', class: "button bt-green left") %>
        </div>
    </div>
<% end %>