<div class="modal-header">
   	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">Alterar ordem das plantas</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-12">
        	<% plants = @property.pictures.where( kind: 'plant' ).order( sequence: :asc ) %>
			<div class="container">
				<div id="property-edit-gallery" data-items="<%= plants.count %>" style="margin: 0">
					<div class="property-slider sortable">
						<% plants.each do |plant| %>
							<div id="gallery-pic-<%= plant.id %>" class="gallery-item" data-id="<%= plant.id %>">
								<%= image_tag plant.file.url( :thumb ) %>
								<div class="plant-label">
									<%= plant.label %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
<div class="modal-footer">
   	<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Fechar e atualizar</button>
</div>