<%= form_for @property, html: { data: {'parsley-validate': 'data-parsley-validate', 'remote': true } } do |f| %>
	<%= f.hidden_field :user_id, value: current_user.id %>
	<div class="modal-header">
	   	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Cadastrar novo empreendimento</h3>
	</div>
	<div class="modal-body proform">
		<div class="row">
			<div class="col-lg-12">
	           	<div class="form-group">
	              <%= f.label :name, 'Nome', class: 'control-label' %><br>
	              <%= f.text_field :name, autofocus: true, required: 'required', class: '' %>
	           	</div>
	    </div>
	    </div>
	    <div class="row">
			<div class="col-lg-12">
	           	<div class="form-group">
	           		<%= f.label :kind, 'Tipo', class: 'control-label' %><br>
		           <%= f.select( :kind, options_for_select( @kinds ), { include_blank: 'Selecione' }, { required: 'required', class: 's2-select', style: 'width: 100%' } ) %>
	           	</div>
	        </div>
	    </div>
	     <div class="row">
			<div class="col-lg-12">
	           	<div class="form-group">
	           		<%= f.label :reservation_time, 'Tempo de reserva (dias)', class: 'control-label' %><br>
		            <%= f.select( :reservation_time, options_for_select( @reservation_times, @reservation_times.first) , {}, { required: 'required', class: 's2-select', style: 'width: 100%' } ) %>
	           	</div>
	        </div>
	    </div>
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group required">
						<%= f.label :state_id, 'UF', class: 'control-label' %><br>
									<%= f.select( :state_id, @states.all.collect {|p| [ p.acronym, p.id ] }, { :include_blank => true }, { class: "form-control s2-select fill-cities", required: 'required', data: { target: '#property_city_id'} }) %>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="form-group required">
						<%= f.label :city_id, 'Cidade', class: 'control-label' %><br>
										<%= f.select( :city_id, [], { :include_blank => true }, { class: "form-control s2-select", required: 'required'}) %>
					</div>
				</div>
				<div class="col-lg-12">
           	<div class="form-group">
              <%= f.label :district, 'Bairro', class: 'control-label' %><br>
              <%= f.text_field :district, autofocus: true, class: '' %>
           	</div>
		    </div>
			</div>

	</div>
	<div class="modal-footer">
	   	<button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancelar</button>
	   	<%= f.button( 'Cadastrar', type: 'submit', class: "btn btn-success") %>
	</div>
<% end %>
