<div class="searchable-wrapper">
	<div class="row">
		<div class="col-md-8">
			<% if params.has_key?( :q )  %>
				<p class="results-for">Mostrando resultados para: <b><%= params[:q] %></b></p>
			<% end %>
		</div>
		<div class="col-xs-12">
				<div class="col-md-1 col-md-offset-11 col-xs-6 col-xs-offset-6">
					<a href="/properties/search" class="fa fa-search btn btn-info pull-right" style="margin-right:0px">&nbsp;&nbsp;Buscar</a>
				</div>
		</div>
	</div>
</div>
