<% @properties.each do |property| %>
<div class="panel panel-provizio">
  <div class="panel-heading">
    <h3 class="panel-title"><%= property.name  %> </h3>
  </div>
  <div class="panel-body no-padding">
    <div class="col-md-2 col-sm-12 no-padding" >
      <div class="imagens col-sm-12 no-padding">
        <% image = property.pictures.find_by_kind( :cover ) %>
        <% image = image.nil? ? missing_img_url : property.pictures.find_by_kind( :cover ).file.url( :thumb )%>
        <img src="<%= image %>" class="img-responsive no-padding img-result">
        <a href="https://api.whatsapp.com/send?text=Acesse:-<%= property_url(property) %>" class="whatsapp-link hidden-xs"><%= image_tag "whatsapp.png", class: "whatsapp" %></a>
        <a href="#" class="follow-link hidden-sm hidden-xs" >Seguir</a>
      </div>
      <div class="col-sm-12 hidden-md hidden-lg share-links">
        <div class="row">

          <div class="col-sm-5 col-xs-6 pull-left whatsapp-link">
            <a href="whatsapp://send?text=Acesse: - <%= property_url(property) %>"  style="overflow-wrap:break-word;">
              <i class="fa fa-whatsapp" style="color:green;"> <span style="color:#006680;">Compartilhar no What's app</span></i>
            </a>
          </div>
          <div class="col-sm-4 col-xs-3 pull-right follow-link">
            <a href="#" style="vertical-align: middle;margin:auto;">Seguir</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10 col-sm-12 info-property">
      <div class="status-property hidden-xs">
        <%= property.stage_string %>
      </div>
      <div class="row">
        <div class="col-xs-1 icon-result">
          <i class="fa fa-map-marker pull-left icon-chevron-left" style="vertical-align: middle;color: #f78941;"></i>
        </div>
        <div class="col-xs-9 text-result">
          <span> <%= property.address %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-1 icon-result">
          <i class="fa fa-bed pull-left icon-chevron-left" style="vertical-align: middle;color: #f78941;"></i>
        </div>
        <div class="col-xs-9 text-result">
          <span> <%= "Descrição" %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-1 icon-result">
          <i class="fa fa-home pull-left icon-chevron-left" style="color: #f78941;"></i>
        </div>
        <div class="col-xs-9 text-result">
          <span><%= property.info.try(:html_safe) %></span>
        </div>
      </div>
      <div class="row">
        <span class="value-property pull-left"><%= currency_format(property.value_centavos) %></span>
        <a href="<%= property_url(property) %>" class="link-vermais pull-right text-center">+ Ver mais</a>
      </div>
    </div>
  </div>
</div>
<% end %>
