var $modal = $( '#modal-window' );
$modal.find( '.modal-dialog' ).removeClass( 'modal-sm' ).addClass( 'modal-lg' );
$modal.find( ".modal-content" ).html( "<%= j (render 'properties/change_plants_order') %>" );
initGallerySorter();
$modal.modal();
$modal.on( 'hide.bs.modal', function (e) {
	location.reload();
});
$( window ).on( 'onGalleryImageUpdated', function( e, $sliderItem ){
	$sliderItem.addClass( 'updated' );
});