<div class="bg-white property-edit">
	<%= hidden_field_tag :property_id, @property.id %>
	<%= hidden_field_tag :editable, 1 %>
	<%= hidden_field_tag :map_api_key, @map_api_key %>
	<%= render 'layouts/counters', icon: current_user_has_role?( 'construction_company' ) ? 'building' : 'binoculars', page_title: current_user_has_role?( 'construction_company' ) ? 'Empreendimentos' : 'Oportunidades' %>
	<%= render partial: 'properties/edit/header' %>
	<%= render partial: 'properties/edit/gallery' %>
	<%= render partial: 'properties/edit/info' %>
	<%= render partial: 'properties/edit/plant' %>
	<%= render partial: 'properties/edit/stage' %>
	<%= render partial: 'properties/edit/map' %>
	<%= render partial: 'properties/edit/footer' %>
</div>