<div class="bg-white oportunity-resume">
	<%= render 'layouts/counters', icon: current_user_has_role?( 'construction_company' ) ? 'building' : 'binoculars', page_title: current_user_has_role?( 'construction_company' ) ? 'Empreendimentos' : 'Oportunidades' %>
	<section class="development">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<%= render 'properties/searchform' %>
				</div>
			</div>
		</div>
		<% if params.has_key?( :filter_by ) %>
			<% @sliders.each do |slider| %>
				<% if slider[:name] == params[:filter_by] %>
					<%= render_slider( slider,'filtered' ) %>
				<% end %>
			<% end %>
			<div class="text-center" style="padding: 2.5% 0 2.5% 0;">
				<a class="bt-green ft-white" href="<%= root_url %>">Voltar</a>
			</div>
		<% else %>
			<% @sliders.each do |slider| %>
				<%= render_slider( slider ) %>
			<% end %>
		<% end %>
	</section>
</div>
<div class="hidden-md hidden-lg">
	<br><br><br><br>

</div>
