<div class="bg-white oportunity-resume">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-provizio">
            <div class="panel-heading">
              <h3 class="panel-title">Parâmetros de busca</h3>
            </div>
            <div class="panel-body">
              <h6>Localização do Imóvel</h6>
              <br>
              <div class="col-md-12">
                <div class="form-group">
                  <%= select_tag( :state_id, options_for_select(@states.all.collect {|p| [ p.acronym, p.id ] }), { prompt: 'Estado', class: "form-control s2-select fill-cities", required: 'required', data: { target: '#city_id'} }) %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= select_tag( :city_id, options_for_select(@cities.collect {|p| [ p.name, p.id ] }), { prompt: 'Cidade', class: "form-control s2-select", required: 'required'}) %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= text_field_tag "district", nil, {placeholder: "Bairro"} %>
                </div>
              </div>
              <br>
              <div class="col-md-12 no-padding no-border">
                <hr class="no-padding no-border">
              </div>
              <h6>Tipo de Imóvel</h6>
              <div class="col-md-12">
                <% @properties_kinds.each do | kind | %>
                <div class="form-group check-div">
                  <div class="row">
                    <div class="col-xs-1">
                      <%= check_box_tag 'property_kind', kind.id, false, {class: "check_kind", id: 'property_kind'} %>
                    </div>
                    <div class="col-xs-10">
                      <%= kind.display_name %>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
              <div class="col-md-12 no-padding no-border">
                <hr class="no-padding no-border">
              </div>
              <h6>Estágio da obra</h6>
              <div class="col-md-12">
                  <% @stages.each do | key, value | %>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-1">
                         <%= check_box_tag 'stage', key, false, {class: "custom-control custom-checkbox stages", id: 'stage'}%>
                      </div>
                      <div class="col-xs-10">
                         <%= value %>
                      </div>
                    </div>
                  </div>
                  <% end %>
              </div>
              <div class="col-md-12 no-padding no-border">
                <hr class="no-padding no-border">
              </div>
              <h6>Valor</h6>
              <div class="col-md-12">
                <div class="form-group">
                  <%= text_field_tag "vlr_min", nil, {placeholder: "Valor mínimo"} %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= text_field_tag "vlr_max", nil, {placeholder: "Valor máximo"} %>
                </div>
              </div>
              <div class="col-md-12 no-padding no-border">
                <hr class="no-padding no-border">
              </div>
              <h6>Parceiro</h6>
              <div class="col-md-12">
                <div class="form-group">
                  <%= select_tag( :user_id, options_for_select(@partners.all.collect {|p| [ p.name, p.id ] }), { prompt: 'Parceiro', class: "form-control s2-select"}) %>
                </div>
              </div>
              <div class="text-center">
                <button type="button" name="button" class="btn btn-lg btn-provizio">Buscar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-4 col-sm-12 search-title text-center">
              Resultados da Busca
            </div>
          </div>
          <div class="search-result">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="/" class="btn btn-back btn-lg">Voltar</a>
        </div>
      </div>
      <br><br>
    </div>
  </section>
</div>
