<div class="bg-white property-show">
	<%= hidden_field_tag :property_id, @property.id %>
	<%= hidden_field_tag :editable, 0 %>
	<%= hidden_field_tag :map_api_key, @map_api_key %>
	<%= render 'layouts/counters', icon: current_user_has_role?( 'construction_company' ) ? 'building' : 'binoculars', page_title: current_user_has_role?( 'construction_company' ) ? 'Empreendimentos' : 'Oportunidades' %>
	<%= render partial: 'properties/show/header' %>
	<%= render partial: 'properties/show/gallery' %>
	<%= render partial: 'properties/show/actions' %>
	<%= render partial: 'properties/show/info' %>
	<%= render partial: 'properties/show/plant' %>
	<%= render partial: 'properties/show/map' %>
	<%= render partial: 'properties/show/stage' %>
	<%= render partial: 'properties/show/footer' %>
</div>
