<%= form_for( Attachment.new, html: { multipart: true, class: 'dropzone dropzone-attachments'} ) do |f| %>
	<div class="dz-message">
		<div class="attach-add">
			<i class="fa fa-plus-circle" aria-hidden="true"></i>
			<span>Clique ou arraste arquivos aqui para fazer o upload</span>
		</div>
	</div>
	<div class="attach-upload-confirm">
		<button class="do-dropzone button bt-green ft-orange">Confirmar upload</button>
	</div>
	<%= f.hidden_field :uploaded_by, value: current_user.id %>
	<%= f.hidden_field :attachable_id, value: @attachable_id %>
	<%= f.hidden_field :attachable_type, value: @attachable_type %>
<% end %>