<div class="page-sobre">
	<div class="sobre bg pd-30" style="background-image: url(<%= page_content( :banner ) %>)">
		<section class="sobre-container ct-mg bgt ft-green pdtb-100 ft-white">
			<h1 class="upper ft-24"><strong><%= page_content( :banner_title ) %></strong></h1>
			<p class="pdtb-10 ft-18"><%= page_content( :banner_subtitle ) %></p>
			<p class="descrition mgtb-20"><%= page_content( :banner_text ) %></p>
			<div class="row mgtb-50">
				<% page_content( :iconed_content ).each do |content| %>
					<div class="col-sm-12 col-md-4 col-lg-4 columns">
						<%= image_tag content[:image], class: 'ct-mg' %>
						<p class="bold mgt-30 txt-ct"><strong><%= content[:text] %></strong></p>
					</div>
				<% end %>
			</div>
			<div class="row">
				<p class="mgtb-30"><%= page_content( :bottom_text ) %></p>
				<p><%= link_to page_content( :bottom_link_text ), new_user_registration_path, { class: 'ft-orange bold ft-20 underline-on-hover' }  %></p>
			</div>
		</section>
	</div>
</div>