<div class="page-home">
	<div class="clean banner banner-video" style="background-image: url(<%= page_content( :banner ) %>)">
		<div class="container">
			<div class="row">
				<div class="col-md-3 video">
					<p class="future-video hide"><%= page_content( :banner_video ) %></p>
				</div>
				<div class="col-md-6 text text-center">
					<h2 class="shadowded"><%= page_content( :banner_title ) %></h2>
					<p><%= page_content( :banner_text ) %></p>
					<br/>
					<a class="cta" href="<%= page_content( :banner_button_url ) %>"><%= page_content( :banner_button_text ) %></a>
				</div>
				<div class="col-md-3 video">
				</div>
			</div>
		</div>
	</div>
	<div class="clean features">
		<div class="container">
			<div class="row" data-match-height>
				<% page_content( :iconed_content ).each do |content| %>
					<div class="feature col-sm-12 col-md-6" data-height-watch>
						<div class="feature-icon">
							<%= fa_icon content[:icon] %>
						</div>
						<h2><%= content[:title] %></h2>
						<p><%= content[:text] %></p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="clean banner banner-central">
		<div class="container">
			<div class="row" data-match-height>
				<% page_content( :boxes ).each do |content| %>
					<div class="col-sm-12 col-md-4">
						<a href="<%= content[:url] %>" class="translucide-box" data-height-watch>
							<h2><%= content[:title] %></h2>
							<h3><%= content[:subtitle] %></h3>
							<p><%= content[:text] %></p>
						</a>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="clean bottom">
		<div class="container text-center">
			<p><%= page_content( :bottom_text ) %></p>
		</div>
	</div>
</div>