<div class="page-investor">
	<div class="clean banner banner-investor" style="background-image: url(<%= page_content( :banner ) %>)">
		<div class="container">
			<h1 class="title-on-top"><%= @page.display_name %></h1>
			<div class="row">
				<div class="col-md-7">
					
				</div>
				<div class="col-md-5 text">
					<h2 class="shadowded"><%= page_content( :banner_title ) %></h2>
					<p><%= page_content( :banner_text ) %></p>
					<br/>
					<a class="cta" href="<%= page_content( :banner_button_url ) %>"><%= page_content( :banner_button_text ) %></a>
				</div>
			</div>
		</div>
	</div>
	<div class="clean features">
		<div class="container">
			<div class="row">
				<% page_content( :iconed_content ).each do |content| %>
					<div class="feature col-sm-12 col-md-6" data-height-watch>
						<div class="feature-icon">
							<%= fa_icon content[:icon] %>
						</div>
						<h2><%= content[:title] %></h2>
						<p><%= content[:text] %></p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="clean full-sliders">
		<% page_content( :slider ).each do |content| %>
			<div>
				<%= image_tag content[:image] %>
				<div class="slider-content">
					<div class="container">
						<h2 class="translucide-title"><%= content[:title] %></h2>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<% faq = page_content( :faq ) %>
	<div class="clean banner banner-faq faq-layout-<%= faq.length %>">
		<div class="container">
			<h2 class="title-faq"><span><% page_content( :faq_title ) %></span></h2>
			<div class="row" data-match-height>
				<% faq.each do |content| %>
					<div class="col-sm-12 col-md-4">
						<div class="light-box" data-height-watch>
							<h2><%= content[:title] %></h2>
							<p><%= content[:text] %></p>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="clean bottom">
		<div class="container text-center">
			<p><%= page_content( :bottom_text ) %></p>
		</div>
	</div>
</div>