<div class="page-partner">
	<div class="clean banner banner-partner" style="background-image: url(<%= page_content( :banner ) %>)">
		<div class="container">
			<h1 class="title-on-top"><%= @page.display_name %></h1>
			<div class="row">
				<div class="col-md-7">
					
				</div>
				<div class="col-md-5 text">
					<h2 class="shadowded"><%= page_content( :banner_title ) %></h2>
					<p><%= page_content( :banner_text ) %></p>
					<br/>
					<a class="cta" href="<%= page_content( :banner_button_url ) %>"><%= page_content( :banner_button_text ) %></a>
				</div>
			</div>
		</div>
	</div>
	<div class="clean highboxes">
		<div class="container">
			<div class="row" data-match-height>
				<% page_content( :highbox ).each do |content| %>
					<div class="col-sm-12 col-md-4">
						<div class="highbox" data-height-watch>
							<div class="feature-icon">
								<i class="<%= content[:icon] %>"></i>
							</div>
							<h2><%= content[:title] %></h2>
							<p><%= content[:text] %></p>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="clean full-sliders">
		<% page_content( :slider ).each do |content| %>
			<div>
				<%= image_tag content[:image], class: 'img-responsive min-400' %>
				<div class="slider-content">
					<div class="container">
						<h2 class="translucide-title"><%= content[:title] %></h2>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<% 
		faq = page_content( :faq ) 
		offset = ''
		if faq.length == 1
			offset = 'col-md-offset-4'
		end
		if faq.length == 2
			offset = 'col-md-offset-1'
		end
	%>
	<div class="clean banner banner-faq faq-layout-<%= faq.length %>">
		<div class="container">
			<h2 class="title-faq"><span><% page_content( :faq_title ) %></span></h2>
			<div class="row" data-match-height>
				<% if faq.length == 2 %>
					<div class="col-md-1"></div>
				<% end %>
				<% faq.each do |content| %>
					<div class="col-sm-12 col-md-4 <%= offset %>">
						<div class="light-box" data-height-watch>
							<h2><%= content[:title] %></h2>
							<p><%= content[:text] %></p>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="clean bottom">
		<div class="container text-center">
			<p><%= page_content( :bottom_text ) %></p>
		</div>
	</div>
</div>