<% if @contact.errors.any? %>
	<div id="error_explanation">
  		<p>
    		<strong>Não foi possível salvar, verifique os erros abaixo e tente novamente:</strong>
  		</p>
  		<ul class="listable">
    		<% @contact.errors.full_messages.each do |msg| %>
      			<li><%= msg %></li>
    		<% end %>
  		</ul>
	</div>
<% end %>
<%= form_for @contact, html: {'data-parsley-validate': 'data-parsley-validate', 'data-parsley-excluded': '[disabled]', class: 'form-default'} do |f| %>
	<div class="row">
	    <div class="col-md-12">
	    	<div class="form-group required">
            	<%= f.label :name, 'Nome', class: 'control-label' %><br>
              	<%= f.text_field :name, required: 'required', class: 'form-control' %>
           	</div>
	    </div>
	 </div>
	 <div class="row">
	    <div class="col-md-5">
	    	<div class="form-group required">
            	<%= f.label :phone, 'Telefone', class: 'control-label' %><br>
              	<%= f.text_field :phone, required: 'required', class: 'form-control mask-phone' %>
           	</div>
	    </div>
	    <div class="col-md-7">
	    	<div class="form-group required">
            	<%= f.label :email, 'E-mail', class: 'control-label' %><br>
              	<%= f.text_field :email, required: 'required', type: 'email', class: 'form-control' %>
           	</div>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<div class="form-group required">
				<%= f.label :state_id, 'UF', class: 'control-label' %><br>
            	<%= f.select( :state_id, @states.all.collect {|p| [ p.acronym, p.id ] }, { :include_blank => true }, { class: "form-control s2-select fill-cities", required: 'required', data: { target: '#contact_city_id'} }) %>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group required">
				<%= f.label :city_id, 'Cidade', class: 'control-label' %><br>
               	<%= f.select( :city_id, @cities.collect {|p| [ p.name, p.id ] }, { :include_blank => true }, { class: "form-control s2-select", required: 'required'}) %>
			</div>
		</div>
	    <div class="col-md-7">
	    	<div class="form-group">
            	<%= f.label :address, 'Endereço', class: 'control-label' %><br>
              	<%= f.text_field :address,  class: 'form-control' %>
           	</div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-12">
	    	<div class="form-group">
            	<%= f.label :job, 'Profissão', class: 'control-label' %><br>
              	<%= f.text_field :job,  class: 'form-control' %>
           	</div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-8">
	    	<div class="form-group">
            	<%= f.label :bio, 'Informações de contato', class: 'control-label' %><br>
              	<%= f.text_area :bio,  class: 'form-control' %>
           	</div>
	    </div>
	    <div class="col-md-4">
			<div class="form-group">
				<%= f.label :avatar, 'Foto', class: 'control-label' %><br>
				<% unless @contact.avatar.nil? %>
					<div class="form-avatar">
						<%= image_tag @contact.avatar.url( :thumb ) %>
					</div>
				<% end %>
	            <%= f.file_field :avatar, { data: { buttonText: "Escolher arquivo", classbutton: 'btn btn-default', classinput: 'form-control inline'}, class: 'form-control filestyle'}
	             %>
	        </div>
		</div>
	</div>
    <div class="row">
	 	<div class="col-md-12 text-left">
	 		<p><span style="color: red">*</span> Campos obrigatórios</p>
	 	</div>
	 </div>
	<div class="row">
	 	<div class="col-md-12 text-center">
	 		<%= f.hidden_field( :user_id, value: current_user.id ) %>
	 		<%= link_to 'Cancelar', defined?( resource ) ? eval( resource + '_url') : users_url, { class: 'button' } %>
		 	<%= f.submit 'Salvar', class: 'button bt-green ft-orange' %>
	    </div>
    </div>
<% end %>