<tr id="kind-row-%{id}">
	<td>%{display_name}</td>
	<td class="text-center">%{properties_count}</td>
	<td class="kinds-actions text-center">
    	<div class="btn-group">
			<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    	<i class="fa fa-cog" aria-hidden="true"></i>
		  	</button>
		  	<ul class="dropdown-menu">
		    	<li><a href="%{edit_url}" data-remote="true" data-type="script" data-toggle="modal" data-target="#modal-window">Editar</a></li>
		    	<li><a href="#" data-action="destroy" class="admin-kind-action" data-count="%{properties_count}" data-id="%{id}">Excluir</a></li>
		  	</ul>
		</div>
    </td>
</tr>