<section id="property-actions" class="property-section property-actions text-center">
	<button class="action-button" data-action="follow" data-following="<%= ! @accompaniment.nil? %>" data-accompaniment-id="<%= @accompaniment.id unless @accompaniment.nil? %>">
		<%= fa_icon 'share' %>
		<span class="text"></span>
	</button>
	<% if current_user_has_role?( 'realtor' ) %>
		<a class="action-button hide" href="<%= messages_path %>?property_id=<%= @property.id %>&mail_template=send" data-action="sendmail">
			<%= fa_icon 'arrow-up' %>
			<span class="text"></span>
		</a>
		<a href="<%= new_deal_url %>?property_id=<%= @property.id %>" class="action-button" data-action="proposal" data-remote="true" data-type="script" data-toggle="modal" data-target="#modal-window">
			<%= fa_icon 'arrow-up' %>
			<span class="text"></span>
		</a>
	<% end %>
	<% if current_user_has_role?( 'investor' ) %>
		<a class="action-button hide" href="<%= messages_path %>?property_id=<%= @property.id %>&mail_template=proposal" data-action="proposal">
			<%= fa_icon 'arrow-up' %>
			<span class="text"></span>
		</a>
		<a href="<%= new_deal_url %>?property_id=<%= @property.id %>" class="action-button" data-action="proposal" data-remote="true" data-type="script" data-toggle="modal" data-target="#modal-window">
			<%= fa_icon 'arrow-up' %>
			<span class="text"></span>
		</a>
		<a href="https://api.whatsapp.com/send?text=Acesse:-<%= property_url(@property) %>" class="action-button" data-action="whatsapp">
			<%= fa_icon 'whatsapp' %>
			<span class="text"></span>
		</a>
	<% end %>
</div>
