<div id="gallery-pic-%{id}" class="gallery-item">
	<div class="picture-container">
		<a href="%{large}" class="fresco" data-fresco-group="%{group}" data-fresco-caption="%{label}">
			<img src="%{thumb}" />
		</a>
	</div>
</div>