<section class="property-section">
	<% background_image = @property.pictures.find_by_kind( :cover ).nil? ? '' : "background-image: url(#{@property.pictures.find_by_kind( :cover ).file.url(:large)}"  %>
	<div id="property-banner" class="property-banner dropzone-banner" style="<%= background_image %>"></div>
</section>
<section id="property-gallery" class="property-section">
	<div class="container">
		<div id="property-show-gallery">
			<div class="property-slider">
				<% if @gallery_count > 0 %>
					<% @gallery.each do |picture| %>
						<%= render_gallery_item( picture, :show ) %>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="grafic">
            <div id="stage-circle-small" class="ct-mg stage-circle-small"></div>
        </div>					
	</div>
</section>