<section id="property-title" class="property-section oportunity-information">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="title upper ft-30 mgt-10 ct-mg"><%= @property.name %></h1>
			</div>
		</div>
	</div>
</section>