<section id="property-info" class="property-section bg-grey property-show">
	<div class="container">
		<div class="row row-eq-height" data-match-height>
			<div class="col-md-8 columns general-info-container" data-height-watch>
				<ul class="nav nav-tabs bg-white left list-oportunity-information big list-inline ft-20 reset">
				  	<li class="tabs-title-documents active tabs-title bb-grey">
				  		<a data-toggle="tab" href="#information" class="oportunity-information-tab-title">
				  			<%= fa_icon 'info-circle' %> <span class="textual">Informações</span>
				  		</a>
				  	</li>
				  	<li class="tabs-title-documents tabs-title bb-grey">
				  		<a data-toggle="tab" href="#doubts" class="oportunity-information-tab-title">
				  			<%= fa_icon 'question-circle' %> <span class="textual">Dúvidas</span>
				  		</a>
				  	</li>
				  	<li class="tabs-title-documents tabs-title bb-grey">
				  		<a data-toggle="tab" href="#docs" class="oportunity-information-tab-title">
				  			<%= fa_icon 'download' %> <span class="textual">Documentos</span>
				  		</a>
				  	</li>
				</ul>
				<div class="tab-content main">
				    <div id="information" role="tabpanel" class="active tab-pane oportunity-information-tab bg-white">
						<div class="tab-content pd-30 content">
				   			<%= @property.info_html %>
				   		</div>
				    </div>
				    <div id="doubts" role="tabpanel" class="tab-pane oportunity-information-tab bg-white">
				   		<div class="tab-content pd-30 content">
				   			<%= @property.doubts_html %>
				   		</div>
				    </div>
				    <div id="docs" role="tabpanel" class="tab-pane oportunity-information-tab bg-white">
				   		<div class="tab-content pd-30">
							<% if current_user_has_role?('realtor') %>
								<%= form_for( Document.new, html: { multipart: true, class: 'dropzone'} ) do |f| %>
									<%= f.hidden_field 'owner_id', value: '1'%>
									<div class="dz-message">
										<div class="text-center">
											<%= fa_icon 'download' %>
											Clique ou arraste os documentos aqui
										</div>
									</div>
									<div class="fallback">
										<%= f.file_field :file %><br>
									</div>
								<% end %>
							<% end %>

							<table class="docs-table table">
								<thead>
									<th>Nome</th>
									<th class="text-center">Tamanho</th>
									<th class="text-center">Baixar</th>
								</thead>
								<tbody class="table-stripe">
									<%
									    owners_ids = [0]
										  if current_user_has_role?('realtor')
												owners_ids.push(current_user.id)
											end
									%>
									<% @property.documents.where(owner_id: owners_ids).order(owner_id: :desc).each do |doc| %>
										<tr data-doc="<%= doc.id %>">
											<% if doc.owner_id > 0 %>
												<td><input id="doc-<%= doc.id %>" value="<%= doc.name.nil? ? doc.file_file_name : doc.name %>" class="doc-editable" placeholder="Nome do documento" data-doc="<%= doc.id %>" type="text" name="document[name]"></td>
											<% else %>
												<td><%= doc.name.nil? ? doc.file_file_name : doc.name %></td>
											<% end %>
											<td class="text-center"><%= ( ( doc.file_file_size / 1024 ) / 1 ).to_f %>KB</td>

											<td class="text-center">
												<% if doc.owner_id > 0 %>
													<button class="doc-remove" data-doc="<%= doc.id %>"><i class="fa fa-trash"></i></button>;
												<% else %>
													<a href="<%= doc.file.url %>" target="_blank">
														<%= fa_icon 'download' %>
													</a>
												<% end %>
											</td>
										</tr>
									<% end %>
								</tbody>
							</table>
				   		</div>
				    </div>
				</div>
			</div>
			<div class="col-md-4 columns price-container" data-height-watch>
				<ul class="nav nav-tabs bg-white left list-oportunity-information big list-inline ft-20 reset">
				  	<li class="active tabs-title bb-grey">
				  		<a data-toggle="tab" href="#price" class="oportunity-information-tab-title text-left">
				  			<%= fa_icon 'usd' %> <span class="textual">Valores</span>
				  		</a>
				  	</li>
				</ul>
				<div id="price" role="tabpanel" class="active tab-pane price ft-white oportunity-information-tab bg-white">
					<div class="tab-content valor">
			   			<p>A partir de</p>
			   			<div class="pdtb-10 ft-30">
			   				<div contenteditable="false" class="property-value mask-money prepend-rs"><%= @property.value %></div>
			   			</div>
			   			<div class="financiamento mgt-30 content">
			   				<%= @property.payment_conditions %>
						</div>
			   		</div>
			   	</div>
			</div>
		</div>
	</div>
</section>
