<section id="property-map" class="property-section property-map maps" data-latitude="<%= @property.latitude %>" data-longitude="<%= @property.longitude %>">
	<div id="map-container"></div>
	<div id="map-info" class="section-overlayer">
		<div class="container">
			<h2 class="titleU title-box bg-white txt-ct bb-grey ft-30">Localização</h2>
		</div>
	</div>
	<button class="map-toggle-nav">
		<%= fa_icon 'map' %>
		<%= fa_icon 'map-o' %>
	</button>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= @map_api_key %>&callback=updateMap"></script>
</section>