<% plants = @property.pictures.where( kind: 'plant' ).order( sequence: :asc ) %>
<% unless plants.empty? %>
	<section id="section-plant" class="property-section plant">
		<div class="section-overlayer">
			<div class="container pdt-0" style="padding-left: 30px;">
				<div class="sobover">
					<h2 class="titleU pull-left title-box bg-white txt-ct bb-grey ft-30">Planta</h2>
					<a id="donwload-plant-title-icon" class="donwload-plant on-title" href="<%= plants.first.file.nil? ? '#' : plants.first.file.url %>" target="_blank">
						<span class="icon"><%= fa_icon 'download' %></span>
					</a>
				</div>
			</div>
		</div>
		<div class="slider-plants">
			<% plants.each do |plant| %>
				<div data-picid="<%= plant.id %>" data-mapid="<%= plant.image_map.nil? ? '#' : plant.image_map.id  %>">
					<% if ! plant.image_map.nil? && ! plant.image_map.map_data.nil? %>
						<div id="image-map-pro-container-<%= plant.image_map.id %>" data-map="#<%= "imap_data_#{plant.image_map.id}" %>" class="image-map-pro-container"></div>
						<%= hidden_field_tag "imap_data_#{plant.image_map.id}", plant.image_map.map_data %>
					<% else %>
						<%= image_tag plant.file.url( :large ) %>
					<% end %>
					<% unless plant.file.nil? %>
						<div class="section-overlayer hide" style="height:50px;">
							<div class="container pd-30 pdt-0">
								<a class="donwload-plant" style="margin-top: 0" href="<%= plant.file.url %>" target="_blank">
									<span class="icon"><%= fa_icon 'download' %></span>
									<span class="text">Baixar planta</span>
								</a>
							</div>
						</div>
					<% end %>	
				</div>
			<% end %>
		</div>
		<div class="container">
			<div class="slider-plants-nav">
				<% plants.each do |plant| %>
					<div id="picture-nav-<%= plant.id %>" class="plant-thumb-nav">
						<%= image_tag plant.file.url( :thumb ) %>
						<div class="plant-label-text">
							<%= plant.label %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</section>
	<%= javascript_include_tag( 'js/image-map-pro.min' ) %>
	<script type="text/javascript">
	    ;(function ($, window, document, undefined) {
	        $(document).ready(function() {
	        	$( '.image-map-pro-container' ).each( function(){
	        		var $self = $( this );
	        		var map = $( $self.data( 'map' ) ).val();
	        		//console.log( map );
	        		map = map.replace( /80d4b7/g, 'FFFFFF' );
	        		map = map.replace( /\"fill_opacity\"\:0\.89/g, '"fill_opacity":0.1' );
	        		//console.log( map );
	        		var data = JSON.parse( map )[0];
	        		$self.imageMapPro(data);
	        	});
	        });
	    })(jQuery, window, document);
	</script>
	<script type="text/javascript">
		$( '.slider-plants' ).slick({
			slidesToShow: 1,
		  	slidesToScroll: 1,
		  	arrows: false,
		  	fade: true,
		  	adaptiveHeight: true,
		  	asNavFor: '.slider-plants-nav'
		});
		$( '.slider-plants-nav' ).slick({
			slidesToShow: 9,
		  	slidesToScroll: 9,
		  	asNavFor: '.slider-plants',
		  	centerMode: true,
		  	focusOnSelect: true,
		  	arrows: false
		});	
		$( '.slider-plants' ).on( 'afterChange', function(event, slick, currentSlide, nextSlide){
			var $slider = $( '.slider-plants [data-slick-index="' + currentSlide + '"]' );
			$( '#donwload-plant-title-icon' ).attr( 'href', $slider.find( '.donwload-plant' ).attr( 'href' ) );
		});
		     	
	</script>
<% end %>