<% unless @property.image_map.map_data.nil? %>
	<% background_image = @property.pictures.find_by_kind( :plant ).nil? ? nil : @property.pictures.find_by_kind( :plant ).file.url  %>
	<section id="section-plant" class="property-section plant">
		<div class="section-overlayer">
			<div class="container pd-30 pdt-0">
				<h2 class="pull-left titleU title-box bg-white txt-ct bb-grey ft-30">Planta</h2>
				<% unless background_image.nil? %>
					<a class="donwload-plant pull-right" href="<%= background_image %>" target="_blank">
						<span class="icon"><%= fa_icon 'download' %></span>
						<span class="text">Baixar planta</span>
					</a>
				<% end %>	
			</div>
		</div>
		<% unless @property.image_map.map_data.nil? %>
			<div id="image-map-pro-container"></div>
			<%= javascript_include_tag( 'js/image-map-pro.min' ) %>
			<%= hidden_field_tag :imap_data, @property.image_map.map_data %>
			<script type="text/javascript">
		        ;(function ($, window, document, undefined) {
		            $(document).ready(function() {
		            	var data = JSON.parse( $( '#imap_data' ).val() )[0];
		            	$('#image-map-pro-container').imageMapPro(data);
		            });
		        })(jQuery, window, document);
			</script>
		<% end %>
	</section>
<% end %>