<section id="property-stage" class="property-section phase property-showing">
	<div class="container pdt-0">
		<h2 class="title-box bg-white txt-ct upper bb-grey ft-30 pdt-20">Estágio da obra</h2>
		<div class="row pdt-50">
			<div class="col-md-5 columns stage-circle-container">
				<div class="grafic">
		            <div id="stage-circle" class="ct-mg"></div>
		        </div>					
		        <%= number_field :property, :stage, value: @property.stage, class: 'editable property-stage hide' %>
			</div>
			<div class="col-md-7 columns">
				<div class="phase ft-16 content">
					<%= @property.stage_info_html %>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="property-stage-gallery" class="property-section">
	<div class="container">
		<div class="property-show-gallery">
			<div class="property-slider">
				<% if @gallery_stage_count > 0 %>
					<% @gallery_stage.each do |picture| %>
						<%= render_gallery_item( picture, :show, 'stage-gallery' ) %>
					<% end %>
				<% end %>
			</div>
		</div>				
	</div>
</section>