<%= form_for @deal, html: { data: {'parsley-validate': 'data-parsley-validate', 'remote': true } } do |f| %>
	<%= f.hidden_field :customer_id, value: current_user.id %>
	<%= f.hidden_field :property_id, value: params[:property_id] %>
	
	<div class="modal-header">
	   	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Enviar proposta</h3>
	</div>
	<div class="modal-body proform">
		<div class="row">
			<div class="col-lg-8">
	           	<div class="form-group">
	              <%= f.label :down_payment, 'Valor de entrada', class: 'control-label' %><br>
	              <%= f.text_field :down_payment, autofocus: true, required: 'required', class: 'mask-money' %>
	           	</div>
	        </div>
	        <div class="col-lg-4">
	           	<div class="form-group">
	              <%= f.label :installments, 'Nº de parcelas', class: 'control-label' %><br>
	              <%= f.number_field :installments, class: 'form-control' %>
	           	</div>
	        </div>
	    </div>	
	    <% unless @spots.empty? %>
		    <div class="row">
				<div class="col-lg-6">
		           	<div class="form-group">
		              <%= f.label :plant_id, 'Planta', class: 'control-label' %><br>
		              <%= f.select :plant_id, options_for_select( @plants.map {|p| [ p.picture.label, p.id, {'data-spots': @spots[p.id].join(',')} ] } ), { include_blank: 'Selecione' }, { class: 's2-select form-control', style: 'width: 100%'} %>
		           	</div>
		        </div>
				<div class="col-lg-6">
		           	<div class="form-group">
		              <%= f.label :spot, 'Nº do Apto/Terreno', class: 'control-label' %><br>
		              <%= f.select :spot, options_for_select( @spots ), { include_blank: 'Selecione' }, { class: 's2-select form-control', style: 'width: 100%'} %>
		           	</div>
		        </div>
		    </div>	
		<% end %>
	    <div class="row">
			<div class="col-lg-12">
				<div class="form-group">
		            <%= label_tag :is_a_exchangeable, 'É uma troca?', class: 'control-label' %>
		            <div class="has-radio">
			            <label>
			            	<%= f.radio_button :is_change, true, class: '', 'data-toggle': "collapse", 'data-target': "#exchangeable-object" %> <span>Sim</span>
			            </label>
			            <label>
			            	<%= f.radio_button :is_change, false, class: '', 'data-toggle': "collapse", 'data-target': "#exchangeable-object" %> <span>Não</span>
			            </label>
			        </div>
		        </div>
			</div>
		</div>
		<div id="exchangeable-object" class="row collapse">
			<div class="col-lg-12">
				<div class="form-group">
	              <%= f.label :exchange_object, 'Objeto da troca', class: 'control-label' %><br>
	              <%= f.text_field :exchange_object, class: 'form-control' %>
	           	</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="form-group">
					<%= f.label :details, 'Detalhes', class: 'control-label' %><br>
	              	<%= f.text_area :details, class: 'form-control' %>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
	   	<button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancelar</button>
	   	<%= f.button( 'Enviar', type: 'submit', class: "btn btn-success") %>
	</div>
<% end %>
<script type="text/javascript">
	$( '#deal_plant_id' ).on( 'change', function(){
		var $self = $( this );
		var $target = $( '#deal_spot' );
		var options = '';
		$.each( $self.find( 'option:selected' ).data( 'spots' ).split( ',' ), function(i, v){
			options+= '<option value="' + v + '">' + v + '</option>';
		});
		$target.html( options ).select2();
	});
</script>