<%= form_for @deal, html: { data: {'parsley-validate': 'data-parsley-validate', 'remote': true } } do |f| %>
	<%= f.hidden_field :property_id, value: params[:property_id] %>
	<%= f.hidden_field :status, value: 'waiting_customer' %>
	
	<div class="modal-header">
	   	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">O que deseja fazer?</h3>
	</div>
	<div class="modal-body proform">
		<% unless @spots.empty? %>
		    <div class="row pqp">
				<div class="col-lg-6">
		           	<div class="form-group">
		              <%= f.label :plant_id, 'Planta', class: 'control-label' %><br>
		              <%= f.select :plant_id, options_for_select( @plants.map {|p| [ p.picture.label, p.id, {'data-spots': @spots[p.id].join(',')} ] } ), { include_blank: 'Selecione' }, { class: 's2-select form-control', style: 'width: 100%'} %>
		           	</div>
		        </div>
				<div class="col-lg-6">
		           	<div class="form-group">
		              <%= f.label :spot, 'Nº do Apto/Terreno', class: 'control-label' %><br>
		              <%= f.select :spot, options_for_select( @spots ), { include_blank: 'Selecione' }, { class: 's2-select form-control', style: 'width: 100%'} %>
		           	</div>
		        </div>
		    </div>	
		<% end %>
		<div class="row">
			<div class="col-lg-12">
	           	<div class="form-group text-center">
	           		<a href="#" id="reserve-button" class="deal-button" data-form="reservation">
	           			<%= fa_icon 'calendar' %>
	           			<p>Quero apenas<br/>reservar</p>
	           		</a>
	           		<a href="#" id="proposal-button" class="deal-button active" data-form="proposal">
	           			<%= fa_icon 'suitcase' %>
	           			<p>Quero enviar<br/>uma proposta</p>
	           		</a>
	           	</div>
	        </div>
	    </div>
	    <div id="reservation-form" class="row hide deal-partial-form">
			<div class="col-lg-12">
				<div class="deal-panel">
					<% if ! @property.reservation_time.nil? && @property.reservation_time > 0 %>
						<p class="text-center">Você pode reservar este empreendimento por até <b><%= @property.reservation_time %> dias</b>.<br/>Clique no botão confirmar abaixo para garantir sua reserva.</p>
					<% end %>
				</div>
			</div>
		</div>
		<div id="proposal-form" class="row deal-partial-form">
			<div class="col-lg-12">
				<p class="deal-form-title">Proposta</p>
				<p class="deal-form-property-value">Valor do imóvel: <b><%= humanized_money_with_symbol @property.value %></b></p>
				<% if @property.accept_other_payment_methods %>
					<p class="deal-form-observation">Obs: Aceito outras formas de pagamento.</p>
				<% end %>
				<p class="deal-form-title">Minha proposta</p>
			</div>
			<div class="col-lg-12">
				<div class="form-group">
					<%= f.label :total_value, 'Valor total', class: 'control-label large-label' %><br>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
		            	<%= f.text_field :total_value, class: 'form-control mask-money' %>
		            </div>
		        </div>
			</div>
			<div class="col-lg-12">
				<div class="form-group">
		            <%= f.label :payment_method, 'Forma de pagamento', class: 'control-label large-label' %><br>
		            <%= f.text_area :payment_method, class: 'form-control' %>
		        </div>
			</div>
		</div>
		<% if current_user.role.name == 'realtor' %>
			<div class="row">
				<div class="col-lg-12">
					<p class="deal-form-title">Selecione um investidor</p>
				</div>
				<div class="col-lg-8">
					<div class="form-group">
		            	<%= f.select :customer_id, options_for_select( @customers.map {|c| [c.name, c.id] } ), { include_blank: 'Escolher' }, { class: 's2-select form-control', style: 'width: 100%'} %>
		           	</div>
				</div>
				<div class="col-lg-4">
					<a href="#" class="btn btn-secondary open-deal-new-user" style="margin-top: 3px;">Cadastrar novo</a>
				</div>
			</div>
		<% else %>
			<%= f.hidden_field :customer_id, value: current_user.id %>
		<% end %>
		<div id="deal-new-user-form" class="hide">
			<div class="row">
				<div class="col-lg-12">
					<p class="deal-form-title">Informações do investidor</p>
				</div>
				<div class="form-group required">
					<div class="col-lg-2">
						<%= label_tag :user_name, 'Nome:', class: 'control-label' %>
					</div>
					<div class="col-lg-10">
						<%= text_field_tag :user_name, '', class: 'form-control deal-user-field' %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group required">
					<div class="col-lg-2">
						<%= label_tag :user_cpf, 'CPF:', class: 'control-label' %>
					</div>
					<div class="col-lg-10">
						<%= text_field_tag :user_cpf, '', class: 'form-control mask-cpf deal-user-field' %>
					</div>
				</div>
			</div>
			<div class="row">			
				<div class="form-group required">	
					<div class="col-lg-2">
						<%= label_tag :user_email, 'E-mail:', class: 'control-label' %>
					</div>
					<div class="col-lg-10">
						<%= text_field_tag :user_email, '', class: 'form-control deal-user-field' %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group required">
					<div class="col-lg-2">
						<%= label_tag :user_phone, 'Telefone:', class: 'control-label' %>
					</div>
					<div class="col-lg-10">
						<%= text_field_tag :user_phone, '', class: 'form-control mask-phone deal-user-field' %>
					</div>
				</div>
				<div class="col-lg-12">
					<small style="padding-top: 10px; display: block; text-align: right">* Campos obrigatórios</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
	   	<button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancelar</button>
	   	<%= f.button( 'Confirmar', type: 'submit', id: 'deal-send', class: "btn btn-success" ) %>
	</div>
<% end %>
<script type="text/javascript">
	$( '#deal_plant_id' ).on( 'change', function(){
		var $self = $( this );
		var $target = $( '#deal_spot' );
		var options = '';
		$.each( $self.find( 'option:selected' ).data( 'spots' ).split( ',' ), function(i, v){
			options+= '<option value="' + v + '">' + v + '</option>';
		});
		$target.html( options ).select2();
	});
</script>