<div class="modal-header">
   	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">Detalhes da proposta</h3>
</div>
<div class="modal-body">
	<div id="proposal-form" class="row deal-partial-form">
		<% if @deal.total_value_centavos > 0 %>
			<div class="col-lg-12">
				<div class="form-group">
					<label class="large-label" style="margin-bottom: 10px;">Valor total</label>
	            	<p><%= humanized_money_with_symbol @deal.total_value %></p>
	            </div>
			</div>
		<% end %>
		<% unless @deal.payment_method.empty? %>
			<div class="col-lg-12">
				<div class="form-group">
		           <label class="large-label" style="margin-bottom: 10px;">Forma de pagamento</label>
		           <p><%= @deal.payment_method %></p>
		        </div>
			</div>
		<% end %>
		<% if @deal.plant.present? %>
			<div class="col-lg-12">
				<div class="form-group">
			        <label class="large-label" style="margin-bottom: 10px;">Marcação escolhida</label>
			    </div>
			    <div class="full">
					<div class="image-map-pro-container"></div>
				</div>
				<%= hidden_field_tag "plant_map", @deal.plant.map_data %>
				<%= javascript_include_tag( 'js/image-map-pro.min' ) %>
				<script type="text/javascript">
				    ;(function ($, window, document, undefined) {
				        $(document).ready(function() {
				        	$( '.image-map-pro-container' ).each( function(){
				        		var $self = $( this );
				        		var map = $( '#plant_map' ).val();
				        		var data = JSON.parse( map )[0];
				        		var newSpots = []
				        		for( var i in data.spots ) {
				        			var spot = data.spots[i];
				        			if( spot.title == '<%= @deal.spot %>' ) {
				        				newSpots.push( spot );
				        			}
				        		}
				        		data.spots = newSpots;
				        		$self.imageMapPro(data);
				        	});
				        });
				    })(jQuery, window, document);
				</script>
			</div>
		<% end %>
	</div>
</div>
<div class="modal-footer">
   	<button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Fechar</button>
</div>