var $modal = $( '#modal-window' );
//$modal.find( '.modal-dialog' ).removeClass( 'modal-lg' ).addClass( 'modal-sm' );
$modal.find( ".modal-content" ).html( "<%= j (render 'deals/form') %>" );
initForms();
$modal.modal();
$( window ).trigger( 'onDealModalShown', [$modal] );