var $modal = $( '#modal-window' );
$modal.find( '.modal-dialog' ).addClass( 'modal-xg' );
$modal.find( ".modal-content" ).html( "<%= j (render 'deals/view') %>" );
$modal.modal();
$( window ).trigger( 'onDealViewModalShown', [$modal] );