<%= render "layouts/mailer/header" %>

<p>Você foi convidado para o grupo de investidores do empreendimento <b><%= @invite.group.property.name %></b>.</p>
<p>Para participar crie o seu login através desse <%= link_to 'link', root_url + "accept_invite/#{@invite.token}", target: '_blank' %></p>

<%= render "layouts/mailer/footer" %>
