<%# Link to the "Last" page
  - available local variables
    url:           url to the last page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="last">
  <%= link_to_unless current_page.last?, raw( '<i class="fa fa-angle-double-right" aria-hidden="true"></i>' ), url, remote: remote, class: 'ft-orange bg-green' %>
</span>
