<%# Link to the "Next" page
  - available local variables
    url:           url to the next page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="next">
  <%= link_to_unless current_page.last?, raw( '<i class="fa fa-angle-right" aria-hidden="true"></i>' ), url, rel: 'next', remote: remote, class: 'ft-orange bg-green' %>
</span>
