<%= content_tag(:div, flash[:error], :id => "login-error", class: "alert alert-danger") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => "login-info", class: "alert alert-info") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :id => "login-alert", class: "alert alert-warning") if flash[:alert] %>

<%= form_for( resource, as: resource_name, url: session_path(resource_name), html: { class: 'proform form-sign ft-20 mgtb-20', data: { 'parsley-validate': 'data-parsley-validate' } } ) do |f| %> 
    <div class="row">
        <div class="field">
            <div class="col-sm-12 col-md-2 col-lg-2 columns reset">
                <%= f.label :email, class: 'form-item ft-16' %>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-10 columns reset">
                <%= f.email_field :email, autofocus: true, required: 'required' %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="field">
            <div class="col-sm-12 col-md-2 col-lg-2 columns reset">
                <%= f.label :password, 'Senha', class: 'form-item ft-16' %>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-10 columns reset">
                <%= f.password_field :password, autocomplete: 'off', required: 'required' %>
            </div>
        </div>
    </div>
    <div class="row">
        <% if devise_mapping.rememberable? -%>
            <div class="field remember-me left">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, 'Lembrar-me' %>
            </div>
        <% end -%>
        <p class="mgt-20 ft-14 right">Esqueceu seu <strong><a href="<%= new_password_path( resource_name ) %>" class="ft-green">Login</a></strong> ou <strong><a href="<%= new_password_path( resource_name ) %>" class="ft-green">Senha</a></strong>?</p>
    </div>
    <div class="row">
        <div class="actions">
            <%= f.button( 'Entrar', type: 'submit', class: "button bt-green left") %>
        </div>
    </div>
<% end %>
