<%= form_for @role, html: { data: {'parsley-validate': 'data-parsley-validate', 'remote': true } } do |f| %>
	<%= f.hidden_field :created_by, value: current_user.id %>
	<%= f.hidden_field :name, value: '' %>
	<div class="modal-header">
	   	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Cadastrar novo perfil</h3>
	</div>
	<div class="modal-body proform">
		<div class="row">
			<div class="col-lg-12">
	           	<div class="form-group">
	              <%= f.label :display_name, 'Nome', class: 'control-label' %><br>
	              <%= f.text_field :display_name, autofocus: true, required: 'required', class: '' %>
	           	</div>
	        </div>
	    </div>	
	</div>
	<div class="modal-footer">
	   	<button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancelar</button>
	   	<%= f.button( 'Cadastrar', type: 'submit', class: "btn btn-success") %>
	</div>
<% end %>