var $modal = $( '#modal-window' );
//$modal.find( '.modal-dialog' ).removeClass( 'modal-lg' ).addClass( 'modal-sm' );
$modal.find( ".modal-content" ).html( "<%= j (render 'roles/new_form') %>" );
initForms();
$modal.modal();