<%= render "layouts/mailer/header" %>
<p>O investidor <strong><%= @deal.customer.name %></strong> enviou uma proposta para o empreendimento <strong><%= @deal.property.name %></strong> </p>
<h3>Detalhes da proposta</h3>
<p>Entrada: <%= @deal.down_payment %></p>
<p>Nº Parcelas: <%= @deal.installments %></p>
<p>É troca? <%= @deal.is_change ? 'Sim' : 'Não' %></p>
<% if @deal.is_change %>
	<p>Objeto de troca: <%= @deal.exchange_object %></p>
<% end %>
<p>Detalhes: <%= @deal.details %></p>
<%= render "layouts/mailer/footer" %>