<% 
	icon_class = 'ft-orange title-icon ' + ( flow == 'even' ? 'square-left' : 'square-right' )
	case entry.class.name
	when 'Attachment'
		title = 'Anexo'
		icon = fa_icon 'arrow-up', class: icon_class
	when 'Message'
		title = 'Nova mensagem de ' + entry.user.name
		icon = fa_icon 'envelope', class: icon_class
	when 'Note'
		title = 'Nota'
		icon = fa_icon 'pencil', class: icon_class
	when 'Activity'
		icon = fa_icon 'clock-o', class: icon_class
		title = entry.title
	end
			
%>
<div class="lt-container timeline-resume">
	<div class="lt-message bb-grey pd-20 rlt">
		<div class="lt-message-container left">
			<h2 class="lt-message-sender ft-16 pdb-10">
				<% if flow == 'even' %>
					<%= icon %>
					<strong><%= title %></strong> 
				<% else %>
					<strong><%= title %></strong> 
					<%= icon %>
				<% end %>
			</h2>
			<div class="txt content">
				<% if entry.class.name == 'Attachment' %>
					<a href="<%= entry.file.url %>" target="_blank">
						Fazer download <u><%= entry.file.original_filename %></u>
					</a>
				<% else %>
					<%= entry.text.html_safe %>
					<% if entry.class.name == 'Activity' %>
						<br/><p><b>Quando:</b> <%= entry.scheduled_to.to_datetime.strftime( "%d/%m/%Y às %H:%M" ) %></p>
					<% end %>
				<% end %>
			</div>
		</div>
		<span class="lt-message-more ft-orange"><i class="fa fa-plus-square fa-2x square-right" aria-hidden="true"></i></span>
	</div>
</div>