<div class="lt-container">
	<div class="lt-info pd-20 rlt <%= flow == 'even' ? 'right' : '' %>">
		<i class="fa fa-circle-o <%= flow == 'even' ? 'fa-right' : 'fa-left' %> ft-orange" aria-hidden="true"></i>
		<p class="lt-date pdb-10"><%= entry.created_at.to_date.strftime( "%d/%m/%Y" ) %></p>
		<p class="lt-time ft-orange"><%= entry.created_at.to_datetime.strftime( "%H:%M" ) %></p>
	</div>
</div>