<section class="history-line pdt-35">
	<% @timeline_entries.each_with_index do |row, index| %>
		<% 
			entry = Object.const_get row.timelinable_type 
			entry = entry.try( :find, row.timelinable_id )
		%>
		<% if index % 2 == 0 %>
			<div class="lt row reset">
				<div class="col-sm-3 col-md-6 col-lg-6 columns reset pdr-20">
					<%= render 'timelines/timeline_when', entry: entry, flow: 'even' %>
				</div>
				<div class="col-sm-9 col-md-6 col-lg-6 columns reset bb-lt pdl-40">
					<%= render 'timelines/timeline_what', entry: entry, flow: 'even' %>
				</div>
			</div>
		<% else %>
			<div class="lt row reset desk">
				<div class="col-sm-9 col-md-6 col-lg-6 columns reset pdr-40">
					<%= render 'timelines/timeline_what', entry: entry, flow: 'odd' %>
				</div>
				<div class="col-sm-3 col-md-6 col-lg-6 columns reset bb-lt pdl-20">
					<%= render 'timelines/timeline_when', entry: entry, flow: 'odd' %>
				</div>
			</div>
		<% end %>
	<% end %>
</section>