.controller_admin{
	.admin-deals {
		.user-role-admin.container,
		.user-role-admin.container .container{
			max-width: 90%;
		}
	}
}
.admin-page-list{
	.admin-page-terms{
		display: none;
	}
}
.property-list{
	.property-list-header{
		background: #EEEEEE;
		font-weight: bold;
	}
	.img-responsive{
		max-width: 50px;
	}
}
.large-container{
	max-width: 90%;
}
.admin-screen{
	.searchable-form{
		button{
			top: 4px;
			right: 0;
		}
	}
}
.filter-by{
	line-height: 40px;
}
.mb-20{
	margin-bottom:20px;
}
.admin-form{
	label{
		font-weight: bold;
	}
	.admin-textarea{
		min-height: 150px;
		padding: 15px;
	}
	.admin-label-level-2{
		line-height: 42px;
		font-weight: normal;
	}
	.admin-row-meta{
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #CCC;
	}
	.meta-order{
		display: none;
	}
	.repeater{
		.meta-order{
			/*display: inline-block;*/
		}
		.admin-row-meta{
			position: relative;
			cursor: all-scroll;
			&::before{
				content: "\f0c9";
				font-family: 'FontAwesome';
				color: grey;
				ms-transform: rotate(90deg);
			    -webkit-transform: rotate(90deg);
			    transform: rotate(90deg);
			    position: absolute;
			    left: 0;
			    top: 49%;
			}
		}
	}
	.admin-add-picture{
		border: 1px dotted grey;
		padding: 10%;
		text-align: center;
		background: #DDD;
	}
	.admin-dropzone-si{
		.dz-preview,
		.dz-max-files-reached{
			max-width: 900px;
			position: absolute;
			left: -9999px;
			right: -9999px;
			opacity: 1;
		}
	}
}


.dataTables_filter {
   width: 50%;
   float: left;
   text-align: right;
	 input {
		 -webkit-box-shadow: 0px 0px 8px 2px #4e4f51;
		  -moz-box-shadow: 0px 0px 8px 2px #4e4f51;
		  box-shadow: 0px 0px 8px 2px #4e4f51;
	 }
}
