/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap-theme.min
 *= require bootstrap-datetimepicker
 *= require dataTables/jquery.dataTables
 *= require roundslider
 *= require parsley
 *= require slick
 *= require dropzone/basic
 *= require select2
 *= require select2-bootstrap
 *= require trix
 *= require fresco/fresco
 *= require submodules/squares/css/squares
 *= require submodules/squares/css/squares-editor
 *= require submodules/squares/css/squares-controls
 *= require submodules/wcp-editor/css/wcp-editor
 *= require submodules/wcp-editor/css/wcp-editor-controls
 *= require submodules/wcp-tour/css/wcp-tour
 *= require css/image-map-pro-editor
 *= require css/image-map-pro.min
 *= require main
 *= require style
 *= require_tree .
 *= require_self
 */
@import "font-awesome";

/* Menu Responsivo */
.topnav {
  padding: 30px;
  overflow: hidden;
  text-align: center;
  // background-color: #333;
  font-size: 20px;
  background-image: url("bg-oportunity-tabs.png");
}

.topnav a {
  // float: left;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.tabs-title.active div, .tabs-title.active span {
  color: orange !important;

  // background-color: #4CAF50;
  // color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
