.user-role-realtor{
	.realtor-name{
		display: none;
	}
}
.user-role-investor{
	.investor-name{
		display: none;
	}
}
.user-role-construction_company{
	.owner-name{
		display: none;
	}
}
.modal-xg {
    width: 1024px;
}