// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title-group {
  background-color: #006680;
  color: #f78941;
  padding: 20px;
}

.btn-orange {
  background-color: #f78941;
  color: white;

}
.list-group-header {
  background: white;
  border: solid 1px #f78941 !important;
  color: #f78941 !important;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  z-index: 1;
  // float: left;
  width: 200px;
}
.list-group-header a {
  padding: 20px;
  display: block;
  margin: 0px;
}
.img-user {
  width: 20px;
  height: 20px;
}

#push-dropdown-group {
  margin-top: 5px;
  display: none;
}

#push-dropdown-role {
  margin-top: 5px;
  display: none;
}
.row-group {
  // padding: 0;
  // height: 100%;
  line-height: 100px;
}
.row-item {
  // display: block;
  // padding: 10px;
  // margin: 0px;
  // text-align: center;
  // vertical-align: middle;
  // margin: auto;
  // height: auto;
  // width: 100%;
  // line-height: 50px;
  text-align: center;
  vertical-align: middle;
  // text-align: center;
}
.navbar .container-fluid>.navbar-header {
  float: left;
  margin-right: 10px;
}
.navbar .navbar-nav {
  float: left;
  margin: 5px;
}
.nav>li {
  float: left;
  width: 50%;
  text-align: center;
}
.nav{
  margin-bottom: 30px;
}

.nav-tabs .nav-item {
  // border-bottom: 1px solid;
}

ul.nav-group>li.active {
  background-color: #f78941;
  // border-top-left-radius: 5px;
  // border-top-right-radius: 5px;
  // border-top: 1px solid;
  // border-right: 1px solid;
  // border-left: 1px solid;
  // border-bottom: 0px !important;
  /* box-shadow: 0px -10px red; */

}
// .tab-content {
//   background-color: yellow !important;
//   .tab-pane {
//     background-color: inherit;
//   }
//
// }
