.imp-tooltip{
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
	/*&::after{
		content: "\f057";
		font-family: 'FontAwesome';
		font-size: 22px;
		color: #999;
		position: absolute;
		right: -10px;
		top: -10px;
	}*/
}
#wcp-editor{
	#wcp-editor-right{
		.wcp-editor-list-item{
			background: white;
			&:hover,
			&.wcp-active{
				background: #f5f5f5
			}
		}
	}
	#wcp-editor-button-new,
	#wcp-editor-button-load{
		display: none !important;
	}
	
	#wcp-editor-button-new,
	#wcp-editor-button-load,
	#wcp-editor-extra-main-buttons,
	.wcp-editor-main-tab-content-title,
	.wcp-editor-form-tab-button[data-wcp-form-tab-button-name="fullscreen"],
	#wcp-editor-toolbar .wcp-editor-toolbar-button[data-wcp-editor-toolbar-button-name="spot"],
	#wcp-editor-toolbar .wcp-editor-toolbar-button[data-wcp-editor-toolbar-button-name="oval"],
	#wcp-editor-toolbar .wcp-editor-toolbar-button[data-wcp-editor-toolbar-button-name="rect"],
	.wcp-editor-form-tab-button[data-wcp-form-tab-button-name="general"],
	.wcp-editor-form-tab-button[data-wcp-form-tab-button-name="actions"],
	.wcp-editor-form-tab-button[data-wcp-form-tab-button-name="icon"],
	.wcp-editor-form-tab-button[data-wcp-form-tab-button-name="default_style"],
	.wcp-editor-form-tab-button[data-wcp-form-tab-button-name="mouseover_style"],
	.wcp-editor-form-tab-button[data-wcp-form-tab-button-name="tooltip_settings"],
	.wcp-editor-form-tab-button[data-wcp-form-tab-button-name="image"],
	#wcp-editor-form-control-tooltip_content_type,
	#wcp-editor-form-control-plain_text_color{
		display:none !important;
	}
	#wcp-editor-list-title,
	#wcp-editor-main-tab-buttons .wcp-editor-main-tab-button.wcp-active,
	#wcp-editor-main-tab-contents .wcp-editor-main-tab-content .wcp-editor-main-tab-content-title{
		background: #006680;
	}
	#wcp-editor-main-tab-buttons{
		.wcp-editor-main-tab-button-icon{
			display: inline-block;
			vertical-align: middle;
			margin-right: 7px;
			margin-bottom: 0;
		}
		.wcp-editor-main-tab-button-text{
			font-size: 20px;
			font-weight: bold;
			display: inline-block;
			vertical-align: middle;
		}
	}
	#wcp-editor-main-tab-buttons .wcp-editor-main-tab-button{
		flex-direction: initial;
	}
}
.controller_image_maps{
	#header,
	#footer{
		display: none;
	}
	main,
	#yeld,
	.content-wrapper{
		height: 100%;
	}
}