//resets
html, body {
	line-height: 1;
	font-size: 100%;
}

footer, header, main, html, body, input, textarea, .ct-cont, .container, .content  {
	width: 100%;
}

html, body, .ct-cont, .container, .content {
	height: 100%;
}

main {
	min-height: 100%;
}

.nav-tabs > li {
	float: none;
}

.list-inline li {
	float: left;
}

.nav-tabs > li > a {
	padding-right: 2px;
}

label {
	font-weight: normal;
}

ul, ol {
	list-style: none;
}
a {
	&:focus,
	&:active{
		outline: none
	}
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button, input, textarea, button:hover, button:focus, .nav-tabs > li > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .pagination {
  	background-color: transparent;
	box-shadow: none;
}

.nav-tabs, button, input, textarea, button:hover, button:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
	border: none;
}

textarea {
	outline: none;
}

a, a:link, a:hover, a:active, a:visited {
	text-decoration: none;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { 
    display: block;
}
//fim resets

.hide, .bx-loading {
	display: none;
}

//texto
.txt-just {
	text-align: justify;
}

.txt-left {
	text-align: left;
}

.txt-right {
	text-align: right;
}

.txt-ct {
	text-align: center;
}

.upper, .titleBU, .titleU {
	text-transform: uppercase;
}

b, strong, .bld, .titleB, .titleBU {
	font-weight: bold;
}

//espaçamentos
i {
	margin: 0 8px 0 8px;
}

label {
	margin-top: 20px;
}

input, .row {
	padding: 5px 0 5px 0;
}

.pagination>li>a {
	padding: 5px 0 0 0 !important;
	border: none !important;
	margin-left: 5px;
	border-radius: 0 !important;;
}

.title, .titleBU, .titleB, .titleU, .titleC {
	padding: 20px 0 20px 0;
}

html, body, div, span, object, iframe, a, h1, h2, h3, h4, h5, h6, p, img, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, .list-inline > li, .inline-list li .row, .reset {
	margin: 0; 
	padding: 0;
}

.slick-list {
	padding: 0 !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

//posições
main, .rlt, .container, .content {
    position: relative; 
}

.obt, .ctY, .ctX, .ctXY, .abt {
    position: absolute; 
}

//centralizações
.container, .content, .ct-mg, .button, .slick-list {
	margin: auto;
  	display: block;
}

.ctY {
	top: 50%;
	transform: translateY(-50%);
}

.ctX {
	left: 50%;
	transform: translateX(-50%);
}

.ctXY {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.ct-cont {
	display: table !important;
}

.ct-obg { 
	vertical-align: middle !important;
    display: table-cell  !important;
}

.button {
	margin: 20px auto 20px auto;
}