#message-dropzone{
	cursor:pointer;
	.dz-preview{
		display: none;
	}
}
.remove-message-attachment{
	cursor: pointer;
}
.message-attachments-items{
	list-style: none;
}
.message-attachment-item{
	margin-bottom: 7px;
}
.message-subject{
	.fa-paperclip{
		margin-right: 7px;
	}
}
.message-content-attachments{
	list-style: disc;
	margin-left: 17px;
	a:hover{
		text-decoration: underline;
	}
}