$orange: #FA8143;
$dark-green: #006680;
$darkest-green: #0e4656;
$darkest-blue: #013C4D;
.clean{
	width: 100%;
	float: left;	
	clear: both;
	position: relative;
}
.banner{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	h2{
	 	font-size: 28px;
		font-weight: bold;
		color: #FFF;
		line-height: 1.2em;
		text-transform: uppercase;
		margin-bottom: 15px;
	 }
	p{
	 	font-size: 16px;
		color: #FFF;
		line-height: 1.5em;
		margin-bottom: 15px;
	 }
}
.shadowded{
	text-shadow: 1px 1px 2px rgba(15, 15, 15, 1);
 }
.banner-video{
	 background-image: url('home-banner-video.jpg');
	 padding-top: 7.5%;
	 padding-bottom: 7.5%;
	 .future-video{
		font-size: 28px;
		font-weight: bold;
		color: #000;
		line-height: 1.1em;
		text-transform: uppercase;
	}
}
.banner-central{
	background-image: url('home-banner-central.jpg');
	padding: 5% 0;
}
.translucide-title{
	max-width: 440px;
	display: inline-block;
	padding: 30px;
	background: rgba(0,0,0,0.5);
	color: #FFF;
	font-size: 40px;
	font-weight: bolder;
	text-transform: uppercase;
}
.translucide-box{
	width: 100%;
	float:left;
	padding: 30px;
	background: rgba(0,0,0,0.5);
	color: #FFF !important;
	text-align: center;
	&:hover{
		color: #FFF;
	}
	h2{
		@extend .cta;
		text-align: center;
		margin-bottom: 25px;
		-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	}
	h3{
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 15px;
	}
	p{
		font-size: 16px;
		color: #FFF;
		line-height: 1.5em;
		margin-bottom: 15px;
	}
}
.cta{
	font-size: 20px;
	font-weight: bold;
	color: #000;
	line-height: 1.1em;
	color: #FFF;
	padding: 15px 25px;
	text-transform: uppercase;
	background: $orange;
	&.choose-role{
		background: $dark-green !important;
		&:hover{
			background: $orange !important;
		}
	}
	&:hover{
		color: #FFF;
	}
}
.features{
	padding: 5% 0;
	h2{
		color: $dark-green;
		font-size: 32px;
		font-weight: bold;
		line-height: 1.1em;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	p{
		color: $dark-green;
		font-size: 18px;
		line-height: 1.5em;
		margin-bottom: 15px;
	}
	.feature{
		text-align: center;
		margin-bottom: 2.5%;
		&:nth-child( odd ) {
			clear: both;
		}
	}
	.container{
		max-width: 960px;
	}
}
.feature-icon{
	width: 100px;
	height: 100px;
	line-height: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	font-size: 3.5em;
	text-align: center;
	background: $orange;
	color: white;
	display:inline-block;
	margin-bottom: 25px;
}
.bottom{
	padding: 5% 0;
	color: $darkest-green;
	font-size: 50px;
	p{
		line-height: 1em;
	}
}
.banner-investor{
	background-image: url('investidor-banner.jpg');
	.container{
		position: relative;
		padding: 10% 0;
	}
}
.banner-realtor{
	background-image: url('corretor-banner.jpg');
	.container{
		position: relative;
		padding: 10% 0;
	}
}
.banner-partner{
	background-image: url('parceiro-banner.jpg');
	.container{
		position: relative;
		padding: 10% 0;
	}
}

.title-on-top{
	position: absolute;
	left: 0;
	top: 0;
	background: $darkest-blue;
	color: white;
	font-size: 20px;
	font-style: italic;
	padding: 10px 20px;
}
.full-sliders{
	.slick-slide{
		position: relative;
	}
	.slider-content{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		padding-top: 45px;
	}
	.slick-dots{
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 20px;
		text-align: center;
		li{
			display: inline-block;
			width: 20px;
			height: 20px;
			background: white;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			text-indent: -9999px;
			margin: 0 7px;
			cursor: pointer;
			&:hover,
			&.slick-active{
				background: #FA8143;
			}
		}
	}
}
.banner-faq{
	background-image: url('investidor-banner-faq.jpg');
	padding: 2.5% 0;
}
.title-faq{
	font-size: 24px;
	font-weight: bolder;
	text-transform: uppercase;
	margin-bottom: 5% !important;
	&::before{
		width: 105px;
		height: 92px;
		display: inline-block;
		vertical-align: middle;
		background: url('question-baloon.png') no-repeat;
		background-size: 105px auto;
		content: '';
		margin-right: 25px;
	}
	span{
		display: inline-block;
		vertical-align: middle;
		color: $darkest-blue;
	}
}
.page-investor{
	.full-sliders{
		margin-bottom: 5%;
	}
}
.page-realtor{
	.banner-realtor{
		margin-bottom: 5%;
	}
	.features{
		padding-bottom: 3%
	}
}
.page-partner{
	.highboxes,
	.full-sliders{
		margin-bottom: 5%;
	}
}
.icon-controls{
	width: 58px;
	height: 60px;
	display: inline-block;
	background: url('icon-controls.png');
	background-size: 58px auto;
	margin-top: 20px;
}
.icon-tools{
	width: 54px;
	height: 54px;
	display: inline-block;
	background: url('icon-tools.png');
	background-size: 54px auto;
	margin-top: 24px;
}
.highboxes{
	margin-top: -5%;
}
.highbox{
	position:relative;
	text-align:center;
	background: rgba(31,77,92,0.9);
	padding: 0 35px 40px;
	h2{
		font-size: 32px;
		font-weight: bold;
		line-height: 1.1em;
		color: white;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	p{
		color: #FFF;
		line-height: 1.5em;
	}
	.feature-icon{
		margin-top: -50px;
	}
}
.light-box{
	background: #FCFCFD;
	p, h2{
		padding: 20px;
	}
	h2{
		font-size: 20px;
		font-weight: bold;
		color: white;
		line-height: 1.2em;
		background: $darkest-blue;
		text-transform: none;
		margin-bottom: 0;
	}
	p{
		color: $dark-green;
		font-size: 17px;
		line-height: 1.5em;
	}
}
@media (max-width: 640px) {
	.page-partner{
		.full-sliders{
			display: none;
		}
	}
	.bottom{
		font-size: 35px;
	}
}
@media (max-width: 768px) {
	.highboxes{
		margin-top: 20px;
		.highbox{
			min-height: 0 !important;
			padding-bottom: 80px;
		}
	}
	.banner-partner{
		margin-bottom: 5%;
		.container{
			> .row{
				margin-top: 25px;
				text-align: center
			}
		}
	}
	.page-partner{
		.translucide-title{
			font-size: 30px;
		}
		.full-sliders .slider-content{
			padding-top: 25px;
		}
	}
}