.home-menu{
	color: #013C4D;
	font-size: 16px;
	list-style: none;
	float: right;
}
.home-menu li{
	display: inline-block;
	margin: 5px 50px 0 0;
}
.home-menu li a:hover{
	cursor: pointer;
}
.home-menu li a:hover,
.home-menu li.current a{
	color: #F67E30;
}
header .social-icon{
	float: right;
}
.sobre-container{
	padding-bottom: 50px;
}
#footer .footer-menu{
	margin-top: 0;
}
#change-deal-status{
	.message-row-to{
		display: none;
	}
}
.destaque {
	padding: 20px;
	margin: 0 auto;

	.image-div, .label-div{
		padding: 20px;
		color: white;
		background-color: #006680;
		margin: 0 auto;
	}
	img {
		width: 50px;
		height: 50px;
	}
}
.slider-profile {
	.btn-view-all, .slider-type {
		display: none;
	}
}

.slider-buttons {
	margin: 30px 0px 30px 0px;
	text-align: center;
	.action-button {
		margin: 0px 20px 0px 20px;
	}
}

.slider-link {
	width: 100%;
	display: block;
	&[data-lines="1"]{
		line-height: 50px;
  }
	&[data-lines="2"]{
		line-height: 25px;
	}
}

.slider-div {
	height: 40px;
}
/* maps */
/* Always set the map height explicitly to define the size of the div
	 * element that contains the map. */
	#map {
		height: 100%;
		.controls {
			margin-top: 10px;
			border: 1px solid transparent;
			border-radius: 2px 0 0 2px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			height: 32px;
			outline: none;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
		}

		#pac-input {
			background-color: #fff;
			font-family: Roboto;
			font-size: 15px;
			font-weight: 300;
			margin-left: 12px;
			padding: 0 11px 0 13px;
			text-overflow: ellipsis;
			width: 300px;
		}

		#pac-input:focus {
			border-color: #4d90fe;
		}

		.pac-container {
			font-family: Roboto;
		}

		#type-selector {
			color: #fff;
			background-color: #4d90fe;
			padding: 5px 11px 0px 11px;
		}

		#type-selector label {
			font-family: Roboto;
			font-size: 13px;
			font-weight: 300;
		}
		#target {
			width: 345px;
		}
	}

	.section-profile {
		margin-bottom: 50px !important;
	}

	.contact-profile {
		padding: 20px 5px;
		border: 1px solid blue;
	}

	.group-mobile {
		margin: 10px;
		.row-group, .row-col {
			border: solid 1px;
		}
	}
.pagination {
	font-size: 30px;
	.previous_page, .next_page {
		i {
			font-size: 50px;
		}
	}
}
.icon-group {
	color: red;
	&[data-stage="Pronto"]{
		color: green;
	}

}

.tabs-deal {
width: 33.333% !important;
}
@media (max-width: 970px){
	.tabs-deal {
	width: 100% !important;
	}
}
