@import 'variables.scss';
.edit_deal{
	#reserve-button{
		display: none
	}
}
.deal-row{
	a[data-action="proposal"]{
		display: none;
	}
}
.deal-row[data-status="Reservado"]{
	.deal-view .has-eye{
		display: none;
	}
	a[data-action="proposal"]{
		display: inline-block;
	}
}
.user-role-construction_company .deal-row[data-status="Reservado"] a[data-action="proposal"],
.user-role-realtor .deal-row[data-status="Reservado"] a[data-action="proposal"]{
	display: none !important;
}
.deal-form-title{
	color: $orange;
	margin-bottom: 10px;
}
.deal-panel{
	background: #F0F0F0;
	border-radius: 20px;
	padding: 15px;
	margin-bottom: 15px;
}
.deal-partial-form,
#proposal-form{
	.deal-form-property-value{
		font-weight: bold;
		font-size: 24px;
		text-transform: uppercase;
	}
	.deal-form-observation{
		margin-bottom: 15px;
	}
	.large-label{
		font-weight: bold;
		text-transform: uppercase;
		font-size: 20px;
	}
}
.pqp{
	position: absolute;
	left: -9999px;
	top: -9999px;
	visibility:hidden;
}
.gallery-item{
	&.updated img{
		border: 4px solid green;
	}
}
.deal-button{
	padding: 20px;
	margin: 15px 7.5px;
	display: inline-block;
	border-radius: 10px;
	&.active{
		background: $green;
		p{
			color: white;
		}
	}
	.fa{
		color: $orange;
		font-size: 3em;
		margin-bottom: 7px;
	}
	p{
		font-weight: bold;
		line-height: 1.2em;
	}
}
.accept-other-payments-container{
	text-align: left;
	input{
		width: auto;
		margin-top: 2px;
		display: inline-block;
	}
	label{
		font-size: 16px;
		line-height: 1.5em;
	}
}
#property-actions{
	margin-bottom: 3.5%;
}
.slider-container[data-items="0"]{
	display: none;
}
.edit-image-map{
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: none;
}
.notify-users{
	margin: -7.5% 0 5%;
	.button-orange:hover{
		background: $orange;
	}
}
#docs{
	.dropzone{
		margin-bottom: 10px;
	}
	.dz-preview{
		display: none;
	}
	.dz-message{
		border: 1px solid #DDD;
		padding: 15px;
	}
	.table{
		td{
			vertical-align: middle;
		}
	}
}
.add-plant,
.mark-plant,
.donwload-plant{
	color: #A3A3A3 !important;
	font-size: 19px;
	text-align: center;
	border: 1px solid #A3A3A3;
	background: white;
	margin-top: -51px;
	margin-left: 5px;
	position: relative;
	z-index: 999;
	&:hover{
		color: $green-dark !important;
	}
	.icon{
		width: 65px;
		height: 50px;
		line-height: 50px;
		border-right: 1px solid #A3A3A3;
		display: inline-block;
	}
	.text{
		height: 50px;
		line-height: 50px;
		display: inline-block;
		text-transform: uppercase;
		padding-left: 20px;
		padding-right: 20px;
	}
}
#section-plant{
	.sobover{
		margin-top: -80px;
	    margin-left: -15px;
	    float: left;
	    clear: none;
	    .title-box{
	    	margin: 0;
	    }
	}
	.donwload-plant.on-title{
	    float: left;
	    margin: 0;
	    display: inline-block;
	    height: 80px;
	    width: 80px;
	    line-height: 80px;
	    font-size: 2em;
	    border-color: #d0d1d8;
	    border-left: 0;
		.icon{
			border-right: 0;
		}
	}
}
.property-preview{
	background: $green-dark;
	color: white !important;
	font-size: 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 15px;
	-webkit-box-shadow: 5px 5px 38px -1px rgba(68,68,68,1);
	-moz-box-shadow: 5px 5px 38px -1px rgba(68,68,68,1);
	box-shadow: 5px 5px 38px -1px rgba(68,68,68,1);
	z-index: 950;
	&:hover{
		color: white;
		background: $green;
	}
}
.imp-tooltip{
	line-height: 1.4em;
	.tooltip-title{
		display: block;
		margin-bottom: 7px;
	}
	.reserve-spot{
		width: 100%;
		background: $green;
		color: white;
		margin-top: 10px;
		font-size: 18px;
		text-transform: uppercase;
		padding: 10px;
		&::before{
			content: "\f00c";
			font-family: 'FontAwesome';
			margin-right: 5px;
		}
		&:hover{
			background: $green-dark;
		}
	}
}
.map-toggle-nav{
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
	background: $orange !important;
	padding: 5px 10px;
	-webkit-box-shadow: 5px 5px 38px -1px rgba(68,68,68,1);
	-moz-box-shadow: 5px 5px 38px -1px rgba(68,68,68,1);
	box-shadow: 5px 5px 38px -1px rgba(68,68,68,1);
	z-index: 20;
	&:hover{
		background: $orange !important;
		-webkit-box-shadow: 5px 5px 38px -1px rgba(68,68,68,1);
		-moz-box-shadow: 5px 5px 38px -1px rgba(68,68,68,1);
		box-shadow: 5px 5px 38px -1px rgba(68,68,68,1);
	}
	&:active{
		outline: 0;
	}
	.fa-map,
	.fa-map-o{
		&::after{
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-weight: bold;
			font-size: 12px;
			content: 'Navegar no mapa';
			margin-left: 10px;
		}
	}
	.fa-map-o{
		display: none;
	}
}
.property-map{
	&.navigating{
		.fa-map{
			display: none;
		}
		.fa-map-o{
			display: inline-block;
			&::after{
				content: "Voltar"
			}
		}
		.section-overlayer{
			display: none;
		}
		.map-toggle-nav{
			background: $green !important;
		}
	}
}
.action-button{
	padding: 15px 20px;
	border: 1px solid #D4D3D8 !important;
	font-size: 18px;
	color: #f78941;
	outline: none;
	&:hover,
	&[data-following="true"]{
		color: #FFF;
		background-color: #f78941;
		border-color: 1px solid #f78941 !important;
	}
	&.fallow{
		font-size: 12px;
		&[data-following="false"]:after{
			content: "Seguir"
		}
		&[data-following="true"]:after{
			content: "Seguindo"
		}
	}
	&[data-following="false"] .text:after{
		content: "Seguir empreendimento"
	}
	&[data-following="true"] .text:after{
		content: "Você esta seguindo"
	}
	&[data-action="sendmail"]{
		padding-top: 17px;
		padding-bottom: 20px;
		.text:after{
			content: "Enviar por e-mail"
		}
	}

	&[data-action="proposal"]{
		padding-top: 17px;
		padding-bottom: 20px;
		.text:after{
			content: "Enviar proposta"
		}
	}

	&[data-action="whatsapp"]{
		padding-top: 17px;
		padding-bottom: 20px;
		margin-left: 5px;
		.text:after{
			content: "Compoartilhar com no What's App"
		}
	}
	*{
		display: inline-block;
		vertical-align: middle;
	}
	.fa{
		font-size: 1.5em;
		margin-right: 5px;
	}
}
.prepend-rs::before{
	content: "R$ ";
}
.slider-wrapper{
	max-width: 1090px;
	margin: 0 auto;
}
.property-edit{
	input[type="text"]{
		background: #FFF;
		border: 1px solid #DDD;
	}
	.property-title{
		text-align: center;
	}
	.property-value{
		background:transparent !important;
	}
}
#section-plant{
	margin-bottom: 2.5%;
	.add-plant[data-cancel]{
		display: none;
	}
	&.adding{
		.add-plant{
			display: none;
		}
		.add-plant[data-cancel]{
			display: block;
		}
		#property-plant{
			left: 0;
			z-index: 999;
		}
	}
	.title-box{
		margin-top: -80px;
		margin-left: -15px;
	}
}
#property-footer{
	margin-bottom: 10px;
}

#property-stage.property-showing{
	.rs-handle{
		display: none;
	}
	.rs-control .rs-bg-color {

	}
}
.property-show{
	#property-title h1{
		margin-bottom: 3.5%;
	}
	#price{
		.content,
		.tab-content,
		.tab-content p,
		.tab-content div{
			color: #FFF;
		}
		.property-value{
			color: #FFF;
			background: transparent;
			display: inline-block;
			width: auto;
			text-align: left !important;
		}
	}

	#map-info,
	#map-info .container{
		height: auto;
	}
}
#property-title{
	h1{
		margin-bottom: 0;
		padding-bottom: 0;
	}
	label{
		font-weight: bold;
	}
}
#property-stage-gallery{
	z-index: 99;
}
.remove-picture{
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 2em;
	color: #006680;
	z-index: 20;
	display:none;
	&:hover{
		color: #0389ab;
	}
}
#section-plant{
	.remove-picture{
		display: block;
	}
}
.property-add-picture{
	padding:100px;
	color: #767676;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}
.property-banner{
	width: 100%;
	min-height: 550px;
	float: left;
	position: relative;
	text-align:center;
	background-color: #CCCCCC;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	.property-add-picture{
		margin-top: 9%;
		border:1px dashed #DDD;
		background: rgba(255,255,255,0.2);
		.fa{
			font-size: 20px;
			vertical-align: middle;
		}
	}
	&:not([style=""]){
		.property-add-picture{
			display: none;
		}
		.remove-picture{
			display: block;
		}
		.edit-image-map{
			display: block;
		}
	}
}

.slider-plants{
	margin-bottom: 15px;
}
.slider-plants-nav{
	.slick-slide{
		width: 115px;
	}
	.form-control{
		border-radius: 0;
	}
	.plant-thumb-nav{
		padding: 5px;
	}
	.plant-label input{
		text-align: center;
		font-size: 14px;
	}
	.plant-label-text{
		text-align: center;
		padding-top: 10px;
		padding-bottom: 5px;
		font-size: 14px;
	}
	.slick-current{
		background: $green;
		color: white;
	}
}

.property-section{
	width: 100%;
	float: left;
	clear: both;
	position:relative;
}
#property-plant{
	margin-bottom: 5%;
	position:absolute;
	left: -9999px;
	top: 0;
}
#property-map,
#map-container{
	height: 550px;
}
#map-container{
	width: 100%;
	z-index:0;
}
.section-overlayer{
	width: 100%;
	height:inherit;
	position:absolute;
	left:0;
	top:0;
	z-index: 10;
}
#property-gallery{
	.container{
		max-width: 1030px;
	}
	.grafic{
		position: absolute;
	   	right: -80px;
    	top: -100px;
	}
}
.picture-container{
	float:left;
	position:relative;
	.fresco{
		&::after{
			position: absolute;
			right: 5px;
			bottom: 5px;
			content: "\f00e";
			font-family: 'FontAwesome';
			color: white;
			font-size: 22px;
		}
		&:hover{
			&:after{
				color: $orange;
			}
		}
	}
	.remove-picture{
		display: block;
		right: 5px;
		top: 5px;
	}
}
.list-oportunity-information{
	background: transparent;
}
.property-show-gallery,
#property-show-gallery{
	text-align:center;
	margin: -60px 0 5%;
	.picture-container{
		border:5px solid #E4E4E4;
		-webkit-box-shadow: 5px 5px 38px -1px rgba(68,68,68,1);
		-moz-box-shadow: 5px 5px 38px -1px rgba(68,68,68,1);
		box-shadow: 5px 5px 38px -1px rgba(68,68,68,1);
	}
}
#property-edit-gallery,
#property-edit-stage-gallery{
	background-color: #EEE ;
	text-align:center;
	margin: -45px 0 10%;
	border:5px solid #E4E4E4;
	&:not([data-items="0"]){
		padding: 0;
		text-align: left;
		.dropzone{
			display: inline-block;
		}
		.property-add-picture{
			padding: 65px 65px 70px;
			float: left;
		}
		.dz-preview{
			display: none;
		}
		.dz-message{
			display: inline-block;
			.fa{
			    background: #DDD;
			    border-radius: 50px;
			    padding: 30px;
			}
			.text{
				display: none;
			}
		}
	}
	&[data-items="4"]{
		.property-add-picture{
			display: none;
		}
	}
}

.gallery-user {
	&[data-items="3"]{
		.property-add-picture{
			display: none;
		}
	}

}
#property-edit-stage-gallery{
	text-align: center !important;
}

.property-slider{
	padding-left: 5px;
	display: inline-block;
	img{
		max-height: 180px;
	}
	> div{
		display: inline-block;
		margin: 15px 5px 15px 10px;
	}
}
#property-info,
.all-tabs{
	padding: 2.5% 0 7.5%;
	.tab-content{
		width: 100%;
		float: left;
		clear: both;
		border-top:0;
		background: #FFF;
	}
	.nav-tabs > li > a{
		border: 0;
	}
	trix-editor{
		min-height: 350px;
	}
	.bb-grey{
		background: white;
	}
	.tabs-title{
		&.active{
			background: #F78941;
			border-color: #F78941;
			*{
				color: #FFF;
			}
		}
		*{
			color: #F78941;
		}
		.textual{
			display: inline-block;
			vertical-align: middle;
		}
		.fa{
			font-size: 2.5rem;
			vertical-align: middle;
		}
	}
	.price-container{
		background: #006680;
		.tab-content{
			background:transparent;
			padding: 20px;
			font-size: 20px;
			color: #b3b3b3;
		}
		.property-payment-conditions{
			min-height: 150px;
			line-height: 1.5rem;
			font-size: 16px;
			color: #FFF;
			background: rgba(255,255,255,0.1);
			padding: 10px;
			&::-webkit-input-placeholder {
			    color: rgba(255,255,255,0.8);
			}
			&:-moz-placeholder {
			   color: rgba(255,255,255,0.8);
			   opacity: 1;
			}
			&::-moz-placeholder {
			   color: rgba(255,255,255,0.8);
			   opacity: 1;
			}
			&:-ms-input-placeholder {
			   color: rgba(255,255,255,0.8);
			}
			&::-ms-input-placeholder {
			   color: rgba(255,255,255,0.8);
			}
		}
		.tabs-title{
			&.active{
				width: 100%;
				background: #006680;
				border: 0;
				*{
					color: #F78941;
				}
			}
		}
	}
}
#property-stage{
	background: #F7F8F8;
	margin-bottom: 0;
	padding-bottom: 5%;
	.stage-circle-container{
		padding-right: 4.5%;
	}
	trix-editor{
		min-height: 200px;
	}
}
#property-stage-gallery{
	.titleU{
		max-width: 400px;
	}
}
#property-map{
	margin-bottom: 2.5%;
	.title-box{
		margin-bottom: 2.5%;
	}
	.map-input{
		background: rgba(55, 152, 218, 0.94);
		padding: 3px 7px;
		.refresh-button{
			padding-top:5px;
		}
		.fa-refresh{
			color: #FFF;
			font-size: 30px;
			&:hover{
				color: #EEE;
				cursor: pointer;
			}
		}
	}
}
.panel-provizio{
	border: 1px solid;
	.panel-heading {
		background-color: #006680 !important;
		.panel-title{
			color: white;
		}
	}
}
.whatsapp {
	height: 20px;
	width: 20px;
}

.value-property{
	font-weight: bold;
	font-size: 20px;
	// text-align: left;
	padding: 10px;
}
.link-vermais{
	background-color: #f78941;
	// width: 40%;
	padding: 10px;
}
.info-property{
	padding: 20px;
}

.status-property {
	position: absolute;
	right:20px;
	top:5px;
	color:#f78941;

}
.btn-back {
	border: solid 1px #f78941;
	background: white;
	color: #f78941;
}
@media(max-width: 969px){
	// .panel-provizio{
	// 	border: 1px solid #f78941;
	// 	.panel-heading {
	// 		background-color: #f78941 !important;
	// 		.panel-title{
	// 			color: white;
	// 		}
	// 	}
	// }
  .list-oportunity-resume {
		// display: none;
	}
	.search-title{
		background-color: #f78941;
		color: white;
		padding: 10px;
		margin: 10px;

		// margin-bottom: 5px;
		// margin-left: 40%;
		// margin-right: 40%;
	}
	.img-result{
		width: 100%;
	}
	.whatsapp-link {
		background-color: #dee1e5;
		margin-left: 10px;
		padding: 10px;
		text-align: center;
		height: 40px;
		font-size: 12px;
	}
	.follow-link {
		background-color: #dee1e5;
		margin-right: 10px;
		padding: 10px;
		text-align: center;
		height: 40px;
		font-size: 12px;
		vertical-align: middle;
	}
	.share-links{
		margin-top: 20px;
	}
}
@media (min-width: 970px){
	.search-title{
		background-color: #f78941;
		color: white;
		padding: 10px;
		margin-bottom: 5px;
		margin-left: 40%;
		margin-right: 40%;
	}

	.imagens{
		position: relative;
	}
	.img-result{
		position: relative;
	}
	.follow-link{
		background-color: white;
		position: absolute;
		z-index: 1;
		right:0px;
		bottom:0px;
	}

	.whatsapp-link{
		background-color: white;
		position: absolute;
		z-index: 1;
		left:0px;
		bottom:0px;
	}
}

.btn-provizio, .btn-provizio:hover, .btn-provizio:focus{
	background-color: #006680;
	color: white;
}

.btn-provizio:active{
	background-color: #f78941;
	color: #006680;
}

// @media (max-width: 479px) {
//     .follow-link {
// 			margin-top: 20px !important;
// 			padding: 20px;
// 			position: inherit;
// 			padding: auto;
// 			border: auto;
// 			right: auto;
// 			bottom: auto;
//     }
//
// 		.img-imovel {
// 			// bottom: 100px !important;
// 		}
// }

hr {
  width: 100%;
  background-color:#006680;
  height: 1px !important;
}


.check-div {
	.checkbox {
		width: 100%;
	}
}
