@import 'variables.scss';

p{
	line-height: 1.5em;
}
a:hover{
	cursor: pointer;
}
.user-role-realtor{
	.deal-actions{
		display: none;
	}
}
.user-role-investor{
	.deal-actions{
		display: none;
	}
}
#search-all-form{
	margin-top: -7px;
}
.blocked{
	width: 100%;
	float: left;
}
.left-col{
	padding-left: 0;
}
.right-col{
	padding-right: 0;
}
.top-counter{
	a{
		&:hover{
			background: #0E4656;
			color: white !important;
			.number{
				color: $orange !important;
			}
		}
	}
}
.full{
	width: 100%;
	float:left;
}
.terms_of_service_container{
	h3{
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: bold;
		color: $green-dark;
	}
	textarea{
		height: 300px;
		font-size: 12px;
		background: #EEE;
		margin-bottom: 10px;
	}
	small{
		font-weight: bold;
		font-size: 12px;
	}
	label{
		line-height: 1 !important;
	}
	small,
	.field_with_errors,
	input[type="checkbox"]{
		width: auto;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}
}
#tab-deals-finished #accordion{
	margin-bottom: 20px;
}
.hide-default-card-header,
#tab-deals-waiting-customer{
	.card-header{
		display: none;
	}
	.mgb-50,
	.pdtb-50{
		margin: 0 !important;
		padding: 0 !important;
	}
	.card .container{
		padding-top: 20px;
	}
}
.vertical-tabs{
	.tabs-left{
		a{
			background: $green-dark;
			color: white !important;
			font-size: 18px;
			border: 0 !important;
			&:hover{
				background: $green !important;
			}
		}
		.active{
			a{
				background: $orange !important;
			}
		}
	}
	.tab-content{
		margin-top: 2px;
		border: 1px solid $green-dark;
		padding: 15px;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}
.inline{
	display: inline-block;
}
.relative{
	position: relative;
}
.put-aside{
	position: absolute;
	top: 0;
	left: 0;
	&.right{
		left: initial;
		right: 0;
	}
	&.bottom{
		top: initial;
		bottom: 0;
	}
}
.my-profile-link{
	width: 30px;
	height: 30px;
	img{
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
	}
}
.push-notifications{
	position: relative;
	.badge{
		position: absolute;
		right: -5px;
		top: -5px;
		color: white;
		font-size: 10px;
		background: #B80B0B;
		&[data-count="0"]{
			display: none;
		}
	}
}
.button-orange{
	background: $orange;
	color: white;
	padding: 10px 20px;
	display: inline-block;
	&:hover{
		color: white;
	}
}
#push-dropdown{
	width: 330px;
    background: rgba(14,70,86,0.95);
    float: left;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 100;
    display: none;
}
.push-list{
	width: 100%;
	float: left;
	> li{
		width: 100%;
		float: left;
		color: white;
		border: 0;
		border-bottom: 1px solid white;
		padding: 20px;
	}
	.see-more,
	.notify-content{
		display: none;
	}
	.notify-list-item{
		height: auto;
		&.visualized-false{
			background: #F78941;
		}
	}
	.notification{
		cursor: pointer;
	}
}
.menu-medium{
	.ft-20{
		font-size: 18px;
	}
}
.results-group{
	width: 100%;
	float: left;
	.results-item{
		width: 100%;
		float: left;
		padding: 15px;
		border: 1px solid #DDD;
		background: #FAFAFA;
		margin-bottom: 2.5%;
		.search-result-resume{
			line-height: 1.4em;
		}
		.search-result-icon {
			img{
				max-width: 100%;
				height: auto;
			}
			.fa{
				font-size: 2em;
				color: $orange;
				margin-top: 15px;
			}
		}
		.search-result-link .fa{
			font-size: 1.2em;
			margin-top: 25px;
		}
		.search-result-footer{
			font-size: 0.8em;
			color: #888;
			font-style:italic;
		}
	}
}
.searchable-wrapper{
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 2.5%;
	.results-for{
		margin-top: 8px;
	}
	.back-inbox{
		width: 100%;
		float: left;
		clear: both;
		padding-top: 7px;
		a{
			color: $orange;
		}
	}
	.searchable-form{
		width: 100%;
		float: right;
		clear: both;
		position: relative;
		[name="q"]{
			padding-right: 21px;
			border: 1px solid #DDD;
			background: #FAFAFA;
		}
		button{
			position: absolute;
			right: 2.5%;
			top: 11px;
			.fa{
				color: $orange;
				position: initial;
			}
		}
		.hide{
			display: none !important;
		}
	}
}
.change-realtor-screen{
	.main-title{
		margin-bottom: 2.5%;
	}
	.realtor-change-city::before{
		content: " - "
	}
	.realtor-change-state::before{
		content: " / "
	}
	.bio-avatar{
		margin-right: 10px;
	}
	.change-realtor{
		margin-bottom: 7px;
	}
	.list-group{
		.list-group-item:hover{
			border: 1px solid #DDD;
			&.active{
				border: 1px solid #2b669a;
				cursor: default;
			}
		}
	}
}
.history-line{
	margin-bottom: 30px;
	.txt{
	    height: 100px;
	    overflow: hidden;
	}
	.title-icon{
		font-size: 1.2em;
		&.square-left{
			margin-right: 5px;
		}
		&.square-right{
			top: 20px;
			right: 20px;
		}
	}
	.lt-message{
		width: 100%;
		float: left;
	}
	.lt-message-more{
		padding: 15px;
		background: rgba( 255,255,255,0.8 ) !important;
		position: absolute;
		right: 5px;
		bottom: 5px;
		opacity: 1 !important;
		.fa{
			font-size: 1.2em;
			width: auto;
			cursor: pointer;
			position: relative;
			left: 0;
			top: 0;
		}
	}
	.collapsed{
		.lt-message-more{
			.fa{
				&::before{
					content: "\f146";
				}
			}
		}
	}
}
.col-message-lateral{
	.message-lateral-item{
		height: auto;
		border-bottom: 0;
		&:last-child{
			border-bottom: 1px solid #d0d1d8;
		}
		a{
			padding: 15px;
			display: block;
			font-size: 20px;
			&:hover{
				background: $grey;
				color: $orange;
			}
			&.active{
				background: $green;
				color: $orange;
			}
		}
	}
}
.notify-list{
	margin-bottom: 5%;
	.notify-list-item{
		height: auto;
		border-bottom: 0;
		&:last-child{
			border-bottom: 1px solid #d0d1d8;
		}
		&.collapsed{
			.notify-content{
				display: block;
			}
		}
		.notify-content{
			display: none;
		}
		.notify-content{
			padding: 30px;
			background: $grey;
		}
		.notify-title{
			padding: 30px;
			color: $bt-green;
			font-size: 1.2em;
			.fa{
				color: $orange;
				font-size: 1.4em;
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
			}
			.title-text{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}
.dropzone-attachments{
	text-align: center;
	padding: 100px 15px;
	background: #FEFEFE;
	border: 1px dashed #CCC;
	&.dz-started{
		&.dz-max-files-reached{
			.attach-add{
				display: block;
			}
		}
		.attach-add{
			display: none;
		}
		.attach-upload-confirm{
			display: block;
			text-align: center;
		}
	}
	.dz-preview{
		font-size: 12px;
		line-height: 1.2em;
	}
	.dz-remove{
		font-weight: bold;
		color: red;
	}
	.attach-upload-confirm{
		display: none;
	}
}
.underline-on-hover:hover{
	text-decoration: underline;
}
.clear{
	clear: both;
}
.desk, .fa-circle-o {
	display: none;
}
.filter-list li{
	display: inline-block;
}
.filter-list-item.active {
	font-weight: bold;
	a{
		color: $green-dark !important;
	}
}
.see-all{
	font-size: 0.7em;
	text-decoration: underline !important;
}
.not-found{
	text-align: center;
	padding: 100px 0 80px;
}

.ft-12, .rs-tooltip {
	font-size: 12px;
}

.ft-14 {
	font-size: 14px;
}

.ft-16 {
	font-size: 16px;
}

.ft-18 {
	font-size: 18px;
}

.ft-20, .button {
	font-size: 20px;
}

.ft-24 {
	font-size: 24px;
}

.ft-30 {
	font-size: 30px;
}

.fa-2x {
	font-size: 1.5rem;
	width: 27px;
}

.notify-list .fa-2x {
	font-size: 1.8rem;
}

.perfil .fa-arrow-up {
	width: 45px;
}
.ct-obg a span{
	line-height:1.1em;
}
.btn{
	border:0;
	&.btn-secondary:hover{
		text-decoration: underline
	}
}
#main-title{
	position: relative;
	overflow: initial;
	.role-display-name{
	    position: absolute;
	    height: 100px;
	    background: #0E4656;
	    left: 0;
	    top: -102px;
	    z-index: 100;
	    display: table;
	    width: 100%;
	    outline: 1px solid #0E4656;
	    .inner{
	    	vertical-align: middle;
	    	display: table-cell;
	    }
	}
	.fa, .page-title{
		display: inline-block;
		vertical-align: middle;
	}
}
.type-box .fa-2x {
	font-size: 2.2rem;
	margin-right: 10px;
}

.tabs-title i {
	font-size: 1.4rem;
	margin: 0 5px 0 5px;
}
#yeld .counters{
	padding-right:0;
	p{
		line-height: 1.3em;
	}
}
.mg-20 {
	margin: 20px;
}

.mgtb-10 {
	margin: 10px 0 10px 0;
}

.mgtb-20 {
	margin: 20px 0 20px 0;
}

.mgtb-30 {
	margin: 30px 0 30px 0;
}

.mgtb-50 {
	margin: 50px 0 50px 0;
}

body .mgt-10, .slider-nav .slick-slide {
	margin-top: 10px;
}

.mgt-20 {
	margin-top: 20px;
}

body .mgt-30 {
	margin-top: 30px;
}

.mgt-40 {
	margin-top: 40px;
}

.mgt-50 {
	margin-top: 50px;
}

.mgb-10 {
	margin-bottom: 10px;
}

.mgb-20 {
	margin-bottom: 20px;
}

.mgb-50 {
	margin-bottom: 50px;
}

.mgr-5, .filter-list-item {
	margin-right: 5px !important;
}

body .mgr-10 {
	margin-right: 10px;
}

.mgr-20 {
	margin-right: 20px;
}

.mgr-30 {
	margin-right: 30px;
}

.mgm-20 {
	margin-left: -20px;
}

.mglr-10 {
	margin: 0 10px 0 10px;
}

.mglr-20 {
	margin: 0 20px 0 20px;
}

.mgl-10 {
	margin-left: 10px;
}

.mgl-20 {
	margin-left: 20px;
}

.mgl--20 {
	margin-left: -20px;
}

.mgl-30 {
	margin-left: 30px;
}

.mgt-0 {
	margin-top: 0;
}

.mgb-0 {
	margin-bottom: 0;
}

.mgr-0 {
	margin-right: 0;
}

.pd-10 {
	padding: 10px;
}

.pd-20 {
	padding: 20px;
}

.pd-30 {
	padding: 30px;
}

.pd-40 {
	padding: 40px;
}

.pdtb-10 {
	padding: 10px 0 10px;
}

.pdtb-20 {
	padding: 20px 0 20px;
}

.pdtb-30 {
	padding: 30px 0 30px;
}

.pdtb-50 {
	padding: 50px 0 50px 0;
}

.pdtb-60 {
	padding: 60px 0 60px 0;
}

.pdtb-100 {
	padding: 100px 0 100px 0;
}

body .list-accompany-item {
	padding-top: 5px;
}

.pdt-10 {
	padding-top: 10px;
}

.pdt-15, #appearance1 .rs-tooltip.edit {
	padding-top: 15px;
}

.pdt-20 {
	padding-top: 20px;
}

.pdt-25 {
	padding-top: 25px;
}
.pdb-25 {
	padding-bottom: 25px;
}
.pdb-30 {
	padding-bottom: 30px;
}
.pdt-35 {
	padding-top: 35px;
}
.pdb-35 {
	padding-bottom: 35px;
}

.pdt-50 {
	padding-top: 50px;
}

.pdb-10 {
	padding-bottom: 10px;
}

.pdb-30 {
	padding-bottom: 30px;
}

.pdb-20 {
	padding-bottom: 20px;
}

.pdb-50, .slider-nav .slick-track {
	padding-bottom: 50px;
}

.pdr-10 {
	padding-right: 10px;
}

.pdr-20 {
	padding-right: 20px;
}

.pdl-10 {
	padding-left: 10px;
}

.pdl-20 {
	padding-left: 20px;
}

.pdlr-10 {
	padding: 0 10px 0 10px;
}

.pdlr-20 {
	padding: 0 20px 0 20px;
}
.tabs-deals{
	.tab-content{
		background: transparent !important;
		&.main{
			background: #FAFAFA !important;
			border: 1px solid #d0d1d8;
			border-top: 0;
		}
	}
	margin-bottom: 2.5%;
}
#price .tab-content {
	margin-top: -1px;
}

.type-item {
	margin: 8px 5px 5px 10px;
}

.card-header{
	cursor: pointer;
	h5 {
		padding: 25px 0 20px 0;
		color: $orange;
		&.collapsed{
			.fa-chevron-circle-up{
				-webkit-transform: rotate(180deg);
			    -moz-transform: rotate(180deg);
			    -o-transform: rotate(180deg);
			    -ms-transform: rotate(180deg);
			    transform: rotate(180deg);
			}
		}
		*{
			display: inline-block;
			vertical-align: middle;
		}
	}
}
#header{
	position: relative;
	z-index: 1;
}
.message-header {
	padding: 10px 30px 10px 30px;
}

.login .tab-content {
	padding: 20px 50px 10px 50px;
}

.phase .back-button {
	margin-top: 130px;
	margin-bottom: 90px;
}

.oportunity-option-item {
	padding: 13px;
}

.icon-list-item i {
	padding: 7px 0 0 10px;
}

.pdt-0 {
	padding-top: 0;
}

.pdb-0 {
	padding-bottom: 0;
}

.pdtb-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.pdr-0 {
	padding-right: 0;
}

.pdl-0 {
	padding-left: 0;
}

.pdrm-0 {
	padding-right: 0;
}

.title, .tabs-title, .type-box, .fa-2x {
	text-align: center;
}

.tab-pane.price.oportunity-information-tab.active .tab-content {
	border-top: none;
}

.oportunity-tabs .tabs-title {
	border-right: 1px solid $white;
}

.bb-grey {
	border: 1px solid #d0d1d8;
}

.bbb-white {
	border-bottom: 4px solid $white;
	width: 200px;
}

.rs-border  {
    border-color: $grey;
}

.border-n{
	border: 0 !important;
}
.border-n, .rs-tooltip.hover, .rs-tooltip.edit:hover {

}
.rs-tooltip.edit:hover {
	border-color: #DDD;
}
#stage-circle .rs-tooltip {
	width:70px;
	height: 44px;
	line-height: 36px;
}
.rs-tooltip-text{
	font-size:26px;
}
.stage-circle-small,
#stage-circle-small{
	.rs-tooltip{
		width:50px;
		height: 30px;
		line-height: 14px;
	}
	.rs-tooltip-text{
		font-size:14px;
		font-weight: bold;
	}
	.rs-handle{
		display: none;
	}
}
.rs-tooltip-text.hover::after{
	display:none;
}
.valor {
	border-bottom: none;
}

body {
	color: $bt-green;
	background-color: $white;
	line-height: 1rem;

	a {
		color: $bt-green;
	}
}


.ft-grey {
	color: $ft-grey;
}

.ft-green {
	color: $green;
}

.ft-orange, .ft-orange:hover, .ft-orange:focus, .oportunity-tabs .tabs-title.active span, .rs-tooltip  {
	color: $orange !important;
}

.ft-white, .ft-white:hover, .ft-white:focus, .bt-green, .bt-green:hover, .bt-orange, .bt-orange:hover, .oportunity-tabs-item, .oportunity-tabs-item:hover {
	color: $white;
}

[type="text"],
[type="email"],
[type="number"],
[type="password"]{
	background-color: $bg-input;
}
.proform label{
	line-height: 40px;
}
.proform .radio-options label{
	line-height: 15px;
	font-size: 16px;
}
.proform .has-radio{
	label,
	input{
		display: inline-block;
		vertical-align: middle;
		width: auto;
		margin: 0;
		line-height: 1em;
	}
	label{
		margin-right: 7px;
	}
}
.proform textarea{
	background-color: $bg-input;
	min-height: 150px;
}
.form-sign #role-error{
	padding-left: 0;
}
.form-sign #role-error .filled{
	padding-top: 10px;
}
.parsley-errors-list{
	font-size: 14px;
	color: #F00;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
}
.remember-me{
	padding-top: 10px;
}
.remember-me,
.remember-me *{
	display: inline-block;
	width: auto;
}
.inline-block{
	display: inline-block;
}
input[type="checkbox"]{
	&.inline-block{
		width: auto;
	}
}
.remember-me label{
	font-size: 14px;
}
.bg-grey  {
	background-color: $grey;
}

.bg-white {
	background-color: $white;
}

.bg-label {
	background-color: $bg-label;
}

.login .active .ct-cont {
	background-color: $bg-label-active;
}

.bg-green, .bt-green, .bt-green:hover, .message-menu .active {
	background-color: $bt-green !important;
}

.bg-greend {
	background-color: $green-dark;
}

.bt-orange, .bt-orange:hover, .bg-orange, .rs-range-color {
	background-color: $orange;
}

.bg-white-gallery {
	background-color: white;
	color: orange;
	border: 1px solid orange !important;
	width: 220px !important;
}

.bg {
	background-repeat: no-repeat;
	background-size: cover;
}

.cadastro.bg {
	background-image: $bg-login;
	background-position: center top;
	padding: 130px 0 130px 0;
}

.oportunity {
	background-image: $bg-oportunity-tabs;

}

.maps.bg {
	background-image: $bg-maps;
}
.table-deals{
	background: white;
	tbody{
		td{
			font-weight: normal;
		}
	}
	.btn{
		margin: -5px 0;
	}
}
#accordion{
	margin-bottom: 5%;
	overflow:hidden;
}
.location-item{
	background: #FEFEFE;
	border: 1px solid #EEE;
	border-top: 0;
}

.casa.bg{
	background-image: $bg-casa;
}

.apartamento.bg {
	background-image: $bg-edificio;
}

.sobre.bg {
	background-image: $bg-sobre;
	background-position: center;
}

.bt-orange, .bt-green {
	padding: 12px 30px 12px 30px;
}

.button {
	padding: 15px 55px 15px 55px;
}

.slider-type {
	padding: 20px 40px 20px 40px;
	margin-bottom: -7px;
	border-bottom: none;
}
.search{
	input.has-icon{
		padding-left: 30px;
	}
}
.oportunity-tabs .img, .message-lateral-item, .button, .client-info-tabs .tabs-title, .submenu-search .columns, .list-accompany {
	height: 50px;
}

.oportunity-option-item, .oportunity-information-tabs .tabs-title{
	height: 63px;
}

.type-box.user {
	height: 70px;
}

.type-box.user {
	margin-left: -15px;
	margin-top: -2px;
}

.login-link, .title-box, .notify-list-item {
	height: 80px;
}

.oportunity-tabs{
	text-align: center;
	a{
		border: 0 !important;
		margin: 0 !important;
		padding: 0 !important;
		&:hover,
		&:focus,
		&:active{
			color: $orange !important;
		}
	}
	li{
		margin: 0 10px;
		padding: 0 20px 0 0;
		display: inline-block;
		text-align: center;
		vertical-align: top;
	}
	.fa{
		font-size: 2em;
	}
	.active{
		a, .fa {
			color: $orange;
		}
	}
	.tabs-title {
		height: 90px;
	}
	.border-n{
		margin-right: 5px;
		padding-right: 5px;
	}
}

.type-box.page, .oportunity-resume-item {
	height: 100px;
}
.list-resume-item{
	.oportunity-resume-item{
		border-right: 0;
	}
	&:last-child{
		.oportunity-resume-item{
			border-right: 1px solid #d0d1d8;
		}
	}
}

.lt-message, .lt-info {
	height: 170px;
}

.location-list {
	height: 260px;
}
#error_explanation{
	background: #FFB1AD;
	margin-bottom: 50px;
	padding: 15px;
	color: #111;
	p{
		margin-bottom: 7px;
	}
	.listable{
		margin-left: 20px;
		li{
			list-style: disc;
			margin-bottom: 7px;
		}
	}
}
.perfil-bio, .perfil-contact, .perfil-resume {
	min-height: 290px;
}
.bio-avatar{
	-webkit-border-radius: 140px;
	-moz-border-radius: 140px;
	border-radius: 140px;
}
.perfil-contact{
	.fa, .text{
		display: inline-block;
		vertical-align: middle;
	}
	p{
		padding-bottom: 0;
	}
	p i{
		margin: 5px 7px 5px 0;
	}
}
.development .slider {
	min-height: 300px;
	margin-bottom: 2.5%;
}
.customer-activities{
	.tabs-title{
		border-right: 0;
		font-size: 16px;
		border-bottom: 0;
		height: auto !important;
		a{
			padding: 15px 10px !important;
			border-radius: 0 !important;
			&:hover{
				padding-top:16px !important;
				padding-bottom:16px !important;
				margin: 0 !important;
			}
		}
		&.active {
			background: #006680 !important;
			border-color: #006680;
			a{
				padding-top:16px !important;
				padding-bottom:16px !important;
				margin: 0 !important;
			}
		}
		&:last-child{
			border-right: 1px solid #d0d1d8;
		}
		&:hover *{
			background: #006680 !important;
			color: $orange !important;
		}
	}
	.customer-activities-menu{
		padding-left: 2.5%;
	}
	.message-row-to{
		display: none;
	}
	.row.subject{
		.col-sm-1{
			width: 10%;
			padding-left: 0;
		}
		.col-sm-11{
			width: 90%;
		}
		.form-group{
			margin-bottom: 0;
		}
	}
}
.bootstrap-datetimepicker-widget{
	max-width: 300px;
	*{
		font-size: 12px;
	}
}
.message{
	.message-show{

	}
	.message-actions{
		margin-left: 0;
		float: right;
		text-align: center;
		border-right: 1px solid #d0d1d8;
		.icon-list-item{
			border-right: 0;
		}
		.icon-list-item i{
			padding: 0;
			line-height: 38px;
		}
	}
	.message-content-from,
	.message-content-subject{
		margin-bottom: 7px;
	}
	.message-content-text{
		background: #F1F1F1;
		padding: 15px;
	}
	.showing-message{
		.message-form{
			display: none;
		}
	}
	.message-item{
		color: #111;
		border: 1px solid #D0D1D8;
		border-top: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 0.9em;
		&[data-read="false"]{
			font-weight: bold;
		}
		a{
			color: #111;
			display: block;
		}
		.message-excerpt{
			color: #888;
		}
	}
	.message-item-header{
		background: #EEE;
		border-top: 1px solid #D0D1D8;
	}
	.tabs-title{
		border-right: 0;
		font-size: 16px;
		a{
			padding: 15px 10px !important;
			border-radius: 0 !important;
			&:hover{
				padding-top:16px !important;
				padding-bottom:16px !important;
				margin: 0 !important;
			}
		}
		&.active {
			border-color: #006680;
			a{
				padding-top:16px !important;
				padding-bottom:16px !important;
				margin: 0 !important;
			}
		}
		&:last-child{
			border-right: 1px solid #d0d1d8;
		}
		&:hover *{
			background: #006680 !important;
			color: $orange !important;
		}
		.fa-arrow-up,
		.fa-arrow-right{
			font-size: 1em;
			position: absolute;
		}
		.fa-arrow-up{
			left: 6px;
    		top: -9px;
		}
		.fa-arrow-right{
			left: 23px;
    		top: 3px;
		}
		.outbox-icon{
			margin-right: 10px;
		}
	}
	.message-box{
		padding: 0 15px;
		min-height: 350px;
		.columns{
			padding: 0;
		}
	}
	.form-group{
		label{
			line-height: 40px;
		}
	}
	.fa-container{
		position: relative;
		display: inline-block;
	}
	.message-content{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	trix-editor{
		min-height: 350px;
	}
	input.parsley-error,
	select.parsley-error,
	textarea.parsley-error{
		background: #FFF;
	}
}
.form-group.required .control-label:after {
   content:"*";
   color:red;
}
.note{
	.note-content{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	trix-editor{
		min-height: 350px;
	}
}
.client-information .perfil-resume {
	height: 400px;
}
.my-realtor {
	.my-realtor-profile{
		max-width: 30%;
	}
	@media(max-width: 969px){
		.my-realtor-profile{
			max-width: 100%;
		}
		.my-realtor-send-message-title{
			margin-top:30px;
		}
	}
	.my-realtor-send-message-title{
		background: #006680;
		color: #FFF;
		max-width: 200px;
		display: block;
		line-height: 40px;
		padding: 0 20px;
		text-align: center;
	}
	.message-row-to{
		display: none;
	}
	.row.subject{
		.col-sm-1{
			width: 10%;
			padding-left: 0;
		}
		.col-sm-11{
			width: 90%;
		}
	}
}
.list-perfil{
	.perfil{
		position: relative;
		.bio-actions{
			position: absolute;
			right: 15px;
			top: 15px;
			.action{
				margin-left: 5px;
			}
		}
	}
}
.maps {
	height: 520px;
	background-color: #9ecff0;
}

.message-menu .tabs-title {
	width: 25%;
}

.list-resume-item, .client-info-tabs .tabs-title, .location-list-item {
	width: 50%;
}

.tabs-title-documents {
	width: 33% !important;
}

.list-oportunity-information, .list-oportunity-information .tabs-title, .plant img, .search.header input {
	width: 100%;
}

.perfil-resume-top, .search.header {
	width: 150px;
}

.development .valor {
	width: 350px;
}

.development .bg-orange {
	width: 220px;
}

.title-box {
	width: 275px;
}

.pagination {
	max-width: 200px;
	*{
		display: inline-block;
		vertical-align: middle;
	}
	.first, .last, .next, .prev{
		a{
			width: 30px;
			padding: 1px 8px 4px;
			text-align: center;
			line-height: 1;
			color: $orange;
			font-size: 1.5rem;
			&:hover{
				background: $orange !important;
				color: #FFF !important;
			}
		}
	}
	.page{
		margin: 0 4px;
	}
	a, .page{
		color: $orange;
		&.current{
			font-weight: bold;
		}
	}
}

.list-accompany {
	max-width: 350px;
}

.small-container{
	width: 100%;
	max-width: 860px !important;
}

.sobre-container {
	max-width: 700px;
}

.slider-nav .slick-track {
	max-width: 80%;
}

.plant img {
	max-width: 100%;
}
trix-editor{
	ul{
		list-style: disc;
	}
	ol{
		list-style: decimal;
	}
	ul, ol{
		padding-left: 40px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	p,
	div{
		line-height: 1.2em;
		margin-bottom: 15px;
	}
	li{
		line-height: 1.5em;
	}
}
.pop-msg{
	position: fixed;
	left:50%;
	top: 2.5%;
	z-index: 10000;
	transform:translateX(-50%);
	background: #f9edbe;
	border: 1px solid #f0c36d;
	font-weight: bold;
	font-size: 12px;
	color: #000;
	border-radius: 5px;
	padding: 5px 10px;
}
#modal-window .fa-exclamation-triangle{
	font-size: 6em;
	margin: 10px;
	color: orange;
}
.has-editable{
	position:relative;
	.fa{
		display: none;
		position: absolute;
		right: -10px;
		top: 7px;
		color: #444;
		font-size: 16px;
		background: #EEE;
		border-radius: 3px;
		padding: 3px 5px;
		border: 1px solid #DDD;
	}
	.edit-icon{
		display: none;
	}
	&:hover{
		.edit-icon{
			display: block;
		}
	}
}
body .oportunity-option-item {
	padding: 0 15px 0 15px;
	margin-right: 20px;
}

.list-information-item {
	list-style: disc;
	padding: 5px 0 5px 0;
}

.fa-right, .fa-left, .client-information .bt-orange, .square-right, .fa-search, .notify-list-item .fa-eye, .location-arrow, .rs-tooltip {
	position: absolute;
	z-index: 10;
}

.fa-search {
	left: 10px;
	top: 20px;
}

.search.header .fa-search {
	top: 5px;
}

.fa-right {
	right: -29px;
}

.fa-left {
	left: -29px;
}

.square-right, .notify-list-item .fa-eye, .location-arrow {
	right: 20px;
}

.edit {
	right: 20px;
	bottom: 20px;
}

.location-arrow {
	top: 25px;
}
#first-login{
	.row{
		margin-bottom: 5%;
	}
}
.lt-message-more .square-right {
	bottom: 20px;
}

.client-information .bt-orange {
	bottom: 30px;
	right: 40px;
}

.checkbox {
	width: 25px;
	height: 25px;
}
.header-menu{
	&[data-role="omniauth"]{
		.header-list{
			display: none;
		}
	}
}
.header-list-item, .header-list-item img, .search.header, .search.header input {
	height: 30px;
}

.header-list-item, .header-list-item img {
	height: 30px;
	width: 30px;
}
.icon-list-item, .rs-tooltip {
	height: 40px;
	width: 40px;
}

.perfil-consultory img {
	max-width: 90px;
	height: auto;
}

.button:hover, .bt-green, .bt-orange, .icon-list-item, .lt-message-more, .perfil .fa-arrow-up, .location-list-item, .opt  {
	&:hover {
		opacity: 0.8;
	}
}

.login .tabs-title .ct-cont, .slider-first .fallow {
	opacity: 0.9;
}

.slider-nav .slick-slide {
	-webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.cadastro, .perfil-bio, .perfil-contact, .perfil-resume, .page {
	overflow: hidden;
}

.login-link {
	vertical-align: middle !important;
    display: table-cell  !important;
}
.modal-header{
	background: #006680;
	color:#FFF;
	.close{
		color: #FFF;
	    text-shadow: 0 1px 0 #111;
	    filter: alpha(opacity=20);
	    opacity: .9;
	    margin-top: 2px;
	}
}
.select2-container{
	.select2-selection{
		background: #e7e7e7;
    	border: 0;
	}
}
.select2-selection__rendered {
	line-height: 40px !important;
}
.select2-selection {
	height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 7px;
}
//slider
.slider-information {
	.slider-nav .slick-slide img, .slider-nav .slick-slide {
		height: 200px;
		width: 200px !important;
	}

	.slider-nav .slick-slide img {
		border: 3px solid $white;
	}

	.slider-nav {
		margin-left: -10%;
		margin-top: -50px;
	}

	.slick-slide {
		margin-right: 40px;
	}

	.slider-for .slick-slide {
		height: 550px;

		img {
			height: 100%;
		}
	}
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.loading{
	padding: 50px 0;
	background: transparent;
	color: #333;
	position: relative;
	text-align: center;
	.fa{
		font-size: 2em;
		display: block;
		margin-bottom: 15px;
	    -animation: spin .7s infinite linear;
	    -webkit-animation: spin2 .7s infinite linear;
	}
}
#loading{
	padding: 10px 20px;
	background: #006680;
	color: #FFF;
	position:fixed;
	right: 20px;
	bottom: 20px;
	display: none;
	.fa {
	    -animation: spin .7s infinite linear;
	    -webkit-animation: spin2 .7s infinite linear;
	}
}
.dropzone{
	&.dz-max-files-reached .dz-preview{
		display: none;
	}
	.dz-complete{
		display: none;
	}
}
.card,
.slider{
	.edit-button,
	.delete-button,
	.fallow,
	.user-img,
	.progress{
		display: none;
	}
	.edit-button{
		position: absolute;
		right: 10px;
		bottom: 15px;
		padding: 5px;
	}
	.fallow,
	.edit-button{
		&:hover{
			background: $orange;
			color: white;
			cursor: pointer;
		}
	}
	&[data-can-edit="true"]{
		.edit-button{
			display: block;
		}
	}
	.delete-button{
		position: absolute;
		left: 10px;
		bottom: 15px;
		padding: 5px;
	}
	.delete-button{
		&:hover{
			background: $orange;
			color: white;
			cursor: pointer;
		}
	}
	&[data-can-edit="true"]{
		.delete-button{
			display: block;
		}
	}
	&[data-show-user="true"]{
		.user-img{
			display: block;
		}
	}
	&[data-progress-bar="true"]{
		.progress{
			display: block;
		}
	}
	&[data-follow-button="true"]{
		.fallow{
			display: block;
		}
	}
}
.content{
	line-height: 1.3em;
	p, div{
		line-height: 1.3em;
	}
	ul{
		list-style: disc;
	}
	ol{
		list-style: decimal;
	}
	li{
		margin-bottom: 5px;
	}
	ul, ol{
		padding-left: 40px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.form-default{
	margin-bottom: 30px;
	label{
		margin-bottom: 7px;
	}
	textarea{
		background-color: $bg-input;
		min-height: 250px;
	}
	.button{
		width: auto;
		display: inline-block;
		margin: 0 5px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.form-avatar{
		margin-bottom: 15px;
		img{
			max-width: 140px;
			height: auto;
		}
	}
}
.slider-filtered{
	.slider.oportunities{
		width: 100%;
		float: left;
	}
}
.slider-container{
	&[data-items="3"]{
		.slider-first{
			max-width: 70%;
		}
	}
}
.slider-first {
	max-width: 100%;
	margin: auto;
	.slider-main-img{
		width: 100%;
		height: auto;
	}
	&[data-slider="false"]{
		.slider-first-item{
			max-width: 250px;
			float: left;
		}
	}
	.slider-cont {
		width: 250px !important;
		position: relative;
		img {
			margin: auto;
		}
	}

	.name {
		padding: 10px 0 10px 10px;
	}

	.slider-content{
		padding: 0px 10px;
		position: relative
	}

	.fallow {
		position: absolute;
		right: 10px;
		bottom: 15px;
		padding: 5px;
	}

	.user-img{
		width: 60px;
		height: 60px;
		position: absolute;
		left: 10px;
		bottom: 15px;
		padding: 0;
		-webkit-box-shadow: 3px -2px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 3px -2px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 3px -2px 5px 0px rgba(0,0,0,0.75);
		img{
			max-width: 100%;
			height: auto;
		}
	}
	.slick-slide{
		width: 250px;
	}

	.slick-arrow {
		height: 110px;
		width: 40px;
		position: absolute;
		top: 60px;
		font-size: 0;

		&:before {
			content: '';
		}
	}
	.slick-next  {
		background-image: $bg-next;
		right: -50px;
	}

	.slick-prev {
		background-image: $bg-prev;
		left: -50px;
	}

	/* reponsivo oportunidades */
	@media(max-width: 969px){
		.slider-content {
			width: 100%;
			margin: 0 auto;
		}
		.slick-next  {
			z-index: 1000;
			background-image: $bg-next;
			right: 0px;
		}

		.slick-prev {
			z-index: 1000;
			background-image: $bg-prev;
			left: 0px;
		}

	}

	.slick-next, .slick-prev {
		background-repeat: no-repeat;
	}
}

.progress {
	height: 15px;
	.progress-bar{
		font-size: 11px;
		line-height: 17px;
		&[aria-valuenow="0"]{
			color: transparent;
		}
	}
}

.progress-bar {
	background: $orange;
}

//graficos
.grafic.mini {
	margin-top: -400px;
	right: 5px;
	width: 140px;
	height: 140px;

	.rs-container {
		margin: auto;
		height: 70px !important;
		width: 70px !important;
	}

	.img {
		padding: 0 10px 10px 0;
	}

	.rs-border {
		border-color: #cfdbe0;
	}
}

.rs-tooltip-text:after {
	content: '%';
}

#footer{
	clear: both;
}
@media (max-width: 375px) {
	.header-main .social-icon.list-inline{
		display: none;
	}
	.banner{
		.container{
			> .row{
				margin-top: 25px;
				text-align: center
			}
		}
	}
}
@media (max-width: 425px) {
	.container .translucide-title{
		font-size: 30px;
	}
}
@media (max-width: 767px) {
	.header-logo{
		text-align: center;
		a{
			display: inline-block;
		}
	}
	.header-main{
		padding: 0;
		text-align: center;
		position: initial;
	}
	.home-menu{
		float: none !important;
		li{
			margin: 25px 15px 0 15px !important;
		}
	}
	.header-main .social-icon.list-inline{
		position:absolute;
		right: 0px;
		top: 0px;
	}
	.footer-menu{
		.social-icon.list-inline{
			float: left;
		}
	}
	.sobre-container{
		text-align: center;
	}
}
@media (max-width: 1024px) {
	.banner{
		.container{
			padding-left: 20px !important;
			padding-right: 20px !important;
		}
	}
}
//responsivo
@media (max-width: 640px) {

	.lt-message-container {
		padding: 10px;
	}

	.pdm-xs {
		padding: 0;
	}

	.type {
		width: 215px;

		.type-item {
			width: 155px;
		}
	}

	.ft-12 {
		font-size: 10px;
	}

	.ft-16 {
		font-size: 14px;
	}

	.ft-18 {
		font-size: 15px;
	}

	.ft-20 {
		font-size: 16px;
	}

	.ft-30 {
		font-size: 28px;
	}

	.message-menu, .client-info-tabs {
		.tabs-title {
			width: 50%;
		}
	}
}


@media (min-width: 640px) {
	.type-box.perfil .ft-20 {
		float: right;
		padding-top: 15px;
		padding-right: 20px;
	}

	.tb-cadastrar {
		width: 70%;
		text-align: left;
		padding-top: 0 !important;
	}

	.login .tab-content {
		padding: 20px 70px 10px 70px;
	}

	.type-box, .search {
		width: 250px;
	}

	.type-box.acompanhamento {
		width: 300px;
	}

	.list-resume-item {
		width: 50%;
	}

	.list-resume-item {
		width: 100px;
	}

	.phase .title-box {
		width: 400px;
	}

	.phase-percent {
		width: 430px;
	}

	.login, .oportunity-option {
		width: 610px;
	}

	.container {
		max-width: 1150px;
	}

	.accompany .card-header.container {
		max-width: 1000px;
	}

	.login-big, .login-small {
		max-height: 630px;
	}

	.login .tabs-title {
		width: 50%;
		float: left;
	}
}

@media (max-width: 720px) {
	.mgtbig {
		margin-top: 170px;
	}
}

@media (max-width: 768px) {
	.col-message-lateral {
		padding: 0;
	}

	.perfil-consultory {
		img {
			margin: 0 auto;
		}
		text-align: center;
		padding: 20px;
	}

	.col-message {
		// float: none;
		margin-top: 50px;
	}

	.note article{
		padding-bottom: 50px;
	}
}

@media (min-width: 720px) and (max-width: 989px) {
	.mgtbig {
		padding-top: 40px;
	}
}

@media (min-width: 720px) {
	.list-oportunity-information.big {
		width: 100%;

		.tabs-title {
			width: 50%;
			float: left;
		}
	}

	.list-oportunity-information.small {
		width: 30%;
	}
}

@media (min-width: 768px) {
	.pdl-40 {
		padding-left: 40px;
	}

	.pdr-40 {
		padding-right: 40px;
	}

	.client-info-tabs .tabs-title {
		width: 25%;
	}

	.list-oportunity-resume {
		position: absolute;
		right: 15px;
	}
}

@media (max-width: 990px) {
	.lt-message-container {
		width: 57%;
	}
}

@media (min-width: 990px) {
	.desk, .fa-circle-o {
		display: block;
	}

	.mobile {
		display: none;
	}

	.bb-lt {
		border-left: 3px solid $grey;
	}

	.lt-container {
		height: 250px;
	}

	.list-information {
		margin-top: 0;
	}

	.perfil-contact {
		margin-left: 10px;
	}

	.login-small {
		max-height: 400px;
	}

	.form-sign .columns {
		margin: 0;
		padding: 0;
	}

	.mglm-5 {
		margin-left: -5px;
		max-width: 328px;
	}

	.mglm-25 {
		margin-left: -25px;
	}

	.mglm-30 {
		margin-left: -30px;
	}
}

@media (min-width: 1200px) {
	.type-box.user {
		margin-top: -70px;
	}
}

.no-padding {
	padding: 0;
}
.no-border {
	border: 0;
}
