//texto
$white-neo: #f4f7f8;
$green: #2f5865;
$green-dark: #0e4656;
$orange: #f78941;
$grey: #eeeeee;
$ft-grey: #7d7d7d;

//button
$bt-green: #006680;
$bt-orange: #fa8143;

//bg
$bg-label-active: #0d4959;
$bg-label: #02637c;
$bg-input: #e7e7e7;
$bg-neo-white: #fafafa;
$white: #ffffff;
$bg-login: url('bg-login.png');
$bg-oportunity-tabs: url('bg-oportunity-tabs.png');
$bg-maps: url('bg-maps.png');
$bg-lote: url('bg-lote.png');
$bg-casa: url('bg-casa.png');
$bg-edificio: url('bg-edificio.png');
$bg-sobre: url('bg-sobre.png');
$bg-next: url('arrow-right.png');
$bg-prev: url('arrow-left.png');