<li class="notify-list-item next bb-grey rlt visualized-<%= notification.visualiazed? %>">
	<div class="notification" data-entry-id="<%= entry.id %>" data-notification-id="<%= notification.id %>">
		<div class="notify-title">
			<%= fa_icon 'clock-o' %>
			<span class="title-text"><%= entry.title %></span>
			<a href="#see-more" class="see-more" title="Visualizar">
				<%= fa_icon 'eye' %>
			</a>
		</div>
		<div class="notify-content content">
			<p><b>Quando:</b> <%= entry.scheduled_to.to_datetime.strftime( "%d/%m/%Y às %H:%M" ) %></p><br/>
			<%= entry.text.html_safe %>
		</div>
	</div>
</li>