<li class="notify-list-item next bb-grey rlt visualized-<%= notification.visualiazed? %>">
	<%
		sent_by = User.find_by_email( entry.from )
		sent_by = sent_by.nil? ? entry.from : sent_by.name
		title = entry.property_id.nil? ? 'Você recebeu uma nova mensagem' : sent_by + ' recomendou um imóvel'

	%>
	<div class="notification" data-entry-id="<%= entry.id %>" data-notification-id="<%= notification.id %>">
		<div class="notify-title">
			<%= fa_icon 'envelope' %>
			<span class="title-text"><%= title %></span>
			<a href="#see-more" class="see-more" title="Visualizar">
				<%= fa_icon 'eye' %>
			</a>
		</div>
		<div class="notify-content content">
			<%= entry.text.html_safe %>
			<% unless entry.property_id.nil? %>
				<br/><p><b>Link do imóvel:</b> <%= link_to property_url( entry.property_id ), property_url( entry.property_id ), target: '_blank' %></p>
			<% end %>
		</div>
	</div>
</li>