<li class="notify-list-item next bb-grey rlt visualized-<%= notification.visualiazed? %>">
	<div class="notification" data-entry-id="<%= entry.id %>" data-notification-id="<%= notification.id %>">
		<div class="notify-title">
			<%= fa_icon 'pencil' %>
			<span class="title-text">Uma nota foi adicionada para você</span>
			<a href="#see-more" class="see-more" title="Visualizar">
				<%= fa_icon 'eye' %>
			</a>
		</div>
		<div class="notify-content content">
			<%= entry.text.html_safe %>
		</div>
	</div>
</li>