<li class="notify-list-item next bb-grey rlt visualized-<%= notification.visualiazed? %>">
	<% 
		if notification.modifier == 'sold'
			title = "O empreendimento #{entry.name} que você estava seguindo foi vendido"
		else 
			title = "#{entry.owner.name} adicionou um novo empreendimento"
		end
	%>
	<div class="notification" data-entry-id="<%= entry.id %>" data-notification-id="<%= notification.id %>">
		<div class="notify-title">
			<%= fa_icon 'pencil' %>
			<span class="title-text"><%= title %></span>
			<a href="#see-more" class="see-more" title="Visualizar">
				<%= fa_icon 'eye' %>
			</a>
		</div>
		<div class="notify-content content">
			<br/><p><b>Visualizar imóvel:</b> <%= link_to property_url( entry.id ), property_url( entry.id ), target: '_blank' %></p>
		</div>
	</div>
</li>