<%= render "layouts/mailer/header" %>
<p>O empreendimento <b><%= @property.name %></b> tem novas fotos</p>
<p>Clique no link para visualizar: <%= link_to property_url( @property.id ), property_url( @property.id ) + '#property-stage-gallery', target: '_blank' %></p>
<%= render "layouts/mailer/footer" %>