<%= render 'layouts/mailer/header' %>

<p>Seja bem vindo <%= @email %>!</p>

<p>Clique no link abaixo para confirmar sua conta:</p>

<p><%= link_to 'Confirmar minha conta', confirmation_url(@resource, confirmation_token: @token) %></p>

<%= render 'layouts/mailer/footer' %>