<%= render 'layouts/mailer/header' %>

<p>Olá <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos entrando em contato para informar que seu e-mail será alterado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos entrando em contato para informar que seu e-mail foi alterado para <%= @resource.email %>.</p>
<% end %>

<%= render 'layouts/mailer/footer' %>
