<%= render 'layouts/mailer/header' %>

<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou uma nova senha para sua conta. Se foi você clique no link abaixo para continuar o processo, senão ignore esta mensagem.</p>

<p><%= link_to 'Quero alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Sua senha só será alterado ao completar o processo clicando no link acima e informando uma nova.</p>

<%= render 'layouts/mailer/footer' %>