<%= form_for @activity, url: url_for( controller: 'activities', action: 'create' ), method: 'create', :html => {id: 'activity-form', 'data-parsley-validate': 'data-parsley-validate', 'data-parsley-excluded': '[disabled]', 'data-remote': true} do |f| %>
	<div class="message activity pdb-40">
		<header class="message-header bg-grey">
			<div class="row  message-subject">
				<div class="col-sm-2">
					<div class="form-group">
						<%= f.label :title, 'Atividade:', class: 'control-label' %>
					</div>
				</div>
				<div class="col-sm-10">
					<div class="form-group">
						<%= f.text_field :title, class: 'form-control bg-white', required: 'required' %>
					</div>
				</div>
			</div>			
			<div class="row message-subject">
				<div class="col-sm-2">
					<div class="form-group">
						<%= f.label :scheduled_to, 'Data:', class: 'control-label' %>
					</div>
				</div>
				<div class="col-sm-7">
					<div class="form-group">
						<%= f.text_field :scheduled_to, class: 'form-control bg-white datepicker', required: 'required' %>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<%= f.check_box :warn, class: 'inline-block' %> 
						<%= f.label :warn, 'avise-me por e-mail', class: 'control-label inline-block' %>
					</div>
				</div>
			</div>			
		</header>
		<div class="row reset pdt-0">
			<div class="col-sm-12 message-content activity-content bb-grey">
				<input id="activity_text_trix_input_activity" value="<%= @activity.text %>" type="hidden" name="activity[text]">
				<trix-editor input="activity_text_trix_input_activity"></trix-editor>
			</div>
		</div>
	</div>
	<%= f.hidden_field :user_id, value: @activity_for %>
	<%= f.hidden_field :created_by, value: current_user.id %>
	<%= f.button( 'Adicionar nota', type: 'submit', class: "button right bt-green ft-orange") %>
<% end %>