<div id="wcp-editor"></div>

<%= hidden_field_tag :back_url, edit_property_url( @imap.picture.property ) + '#property-plant' %>
<%= hidden_field_tag :imap_id, @imap.id %>
<%= hidden_field_tag :imap_data, @imap.map_data %>
<%= hidden_field_tag :image_url, asset_url(@imap.picture.file.url) %>
<%= hidden_field_tag :image_size, picture_geometry( @imap.picture.file ) %>


<script type="text/javascript">
	var data = $( '#imap_data' ).val();
	if( data ) {
		localStorage.setItem( 'editor_saves', data );
		localStorage.setItem( 'editor_last_save', JSON.parse( data )[0].id );
	} else {
		localStorage.removeItem( 'editor_saves' );
		localStorage.removeItem( 'editor_last_save' );
		localStorage.removeItem( 'image-map-pro-seen-poly-tooltip' );
	}
	localStorage.setItem( 'Image Map Pro Editor Tour', 'finished' );
</script>

<%= javascript_include_tag( 'submodules/squares/js/squares-renderer' ) %>
<%= javascript_include_tag( 'submodules/squares/js/squares' ) %>
<%= javascript_include_tag( 'submodules/squares/js/squares-elements-jquery' ) %>
<%= javascript_include_tag( 'submodules/squares/js/squares-controls' ) %>
<script><%= render 'image_maps/vendor/wcp_editor.js.erb', imap: @imap %></script>
<%= javascript_include_tag( 'submodules/wcp-editor/js/wcp-editor-controls' ) %>
<%= javascript_include_tag( 'submodules/wcp-tour/js/wcp-tour' ) %>
<%= javascript_include_tag( 'submodules/wcp-compress/js/wcp-compress' ) %>
<%= javascript_include_tag( 'submodules/wcp-icons/js/wcp-icons' ) %>
<script><%= render 'image_maps/vendor/editor_defaults.js.erb', imap: @imap %></script>
<script><%= render 'image_maps/vendor/editor.js.erb' %></script>
<%= javascript_include_tag( 'js/image-map-pro-editor-content' ) %>
<script><%= render 'image_maps/vendor/editor_local_storage.js.erb', imap: @imap %></script>
<script><%= render 'image_maps/vendor/editor_init.js.erb' %></script>
<%= javascript_include_tag( 'js/image-map-pro' ) %>