<%= render "layouts/mailer/header" %>
<p><b>Atividade:</b> <%= @activity.title %></p>
<p><b>Quando:</b> <%= @activity.scheduled_to.to_datetime.strftime( "%d/%m/%Y às %H:%M" ) %></p>
<b>Descrição da atividade:</b><br/><br/>
<%= @activity.text.html_safe %>
<%= render "layouts/mailer/footer" %>