<div id="bio-<%= user.id %>" class="row reset perfil bb-grey mgtb-50">
	<div class="col-sm-4 col-md-3 col-lg-3 columns pdl-0">
		<div class="perfil-resume ft-white bg-green pd-20 rlt">
			<div class="ct-cont">
				<div class="ct-obg">
					<div class="perfil-resume-top ct-mg text-center">
						<%= image_tag( user.avatar.url( :thumb ), size: '140x140', class: 'bio-avatar' ) %>
						<div class="ft-orange pdtb-10"><%= user.name %></div>
						<div><%= user.city.name unless user.city.nil? %></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-md-4 col-lg-4 columns reset">
		<div class="perfil-contact pd-40">
			<div class="ct-cont">
				<div class="ct-obg">
					<p class="pdtb-10">
						<i class="fa fa-phone ft-orange fa-2x" aria-hidden="true"></i> 
						<%= user.phone.nil? ? 'Não informado' : user.phone %>
					</p>
					<p class="pdtb-10">
						<i class="fa fa-envelope fa-2x ft-orange" aria-hidden="true" style="font-size: 1.3rem;"></i> 
						<%= user.email %>
					</p>
					<p class="pdtb-10">
						<i class="fa fa-map-marker fa-2x ft-orange" aria-hidden="true"></i> 
						<%= user.address.nil? ? 'Não informado' : user.address %>
					</p>
					<% unless user.job.nil? %>
						<p class="pdtb-10">
							<i class="fa fa-graduation-cap fa-2x ft-orange" style="font-size: 1.6em" aria-hidden="true"></i> 
							<%= user.job %>
						</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-md-5 col-lg-5 columns reset">
		<div class="perfil-bio">
			<div class="perfil-contact pd-40">
				<div class="ct-cont">
					<div class="ct-obg">
						<p><strong>Informações do contato</strong></p>
						<p class="txt-justify"><%= user.bio.nil? ? 'Não informado' : user.bio %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bio-actions">
		<% if defined?( removable ) %>
			<a href="#" class="action" data-action="remove" data-id="<%= user.id %>" title="Remover">
				<%= fa_icon 'trash' %>
			</a>
		<% end %>
		<% if defined?( editable ) %>
			<a href="<%= kind == 'contact' ? edit_contact_url( user.id ) : edit_profile_url %>" class="action" data-action="edit" data-id="<%= user.id %>" title="Editar">
				<%= fa_icon 'pencil' %>
			</a>
		<% end %>
		<% if defined?( viewable ) %>
			<a href="<%= customer_activities_url( user.id ) %>" title="Visualizar">
				<%= fa_icon 'calendar' %>
			</a>
		<% end %>
	</div>
</div>