<% if @realtors.nil? %>
	<div class="alert alert-warning" role="alert">Nenhum corretor encontrado.</div>
<% else %>
	<div class="change-realtor-screen">
		<div class="searchable-wrapper">
			<div class="row">
				<div class="col-md-8">
					<% if params.has_key?( :q )  %>
						<p class="results-for">Mostrando resultados para: <b><%= params[:q] %></b></p>
					<% end %>
				</div>
				<div class="col-md-4">
					<form  class="searchable-form" method="get" action="<%= my_realtor_url %>">
						<input type="hidden" name="search" value="true">
						<input type="hidden" name="change_realtor" value="1">
						<%= text_field_tag 'q', nil, placeholder: 'Buscar consultor' %>
						<%= button_tag fa_icon( 'search'), type: 'submit' %>
					</form>
					<% if params.has_key?( :q )  %>
						<p class="text-right back-inbox"><a href="<%= my_realtor_url %>?change_realtor=1"><%= fa_icon 'arrow-circle-left' %> voltar</a></p>
					<% end %>
				</div>
			</div>
		</div>
		<h3 class="main-title">
			Para usar o portal você deve escolher um consultor abaixo:
		</h3>
		<div class="list-group col-xs-12">
			<% @realtors.each do |realtor| %>
				<button type="button" class="change-realtor list-group-item <%= "active" if realtor.id == @my_realtor %>" data-id="<%= realtor.id %>" data-name="<%= realtor.name %>">
					<span class="realtor-change-picture"><%= image_tag( realtor.avatar.url( :thumb ), size: '40x40', class: 'bio-avatar' ) %></span>
					<span class="realtor-change-name"><%= realtor.name %></span>
					<% unless realtor.creci.empty? %>
						<span class="realtor-change-creci"> - CRECI: <%= realtor.creci %></span>
					<% end %>
					<%= "<span class=\"realtor-change-city\">#{realtor.city.name}</span>".html_safe unless realtor.city.nil? %>
					<%= "<span class=\"realtor-change-state\">#{realtor.state.acronym}</span>".html_safe unless realtor.state.nil? %>
				</button>
			<% end %>
			<div class="text-center">
				<%= paginate @realtors %>
			</div>
		</div>
	</div>
	<%= hidden_field_tag 'redirect_to', @redirect %>
<% end %>
