<%= form_for Message.new, html: { data: {'parsley-validate': 'data-parsley-validate', 'remote': true } } do |f| %>
	<div id="change-deal-status">
		<div class="modal-header">
		   	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Alterar status de proposta</h3>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-lg-12">
		           <%= render 'messages/form_fields', f: f %>
		        </div>
		    </div>
		</div>
		<div class="modal-footer">
		   	<button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Fechar</button>
		   	<%= f.button( 'Enviar', type: 'submit', class: "btn btn-success") %>
		</div>
	</div>
<% end %>