<div class="location-item bg-white">
    <div class="ft-white bg-green"><p class="txt-left pd-10 ft-20">
         <i class="fa fa-tree" aria-hidden="true"></i>
         <span><%= deal.spot %></span>
    </div>
    <ul class="location-list list-inline mgt-30">
        <li class="location-list-item txt-ct">
           <a href="<%= view_docs_url %>?property_id=<%= deal.property.id %>" class="" data-remote="true" data-type="script" data-toggle="modal" data-target="#modal-window">
                <i class="fa-4x ft-orange mgb-10 fa fa-folder" aria-hidden="true"></i>
                 <br/><p>Documentos</p>
            </a>
        </li>
        <li class="location-list-item txt-ct">
            <a href="<%= property_url( property ) + '#property-stage' %>">
                <i class="fa-4x ft-orange mgb-10 fa fa-camera" aria-hidden="true"></i>
                <br /><p>Fotos</p>
            </a>
        </li>
        <li class="location-list-item txt-ct mgt-30">
            <div class="grafic" data-progress="<%= property.stage %>">
                <div class="ct-mg stage-circle-small"></div>
            </div>  
            <br /><p>Progresso da obra</p>
        </li>
        <li class="location-list-item txt-ct mgt-30">
            <a href="<%= deal_url( deal ) %>" data-remote="true" data-type="script" data-toggle="modal" data-target="#modal-window">
                <i class="fa-4x ft-orange mgb-10 fa fa-briefcase" aria-hidden="true"></i>
                <br /><p>Detalhes da proposta</p>
            </a>
        </li>
    </ul>
</div>