<%
    heading_id = "heading-#{property.id}"
    accordion_id = "accordion-#{property.id}"
%>
<div class="card">
    <div class="card-header container" role="tab" id="<%= heading_id %>">
        <h5 class="bg-green txt-ct mgt-20 ft-20 rlt collapsed" id="abre-acordeon" collapsed data-toggle="collapse" data-parent="#accordion" href="#<%= accordion_id %>" aria-expanded="false" aria-controls="<%= accordion_id %>">
            <i class="fa fa-<%= property_icon( property ) %>" aria-hidden="true"></i>
            <span class="mglr-20"><%= property.name %></span>
            <i class="fa fa-chevron-circle-up location-arrow" aria-hidden="true"></i>
        </h5>
    </div>
    <div id="<%= accordion_id %>" class="collapse" role="tabpanel" aria-labelledby="<%= heading_id %>">
        <div class="card-block">
            <div class="location lote bg row mgb-10 pdtb-50">
                <div class="container">
                    <% deals.each do |deal| %>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 columns">
                            <%= render 'panel/deal_item', deal: deal, property: property %>
                        </div>  
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $( document ).on( 'ready', function(){
        $( '.grafic' ).each( function(){
            var $self = $( this );
            $self.find( '.stage-circle-small' ).roundSlider({
                radius: 30,
                width: 8,
                handleSize: "+8",
                handleShape: "dot",
                sliderType: "min-range",
                value: $self.data( 'progress' ),
                readOnly: true
            });
        });
        //$( '.card-header:first h5' ).trigger( 'click' );
    });
</script>