<div class="searchable-wrapper">
	<form  class="searchable-form" method="get" action="<%= @form_url %>">
		<input type="hidden" name="search" value="true">
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<%= select_tag( :filter, options_for_select( @filters, params[:filter] ), { include_blank: 'Selecione um filtro', class: 's2-select', style: 'width: 100%' } ) %>		            
	           	</div>	
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<div class="filter-dropdown" data-filter="none">
						<%= select_tag( :filter_placeholder, options_for_select( [] ), { include_blank: 'Nenhum', class: 's2-select', style: 'width: 100%', disabled: 'disabled' } ) %>
					</div>
					<div class="filter-dropdown hide" data-filter="kind">
						<%= select_tag( :kind, options_for_select( @kinds, params[:kind] ), { include_blank: 'Escolha o tipo', class: 's2-select', style: 'width: 100%' } ) %>
					</div>
					<div class="filter-dropdown hide" data-filter="status">
		           		<%= select_tag( :status, options_for_select( @deal_statuses, params[:status] ), { include_blank: 'Escolha o status', class: 's2-select', style: 'width: 100%' } ) %>
		           	</div>
		           	<div class="filter-dropdown hide" data-filter="realtor">
		           		<%= select_tag( :realtor, options_for_select( @realtors, params[:realtor] ), { include_blank: 'Escolha o consultor', class: 's2-select', style: 'width: 100%' } 
		           		) %>
		           	</div>
		           	<div class="filter-dropdown hide" data-filter="investor">
		           		<%= select_tag( :investor, options_for_select( @investors, params[:investor] ), { include_blank: 'Escolha o investidor', class: 's2-select', style: 'width: 100%' } 
		           		) %>
		           	</div>
		           	<div class="filter-dropdown hide" data-filter="construction_company">
		           		<%= select_tag( :construction_company, options_for_select( @construction_companies, params[:construction_company] ), { include_blank: 'Escolha o parceiro', class: 's2-select', style: 'width: 100%' } ) %>
		           	</div>
	           	</div>	
			</div>
			<div class="col-md-5">
				<%= text_field_tag 'q', nil, placeholder: 'Buscar por nome do empreendimento', value: params[:q] %>
				<% if params.has_key?( :q )  %>
					<p class="text-right back-inbox"><a href="<%= @form_url %>"><%= fa_icon 'times' %> remover filtros</a></p>
				<% end %>
			</div>
			<div class="col-md-1">
				<%= button_tag 'Aplicar filtros', type: 'submit', class: 'btn btn-primary', style: 'top: 5px;' %>				
			</div>
		</div>
	</form>
	<% if params.has_key?( :q )  %>
		<p class="results-for">Mostrando resultados para: <b><%= params[:q] %></b></p>
	<% end %>
	<script type="text/javascript">
		( function( $ ){
			$( '#filter' ).on( 'change', function(){
				var filter = $( this ).val();
				$( '.filter-dropdown' ).addClass( 'hide' );
				$( '.filter-dropdown[data-filter="' + filter + '"]' ).removeClass( 'hide' );
			});
			$( document ).on( 'ready', function(){
				<% if params.has_key?(:filter) && ! params[:filter].empty? %>
					$( '#filter' ).trigger( 'change' );
				<% end %>
			});
		})( jQuery );
	</script>
</div>
