<div class="my-realtor-profile col-xs-12 col-md-4 columns bg-green pd-20">
	<div class="perfil-consultory row ft-white">
		<div class="col-xs-12 col-md-4 col-lg-4 columns">
			<div class="perfil-consultory">
				<%= image_tag( @realtor.avatar.url( :thumb ), size: '140x140', class: 'bio-avatar' ) %>
			</div>
		</div>
		<div class="col-xs-12 col-md-8 col-lg-8 columns">
			<div class="perfil-consultory pdt-20">
				<p class="ft-orange ft-20"><%= @realtor.name %></p>
				<% unless @realtor.creci.empty? %>
					<p class="mgtb-10">CRECI: <%= @realtor.creci %></p>
				<% end %>
				<%= "<p class=\"mgtb-10\">#{@realtor.city.name}</p>".html_safe unless @realtor.city.nil? %>
			</div>
		</div>
	</div>
	<div class="row reset">
		<div class="perfil-consultory ft-white pdt-10">
			<p class="pdtb-10">
				<i class="fa fa-phone ft-orange fa-2x" aria-hidden="true"></i>
				<%= @realtor.phone.nil? ? 'Não informado' : @realtor.phone %>
			</p>
			<p class="pdtb-10">
				<i class="fa fa-envelope fa-2x ft-orange" aria-hidden="true" style="font-size: 1.3rem;"></i>
				<%= @realtor.email %>
			</p>
		</div>
	</div>
	<div class="row abt mgt-40 mgl-20 ">
	  <a href="<%= my_realtor_url %>?change_realtor=1" class="bt-green ft-white">Trocar de consultor</a>
	</div>
</div>
<div class="col-md-8 col-xs-12 columns right col-message">
	<div class="my-realtor-send-message-title">Enviar mensagem</div>
	<%= render 'messages/form' %>
</div>
