<div class="all-tabs tabs-deals full">
	<ul class="nav nav-tabs bg-white left list-oportunity-information big list-inline ft-20 reset">
		<!-- <div class="col-md-12"> -->

		<li class="active tabs-title bb-grey tabs-deal">
			<a data-toggle="tab" href="#tab-deals-reserved" class="oportunity-information-tab-title">
				<%= fa_icon 'sticky-note' %> <span class="textual">Reservados</span>
			</a>
		</li>
		<li class="tabs-title bb-grey tabs-deal">
			<a data-toggle="tab" href="#tab-deals-waiting-customer" class="oportunity-information-tab-title">
				<%= fa_icon 'folder-open' %> <span class="textual">Em andamento</span>
			</a>
		</li>
		<li class="tabs-title bb-grey tabs-deal">
			<a data-toggle="tab" href="#tab-deals-finished" class="oportunity-information-tab-title">
				<%= fa_icon 'folder' %> <span class="textual">Fechados</span>
			</a>
		</li>
	</ul>
	<!-- </div> -->
	<div class="tab-content main full">
		<div id="tab-deals-reserved" role="tabpanel" class="active tab-pane oportunity-information-tab bg-white hide-default-card-header">
			<div class="tab-content content">
				<% @cards[:reserved].each do |card| %>
				<%= render_slider( card, card[:template] ) %>
				<% end %>
			</div>
		</div>
		<div id="tab-deals-waiting-customer" role="tabpanel" class="tab-pane oportunity-information-tab bg-white">
			<div class="tab-content content">
				<% @cards[:waiting_customer].each do |card| %>
				<%= render_slider( card, card[:template] ) %>
				<% end %>
			</div>
		</div>
		<div id="tab-deals-finished" role="tabpanel" class="tab-pane oportunity-information-tab bg-white hide-default-card-header">
			<div class="tab-content content">
				<% @cards[:finished].each do |card| %>
				<%= render_slider( card, card[:template] ) %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
( function( $ ){
	$( document ).on( 'ready', function(){
		$( '#filter' ).find( 'option[value="status"]' ).remove();
		var hash = window.location.hash;
		if( hash != '' ) {
			$( '.oportunity-information-tab-title[href="' + hash + '"]' ).trigger( 'click' );
		}
	});
})( jQuery );
</script>
