<div class="all-tabs tabs-deals full">
	<ul class="nav nav-tabs bg-white left list-oportunity-information big list-inline ft-20 reset">
	  	<li class="active tabs-title bb-grey">
	  		<a data-toggle="tab" href="#tab-deals-waiting-customer" class="oportunity-information-tab-title">
	  			<%= fa_icon 'folder-open' %> <span class="textual">Em andamento</span>
	  		</a>
	  	</li>
	  	<li class="tabs-title bb-grey">
	  		<a data-toggle="tab" href="#tab-deals-finished" class="oportunity-information-tab-title">
	  			<%= fa_icon 'folder' %> <span class="textual">Fechados</span>
	  		</a>
	  	</li>
	</ul>
	<div class="tab-content main full">
	    <div id="tab-deals-waiting-customer" role="tabpanel" class="active tab-pane oportunity-information-tab bg-white">
			<div class="tab-content content">
			   	<% @cards.each do |card| %>
					<%= render_slider( card, card[:template] ) %>
				<% end %>	
	   		</div>
	    </div>
	    <div id="tab-deals-finished" role="tabpanel" class="tab-pane oportunity-information-tab bg-white">
	   		<div class="tab-content">
				<div id="accordion" class="<%= "user-role-" + current_user.role.name %>" role="tablist" aria-multiselectable="true">
					<% @boxes.each do |box| %>
						<%= render 'panel/deal', property: box[1][:property], deals: box[1][:deals] %>
				    <% end %>
				</div>		
	   		</div>
	    </div>
	</div>
</div>
<script type="text/javascript">
	( function( $ ){
		$( document ).on( 'ready', function(){
			var hash = window.location.hash;
			if( hash != '' ) {
				$( '.oportunity-information-tab-title[href="' + hash + '"]' ).trigger( 'click' );
			}
		});
	})( jQuery );
</script>