<section class="submenu-search pdt-50">
	<div class="row">
		<div class="col-sm-8 col-md-8 col-lg-8 columns">
			<ul class="filter-list pdt-20">
				<% ('A'..'Z').each do |a| %>
					<li class="filter-list-item <%= 'active' if params.has_key?( :char ) && params[:char] == a %>">
						<a href="<%= resource_url %>?char=<%= a %>" class="ft-orange"><%= a %></a>
					</li>
				<% end %>			
				<li class="filter-list-item <%= 'active' unless params.has_key?( :char ) %>">
					<a href="<%= resource_url %>" class="ft-orange see-all">ver tudo</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4 columns">
			<div class="searchable-wrapper">
				<form  class="searchable-form" method="get" action="<%= resource_url %>">
					<input type="hidden" name="search" value="true">
					<%= text_field_tag 'q', nil, placeholder: defined?( 'placeholder') ? placeholder : 'Buscar' %>
					<%= button_tag fa_icon( 'search'), type: 'submit' %>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<% if params.has_key?( :char ) %>
				<p class="showing-results-for">Exibindo resultados para a letra: <strong><%= params[:char] %></strong></p>
			<% elsif  params.has_key?( :search ) %>
				<p class="showing-results-for">Exibindo resultados para o termo: <strong><%= params[:q] %></strong></p>
			<% end %>
		</div>
	</div>
</section>