<div class="searchable-wrapper">
	<form  id="search-all-form" class="searchable-form" method="get" action="<%= search_results_url %>">
		<input type="hidden" name="search" value="true">
		<%= text_field_tag 'q', nil, placeholder: 'Buscar', id: 'search_all' %>
		<%= button_tag fa_icon( 'search'), type: 'submit' %>
	</form>
</div>