<div class="modal-header">
   	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">Documentos do empreendimento</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-12">
           	<div id="docs" class="">
				<table class="docs-table table">
					<thead>
						<th>Nome</th>
						<th class="text-center">Tamanho</th>
						<th class="text-center">Baixar</th>
					</thead>
					<tbody class="table-stripe">
						<% @documents.each do |doc| %>
							<tr data-doc="<%= doc.id %>">
								<td><%= doc.name.nil? ? doc.file_file_name : doc.name %></td>
								<td class="text-center"><%= ( ( doc.file_file_size / 1024 ) / 1 ).to_f %>KB</td>
								<td class="text-center">
									<a href="<%= doc.file.url %>" target="_blank">
										<%= fa_icon 'download' %>
									</a>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
		    </div>
        </div>
    </div>
</div>
<div class="modal-footer">
   	<button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Fechar</button>
</div>