<div class="bg-white client">
	<%= render 'layouts/counters', page_title: 'Novo contato', icon: 'book' %>
	<div class="container small-container form-sign pdt-0 pdm-xs">
		<%= render 'contacts/form' %>
	</div>
</div>