<div class="bg-white my-profile customer-activities">
	<%= render 'layouts/counters', page_title: 'Meus clientes', icon: 'users' %>
	<div class="container pdt-0 pdm-xs">
		<section class="client-information pdtb-60">
			<div class="row">
				<div class="cliente-info-mini bg-green col-sm-4 col-md-4 col-lg-3 columns">
					<%= render 'panel/activities/customer' %>
				</div>
				<div class="customer-activities-menu col-sm-8 col-md-8 col-lg-9 columns reset">
					<%= render 'panel/activities/tabs_menu' %>
					<%= render 'panel/activities/tabs' %>
				</div>
			</div>
		</section>
		<section id="timeline"> 
			<%= render 'timelines/timeline' %>
		</section>
	</div>
</div>
