<div class="bg-white client">
	<%= render 'layouts/counters', page_title: 'Editar perfil', icon: 'user' %>
	<% if @user.errors.any? %>
	<div id="error_explanation">
		<p>
			<strong>Não foi possível salvar, verifique os erros abaixo e tente novamente:</strong>
		</p>
		<ul class="listable">
			<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="container">
		<div class="row" style="margin-bottom: 50px;">
			<div class="col-xs-12">
				<div class="bg-orange ft-white bb-grey slider-type ct-mg mgt-50 txt-ct valor">Ícones</div>
			</div>
		</div>
		<section id="property-gallery" class="property-section col-xs-12" style="margin-top: 20px">
			<div class="container">

				<div id="property-edit-gallery" class="gallery-user" data-items="<%= @pictures.count %>">
					<div class="property-slider sortable">
						<% if @pictures.count > 0 %>
						<% @pictures.each do |picture| %>
						<%= render_gallery_item( picture, :edit ) %>
						<% end %>
						<% end %>
					</div>
					<%= form_for( Picture.new, html: { multipart: true, class: 'dropzone'} ) do |f| %>
					<div class="dz-message">
						<div class="property-add-picture">
							<i class="fa fa-plus" aria-hidden="true"></i>
							<span class="text">Clique para adicionar fotos.<br/><br/><small>(máximo 3 fotos)</small></span>
						</div>
					</div>
					<div class="fallback">
						<%= f.file_field :file %><br>
					</div>
					<% end %>
				</div>
			</div>
			<script id="gallery-item-template" type="text/html">
				<%= render partial: 'properties/edit/gallery_item' %>
			</script>
		</section>
		<%= form_for @user, html: {'data-parsley-validate': 'data-parsley-validate', 'data-parsley-excluded': '[disabled]', class: 'form-default'} do |f| %>
		<%= f.hidden_field( :role_id, readonly: 'readonly', value: @user.role.id ) %>

		<div class="row">
			<div class="col-xs-12">
				<div class="bg-orange ft-white bb-grey slider-type ct-mg mgt-50 txt-ct valor" style="margin-bottom: 50px;">Dados Pessoais</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group required">
					<% if current_user.role.name == 'construction_company' %>
					<%= f.label :name, 'Razão Social', class: 'control-label' %><br>
					<% else %>
					<%= f.label :name, 'Nome', class: 'control-label' %><br>
					<% end %>
					<%= f.text_field :name, required: 'required', class: 'form-control' %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group required">
					<%= f.label :phone, 'Telefone Principal', class: 'control-label' %><br>
					<%= f.text_field :phone, required: 'required', class: 'form-control mask-phone' %>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :cellphone, 'Telefone alternativo', class: 'control-label' %><br>
					<%= f.text_field :cellphone, class: 'form-control mask-phone' %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="form-group required">
					<%= f.label :email, 'E-mail', class: 'control-label' %><br>
					<%= f.text_field :email, required: 'required', type: 'email', class: 'form-control' %>
				</div>
			</div>
			<div class="col-md-4">
				<% if current_user.role.name == 'construction_company' %>
				<div class="form-group">
					<%= f.label :birthdate, 'Data de nascimento', class: 'control-label' %><br>
					<%= f.text_field :birthdate, value: @user.birthdate_format, class: 'form-control mask-date' %>
				</div>
				<% else %>
				<div class="form-group required">
					<%= f.label :birthdate, 'Data de nascimento', class: 'control-label' %><br>
					<%= f.text_field :birthdate, value: @user.birthdate_format, required: 'required', class: 'form-control mask-date' %>
				</div>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<% if current_user.role.name == 'construction_company' %>
				<div class="form-group">
					<%= f.label :job, 'Profissão', class: 'control-label' %><br>
					<%= f.text_field :job, class: 'form-control' %>
				</div>
				<% else %>
				<div class="form-group required">
					<%= f.label :job, 'Profissão', class: 'control-label' %><br>
					<%= f.text_field :job, required: 'required',  class: 'form-control' %>
				</div>
				<% end %>
			</div>
			<div class="col-md-4">
				<div class="form-group required">
					<% if current_user.role.name == 'realtor' %>
					<%= f.label :creci, 'CRECI', class: 'control-label' %><br>
					<%= f.text_field :creci, required: 'required',  class: 'form-control' %>
					<% elsif current_user.role.name == 'construction_company' %>
					<%= f.label :cnpj, 'CNPJ', class: 'control-label' %><br>
					<%= f.text_field :cnpj, required: 'required',  class: 'form-control mask-cnpj' %>
					<% else %>
					<%= f.label :cpf, 'CPF', class: 'control-label' %><br>
					<%= f.text_field :cpf, required: 'required',  class: 'form-control mask-cpf' %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class="form-group required">
					<%= f.label :state_id, 'UF', class: 'control-label' %><br>
					<%= f.select( :state_id, @states.all.collect {|p| [ p.acronym, p.id ] }, { :include_blank => true }, { class: "form-control s2-select fill-cities", required: 'required', data: { target: '#user_city_id'} }) %>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group required">
					<%= f.label :city_id, 'Cidade', class: 'control-label' %><br>
					<%= f.select( :city_id, @cities.collect {|p| [ p.name, p.id ] }, { :include_blank => true }, { class: "form-control s2-select", required: 'required'}) %>
				</div>
			</div>
			<div class="col-md-7">
				<div class="form-group">
					<%= f.label :address, 'Endereço', class: 'control-label' %><br>
					<%= f.text_field :address,  class: 'form-control' %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="form-group">
					<%= f.label :bio, 'Informações de contato', class: 'control-label' %><br>
					<%= f.text_area :bio,  class: 'form-control' %>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<%= f.label :avatar, 'Foto', class: 'control-label' %><br>
					<% unless @user.avatar.nil? %>
					<div class="form-avatar">
						<%= image_tag @user.avatar.url( :thumb ) %>
					</div>
					<% end %>
					<%= f.file_field :avatar, { data: { buttonText: "Escolher arquivo", classbutton: 'btn btn-default', classinput: 'form-control inline'}, class: 'form-control filestyle'}
					%>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<div class="form-group">
						<%= f.label :password, 'Senha', class: 'control-label' %><br>
						<%= f.password_field :password, { value: @password,'required' => ! @user.persisted?, 'class' => 'form-control', 'data-parsley-minlength' => @user.persisted? ? nil : 6} %>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="form-group">
						<%= f.label :password_confirmation, 'Confirmação de senha', class: 'control-label' %><br>
						<%= f.password_field :password_confirmation, { value: @password, 'class' => 'form-control', 'data-parsley-equalto' => '#user_password', 'data-parsley-error-message' => 'As senhas devem ser iguais', 'required' => ! @user.persisted? } %>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="form-group">
					<%= f.label :about_me, 'Sobre mim', class: 'control-label' %><br>
					<%= f.text_area :about_me,  class: 'form-control' %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<%= f.label :marca, 'Marca', class: 'control-label' %><br>
						<% unless @user.marca.nil? %>
						<div class="form-marca">
							<%= image_tag @user.marca.url( :thumb ) %>
						</div>
						<% end %>
						<%= f.file_field :marca, { data: { buttonText: "Escolher arquivo",
							classbutton: 'btn btn-default', classinput: 'form-control inline'}, class: 'form-control filestyle'} %>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<%= f.label :back_image, 'Imagem de fundo', class: 'control-label' %><br>
							<% unless @user.back_image.nil? %>
							<div class="form-marca">
								<%= image_tag @user.back_image.url( :thumb ) %>
							</div>
							<% end %>
							<%= f.file_field :back_image, { data: { buttonText: "Escolher arquivo",
								classbutton: 'btn btn-default', classinput: 'form-control inline'}, class: 'form-control filestyle'} %>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<div class="bg-orange ft-white bb-grey slider-type ct-mg mgt-50 txt-ct valor" style="margin-bottom: 50px;">Localização</div>
						</div>
					</div>

					<section>
						<%= f.hidden_field :latitude %>
						<%= f.hidden_field :longitude %>

						<input id="pac-input" class="controls" type="text" placeholder="Digite o Endereço">
						<div id="map" style="width:100%;height:400px;"></div>
						<script src="https://maps.googleapis.com/maps/api/js?key=<%= @map_api_key %>&callback=initAutocomplete&libraries=places"></script>
					</section>
					<div class="row">
						<div class="col-md-12 text-center">
							<%= hidden_field_tag( :resource, 'my_profile_cc' ) %>
							<%= f.hidden_field( :ready, value: true ) %>
							<div class="row text-center">

							<%= link_to 'Cancelar', my_profile_cc_url(current_user.id), { class: 'button btn btn-danger btn-lg' } %>
							<%= f.submit 'Salvar', class: 'button btn btn-success btn-lg' %>
							</div>
						</div>
					</div>
					<% end %>

				</div>
