<div id="first-login" class="container">
	<div class="clean bottom">
		<div class="container text-center">
			<p>Seja bem vindo à Provizio</p>
		</div>
	</div>
	<div class="container text-center">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<p>Identificamos que este é o seu primeiro acesso e que você ainda não escolheu o seu perfil, por gentileza escolha uma das opções abaixo:</p>
			</div>
			<div class="col-sm-3"></div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<button class="cta choose-role" data-role="3" data-role-name="Investidor">Sou investidor</button>
				<button class="cta choose-role" data-role="2" data-role-name="Consultor">Sou consultor</button>
				<button class="cta choose-role" data-role="4" data-role-name="Parceiro">Sou parceiro</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<a href="<%= destroy_user_session_path %>" data-method="delete" class="ft-orange" title="Sair">
					<%= fa_icon 'sign-out' %> Sair
				</a>
			</div>
		</div>
	</div>
</div>