<div class="bg-white client">
	<%= render 'layouts/counters', page_title: 'Meus contatos', icon: 'book' %>
	<div class="container pdt-0 pdm-xs">
		<%= render 'panel/searchbar', resource_url: my_contacts_url, placeholder: 'Buscar contatos' %>
		<div class="row">
			<div class="column-sm-12 col-md-4	text-center">
				<a class="button bt-green ft-orange" href="<%= add_contact_url %>">Adicionar contato</a>
			</div>
		</div>
		<section class="list-perfil">
			<% unless @contacts.any? %>
				<p class="not-found">Nenhum resultado encontrado com o filtro especificado.</p>
			<% else %>
				<% @contacts.each do |contact| %>
					<%= render 'panel/bio', user: contact, kind: 'contact', editable: true, removable: true %>
				<% end %>
			<% end %>
		</section>
		<div class="text-center">
      		<%= paginate @contacts %>
      	</div>
	</div>
</div>
