<div class="bg-white client">
	<%= render 'layouts/counters', page_title: 'Meus clientes', icon: 'users' %>
	<div class="container pdt-0 pdm-xs">
		<%= render 'panel/searchbar', resource_url: my_clients_url, placeholder: 'Buscar clientes' %>
		<section class="list-perfil">
			<% unless @customers.any? %>
				<p class="not-found">Nenhum resultado encontrado com o filtro especificado.</p>
			<% else %>
				<% @customers.each do |customer| %>
					<%= render 'panel/bio', user: customer, viewable: true %>
				<% end %>	
			<% end %>
		</section>
		<div class="text-center">
      		<%= paginate @customers %>
      	</div>
	</div>
</div>