<div class="bg-white my-deals">
	<%= render 'layouts/counters', page_title: 'Meus negócios', icon: 'suitcase' %>
	<div class="container pdt-0 pdm-xs <%= "user-role-" + current_user.role.name %>">
		<!-- render 'panel/deals_searchform' -->
		<% if current_user.role.name == 'realtor' %>
			<%= render 'panel/my_deals_realtor' %>
		<% else %>
			<%= render 'panel/my_deals_investor' %>
		<% end %>
	</div>
</div>
