<div class="bg-white my-profile">
	<%= render 'layouts/counters', page_title: 'Meu perfil', icon: 'user' %>
	<div class="container pdt-0 pdm-xs">
		<section class="list-perfil">
			<%= render 'panel/bio', user: current_user, kind: 'profile', editable: true %>
		</section>
	</div>
</div>