<div class="bg-white my-profile">
	<% unless current_page?(action: 'public_profile') %>
		<%= render 'layouts/counters', page_title: 'Meu perfil', icon: 'user' %>
	<% else %>
	<%= render 'layouts/counters_public', page_title: 'Meu perfil', icon: 'user' %>
	<% end %>
	<div class="container pdt-0 pdm-xs">
		<section class="section-profile">
			<div class="row">
				<% unless current_page?(action: 'public_profile') %>
					<div class="col-xs-12">
						<h3>Link para o perfil público</h3>
						<br>
						<p>
							<a href="<%= root_url + "panel/public_profile/#{@user.id}" %>"><%= root_url + "panel/public_profile/#{@user.id}" %></a>
						</p>
					</div>
				<% end %>
			</div>
			<br>
			<div class="row" >
				<div class="col-md-6">
					<h3>Sobre o Parceiro</h3>
					<br>
					<p>
						<%= @user.about_me %>
					</p>
				</div>
				<div class="col-md-6">
					<div class="marca text-center">
						<img src="<%= @user.marca.url %>" style="width: 200px;" class="center-block" alt="">
					</div>
				</div>
			</div>
		</section>

		<section class="section-profile">
			<div class="row">
				<div class="col-md-12 text-center">
					<img src="<%= @user.back_image.url %>" style="height: auto; width: 100%;">
				</div>
			</div>
		</section>

		<section class="section-profile">
				<div class="col-md-12 text-center">
						<div class="col-xs-8 col-xs-offset-2">
						<% @user.pictures.each do |picture|%>
						<div class="col-md-4 destaque">
							<div class="col-xs-12 image-div">
								<img src="<%= picture.file.url %>" class="img-circle">
							</div>
							<div class="col-xs-12 label-div">
								<%= picture.label %>
							</div>
						</div>
						<% end %>
						</div>
					</div>
		</section>

		<section class="development section-profile">
			<div class="col-xs-12 slider-buttons property-actions">
					<div class="col-xs-4">
						<a href=".slider-profile" id="slider_l" class="action-button active col-xs-3 slider-link" data-lines="1" data-following="true">LANÇAMENTOS</a>
					</div>
					<div class="col-xs-4">
						<a href=".slider-profile" id="slider_a" class="action-button col-xs-3 slider-link" data-lines="2">EMPREENDIMENTOS EM ANDAMENTO</a>
					</div>
					<div class="col-xs-4">
						<a href=".slider-profile" id="slider_p" class="action-button col-xs-3 slider-link" data-lines="2">EMPREENDIMENTOS CONCLUÍDOS</a>
					</div>
			</div>
			<% @sliders.each do |type, slide|%>
			<div class="col-xs-12 slider-profile <%= type %> <%= type == :slider_l ? '' : 'hidden' %>" >
				<%= render_slider( slide ) %>
			</div>
			<% end %>
		</section>

		<section class="section-profile">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 contact-profile">
					<div class="col-md-5">
						<h1>CONTATO</h1>
					</div>
					<div class="col-md-7">
						<div class="col-md-12 pull-left">
							<span style="color: orange;"><%= fa_icon 'phone' %></span>&emsp;<%= @user.phone %>
						</div>
						<div class="col-md-12">
							<span style="color: orange;"><%= fa_icon 'envelope' %></span>&emsp;<%= @user.email %>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="property-map" class="property-section property-map maps" data-latitude="<%= @user.latitude %>" data-longitude="<%= @user.longitude %>">
			<div id="map-container"></div>
			<div id="map-info" class="section-overlayer">
				<div class="container">
					<h2 class="titleU title-box bg-white txt-ct bb-grey ft-30">Localização</h2>
				</div>
			</div>
			<button class="map-toggle-nav">
				<%= fa_icon 'map' %>
				<%= fa_icon 'map-o' %>
			</button>
			<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= @map_api_key %>&callback=updateMap"></script>
		</section>
		<% unless current_page?(action: 'public_profile') %>
		<section>
			<div class="col-md-12 text-center" style="margin: 20px;">
				<a href="#" class="btn btn-provizio btn-lg">Voltar</a>
				<a href="<%= edit_profile_cc_url %>" class="btn btn-warning btn-lg">Editar</a>
			</div>
		</section>
		<% end %>
	</div>
</div>
