<div class="bg-white my-realtor">
	<%= render 'layouts/counters', page_title: 'Meu consultor', icon: 'user' %>
	<div class="container pdt-0 pdm-xs">
		<section class="perfil pdtb-50">
			<div class="row">
				<%= render "panel/#{@template}" %>
			</div>
		</section>
	</div>
</div>