<div class="bg-white">
	<%= render 'layouts/counters', page_title: 'Acompanhamento', icon: 'line-chart' %>
	<section class="development">
		<div class="container">
			<div class="card-header container reset" role="tab" id="heading-%{id}">
					<h5 class="bg-green collapsed txt-ct mgt-20 ft-20 rlt" id="abre-acordeon-%{id}" data-parent="#accordion" href="#collapse-%{id}" aria-expanded="false" aria-controls="collapse-%{id}">
							<i class="fa fa-users fa-2x" aria-hidden="true"></i>
							<span class="mglr-20">Meus Grupos</span>
							<i class="fa fa-arrow-circle-down fa-2x pull-right" onclick="$('.groups-table').toggle();" aria-hidden="true" style="padding-right: 50px"></i>
					</h5>
			</div>
			<div class="groups-table">

			<% @groups.each do |group| %>
			<table class="table table-bordered hidden-md hidden-lg">
				<tbody>
					<tr>
						<td class="col-xs-10">
							<span class="icon-group" data-stage="<%= group.property.stage_string %>">
								<%= fa_icon 'circle' %>
							</span>
							<%= group.name %>
						</td>
						<td class="col-xs-2">
							<a href="<%= group_path(group) %>" class="text-center"><%= fa_icon 'cog' %></a>
						</td>
					</tr>
					<tr>
						<td class="col-xs-12" colspan="2">
							<% group.groups_user.each do |group_user| %>
							<div class="col-xs-12">
								<%= image_tag group_user.user.avatar.url( :thumb ), class: 'img-user img-circle' %>&nbsp;<%= group_user.user.name %>
							</div>
							<% end %>
						</td>
					</tr>
					<tr>
						<td class="col-xs-12" colspan="2">
							<%
							image = group.property.pictures.find_by_kind( :cover )
							image = image.nil? ? missing_img_url : image.file.url( :thumb )
							%>
							<div class="row-item">
								<%= image_tag image, class: 'img-user img-circle' %>&nbsp;<%= group.property.name %>
						</td>
					</tr>
				</tbody>
			</table>
			<% end %>
			<table class="table table-bordered table striped hidden-xs hidden-sm">
				<% @groups.each do |group| %>
				<tr class="row">
					<td class="col-md-3 col-xs-12 row-group">
						<div class="row row-item">
							<div class="col-md-12">
								<span class="icon-group" data-stage="<%= group.property.stage_string %>">
									<%= fa_icon 'circle' %>
								</span>
								<%= group.name %>
							</div>
						</div>
					</td>
					<td class="col-md-4 row-group">
						<% group.groups_user.each do |group_user| %>
						  <div class="col-xs-12 row-item">
								<%= image_tag group_user.user.avatar.url( :thumb ), class: 'img-user img-circle' %>&nbsp;<%= group_user.user.name %>
							</div>
						<% end %>
					</td>
					<td class="col-md-4 row-group" >
						<%
						image = group.property.pictures.find_by_kind( :cover )
						image = image.nil? ? missing_img_url : image.file.url( :thumb )
						%>
						<div class="row-item">
						<%= image_tag image, class: 'img-user img-circle' %>&nbsp;<%= group.property.name %>
						</div>
					</td>
					<td class="col-md-1 text-center">
						<!--  link_to fa_icon 'cog', edit_group_path(group)-->
						<div class="row-item">
							<a href="<%= group_path(group) %>" class="text-center"><%= fa_icon 'cog' %></a>
						</div>
					</td>
				</tr>
				<% end %>
			</table>
			<div class="col-xs-12 text-center">
				<%= will_paginate @groups, :previous_label => '<i class="fa fa-caret-left fa-5x"></i>', :next_label => '<i class="fa fa-caret-right"></i>' %>
			</div>
			<a href="<%= new_group_url %>" class="btn btn-orange pull-right"><%= fa_icon 'plus' %> Cadastrar novo grupo</a>
		</div>
	  </div>
	</section>

	<section class="pdtb-50">
		<div id="accordion" class="<%= "user-role-" + current_user.role.name %>" role="tablist" aria-multiselectable="true">
			<div class="container pdt-0 pdm-xs">
				<!-- render 'panel/deals_searchform' -->
			</div>
		   <% @cards.each do |card| %>
				 <%= render_slider( card, card[:template] ) %>
			<% end %>
		</div>
	</section>
</div>
