<div class="bg-white client">
	<%= render 'layouts/counters', page_title: 'Notificações', icon: 'bell' %>
	<div class="container pdt-0 pdm-xs">
		<section class="notify mgt-50">
			<div class="col-sm-4 col-md-3 col-lg-3 columns col-message-lateral">
				<ul class="message-lateral mgb-20">
					<li class="message-lateral-item bb-grey">
						<a href="<%= notifications_url %>?period=today" class="<%= params.has_key?( 'period' ) && params[:period] == 'today' ? 'active' : '' %>">Hoje</a>
					</li>
					<li class="message-lateral-item bb-grey">
						<a href="<%= notifications_url %>?period=this_week" class="<%= params.has_key?( 'period' ) && params[:period] == 'this_week' ? 'active' : '' %>">Esta semana</a>
					</li>
					<li class="message-lateral-item bb-grey">
						<a href="<%= notifications_url %>?period=this_month" class="<%= params.has_key?( 'period' ) && params[:period] == 'this_month' ? 'active' : '' %>">Este mês</a>
					</li>
					<li class="message-lateral-item bb-grey">
						<a href="<%= notifications_url %>?period=this_year" class="<%= params.has_key?( 'period' ) && params[:period] == 'this_year' ? 'active' : '' %>">Este ano</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-8 col-md-9 col-lg-9 columns reset">
				<% if @notifications.empty? %>
					<p>Você não possui notificações para o período informado.</p>
				<% else %>
					<ul class="notify-list">
						<% @notifications.each do |notification| %>
							<% 
								entry = Object.const_get notification.notificable_type 
								entry = entry.try( :find, notification.notificable_id )
							%>
							<%= render "panel/notifications/#{notification.notificable_type.downcase}", entry: entry, notification: notification %>
						<% end %>
					</ul>
				<% end %>
			</div>
		</section>
	</div>
</div>