<div class="bg-white">
	<%= render 'layouts/counters', page_title: 'Busca' %>
	<section class="pdtb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p style="margin-bottom: 2.5% ">Exibindo resultados para o termo: <b><%= params[:q] %></b></p>
					<% if @results.empty? %>
						<div class="alert alert-warning" role="alert">Nenhum resultado encontrado para sua busca.</div>
					<% else %>
						<ul class="results-group">
							<% @results.each do |result| %>
								<li class="results-item">
									<%= render "panel/search/#{result.class.name}", object: result %>
								</li>
							<% end %>
						</ul>
						<div class="text-center">
							<%= paginate @results %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</section>
</div>