var $modal = $( '#modal-window' );
$modal.find( '.modal-dialog' ).removeClass( 'modal-sm' ).addClass( 'modal-lg' );
$modal.find( ".modal-content" ).html( "<%= j (render 'panel/view_docs') %>" );
$modal.modal();