<section id="property-footer" class="property-section property-footer">
	<div class="container pdt-0">
		<p class="ft-14">*A Provizio não se responsabiliza pelo conteúdo das publicações deste site.</p>
	</div>
</section>
<a href="<%= property_url( params[:id] ) %>" target="_blank" class="property-preview"><%= fa_icon 'eye' %> Visualizar empreendimento</a>