<section class="property-section">
	<% background_image = @property.pictures.find_by_kind( :cover ).nil? ? '' : "background-image: url(#{@property.pictures.find_by_kind( :cover ).file.url(:large)}"  %>
	<div id="property-banner" class="property-banner dropzone-banner" style="<%= background_image %>" data-kind="cover">
		<%= form_for( Picture.new, html: { multipart: true, class: 'dropzone'} ) do |f| %>
			<div class="dz-message">
				<div class="property-add-picture">
					<i class="fa fa-plus" aria-hidden="true"></i>
					<span>Clique para adicionar uma foto.</span>
				</div>
			</div>
			<div class="fallback">
		    	<%= f.file_field :file %><br>
		  	</div>
		<% end %>
		<% picture_id = @property.pictures.find_by_kind( :cover ).nil? ? 0 : @property.pictures.find_by_kind( :cover ).id%>
		<%= link_to( fa_icon( 'times-circle' ), '#', { class: 'remove-picture', title: 'Remover imagem', data: { id: picture_id, element: '#property-banner' } } ) %>
	</div>
</section>
<section id="property-gallery" class="property-section">
	<div class="container">
		<div id="property-edit-gallery" data-items="<%= @gallery_count %>">
			<div class="property-slider sortable">
				<% if @gallery_count > 0 %>
					<% @gallery.each do |picture| %>
						<%= render_gallery_item( picture, :edit ) %>
					<% end %>
				<% end %>
			</div>
			<%= form_for( Picture.new, html: { multipart: true, class: 'dropzone'} ) do |f| %>
				<div class="dz-message">
					<div class="property-add-picture">
						<i class="fa fa-plus" aria-hidden="true"></i>
						<span class="text">Clique para adicionar fotos.<br/><br/><small>(máximo 4 fotos)</small></span>
					</div>
				</div>
				<div class="fallback">
			    	<%= f.file_field :file %><br>
			  	</div>
			<% end %>
		</div>
	</div>
	<script id="gallery-item-template" type="text/html">
		<%= render partial: 'properties/edit/gallery_item' %>
	</script>
</section>