<div id="gallery-pic-%{id}" class="gallery-item" data-id="%{id}">
	<div class="picture-container">
		<img src="%{thumb}" />
		<a class="remove-picture" title="Remover imagem" data-id="%{id}" data-element="#gallery-pic-%{id}" data-action="remove" href="#">
			<i class="fa fa-times-circle"></i>
		</a>
		<div class="plant-label">
			<input value="%{label}" class="plant-editable form-control" placeholder="Descrição" data-id="%{id}" type="text" name="picture[label]">
		</div>
	</div>
</div>
