<section id="property-title" class="property-section oportunity-information">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="title upper ft-30 mgt-10 ct-mg has-editable">
					<%= text_field :property, :name, value: @property.name, class: 'editable property-title', placeholder: 'Digite o nome do empreendimento' %>
					<%= fa_icon 'pencil' %>
				</h1>
			</div>
		</div>
		<% @col = current_user_has_role?( 'admin' ) ? 3 : 4 %>
		<div class="row proform">
			<div class="col-md-<%= @col %>">
				<div class="form-group">
					<%= label_tag :kind, 'Tipo', class: 'control-label' %><br>
					<%= select( :property, :kind, options_for_select( @kinds, @property.kind ), {}, { class: 's2-select editable', style: 'width: 100%' } ) %>
				</div>
			</div>
			<div class="col-md-<%= current_user_has_role?( 'admin' ) ? 1 : 2 %>">
				<div class="form-group">
					<%= label_tag :reservation_time, current_user_has_role?( 'admin' ) ? 'Reserva' : 'Tempo de reserva', class: 'control-label' %><br>
					<%= select( :property, :reservation_time, options_for_select( @reservation_times, @property.reservation_time ), {}, { class: 's2-select editable', style: 'width: 100%' } ) %>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<%= label_tag :visibility, 'Visualização', class: 'control-label' %><br>
					<%= select( :property, :visibility, enum_options_for_select( Property, :visibilities ), {}, { class: 's2-select editable', style: 'width: 100%' } ) %>
				</div>
			</div>
			<div class="col-md-<%= @col %>">
				<div class="form-group">
					<%= label_tag :status, 'Status', class: 'control-label' %><br>
					<%= select( :property, :status, enum_options_for_select( Property, :statuses ), {}, { class: 's2-select editable', style: 'width: 100%' } ) %>
				</div>
			</div>
			<div class="col-md-<%= @col %>">
				<div class="form-group required">
					<%= label_tag :state_id, 'UF', class: 'control-label' %><br>
					<%= select(:property, :state_id, options_for_select(@states.all.collect {|p| [ p.acronym, p.id ] }, @property.state_id), {}, { prompt: 'Estado', class: "form-control s2-select fill-cities editable", required: 'required', data: { target: '#property_city_id'} }) %>
				</div>
			</div>
			<div class="col-md-<%= @col %>">
				<div class="form-group required">
					<%= label_tag :city_id, 'Cidade', class: 'control-label' %><br>
					<%= select(:property, :city_id, options_for_select(@cities.collect {|p| [ p.name, p.id ] }, @property.city_id), {}, { prompt: 'Cidade', class: "form-control s2-select editable", required: 'required'}) %>
				</div>
			</div>
			<div class="col-md-<%= @col %>">
				<div class="form-group">
					<%= label_tag :district, 'Bairro', class: 'control-label' %><br>
					<%= text_field_tag "property[district]", @property.district, {placeholder: "Bairro", class: "editable"} %>
				</div>
			</div>

			<% if current_user_has_role?( 'admin' ) %>
			<div class="col-md-<%= @col %>">
				<div class="form-group">
					<%= label_tag :user_id, 'Parceiro', class: 'control-label' %><br>
					<%= select( :property, :user_id, options_for_select( @owners, @property.user_id ), {}, { class: 's2-select editable', style: 'width: 100%' } ) %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</section>
