<section id="property-info" class="property-section bg-grey">
	<div class="container">
		<div class="row row-eq-height" data-match-height>
			<div class="col-md-8 columns general-info-container" data-height-watch>
				<ul class="nav nav-tabs bg-white left list-oportunity-information big list-inline ft-20 reset">
				  	<li class="active tabs-title bb-grey">
				  		<a data-toggle="tab" href="#information" class="oportunity-information-tab-title">
				  			<%= fa_icon 'info-circle' %> <span class="textual">Informações</span>
				  		</a>
				  	</li>
				  	<li class="tabs-title bb-grey">
				  		<a data-toggle="tab" href="#doubts" class="oportunity-information-tab-title">
				  			<%= fa_icon 'question-circle' %> <span class="textual">Dúvidas</span>
				  		</a>
				  	</li>
				  	<li class="tabs-title bb-grey">
				  		<a data-toggle="tab" href="#docs" class="oportunity-information-tab-title">
				  			<%= fa_icon 'download' %> <span class="textual">Documentos</span>
				  		</a>
				  	</li>
				</ul>
				<div class="tab-content main">
				    <div id="information" role="tabpanel" class="active tab-pane oportunity-information-tab bg-white">
						<div class="tab-content pd-30">
				   			<%= trix_editor :property, :info, value: @property.info_html, class: 'editable property-info', placeholder: 'Digite as informações aqui' %>
				   		</div>
				    </div>
				    <div id="doubts" role="tabpanel" class="tab-pane oportunity-information-tab bg-white">
				   		<div class="tab-content pd-30">
				   			<%= trix_editor :property, :doubts, value: @property.doubts_html, class: 'editable property-doubts', placeholder: 'Digite as dúvidas mais frequentes' %>
				   		</div>
				    </div>
				    <div id="docs" role="tabpanel" class="tab-pane oportunity-information-tab bg-white">
				   		<div class="tab-content pd-30">
				   			<%= form_for( Document.new, html: { multipart: true, class: 'dropzone'} ) do |f| %>
								<div class="dz-message">
									<div class="text-center">
										<%= fa_icon 'download' %>
										Clique ou arraste os documentos aqui
									</div>
								</div>
								<div class="fallback">
							    	<%= f.file_field :file %><br>
							  	</div>
							<% end %>
							<table class="docs-table table">
								<thead>
									<th>Nome</th>
									<th class="text-center">Tamanho</th>
									<th class="text-center">Remover</th>
								</thead>
								<tbody class="table-stripe">
									<% @property.documents.where(owner_id: 0).each do |doc| %>
										<tr data-doc="<%= doc.id %>">
											<td>
												<%= text_field :document, :name, id: "doc-#{doc.id}", value: doc.name.nil? ? doc.file_file_name : doc.name, class: 'doc-editable', placeholder: 'Nome do documento', 'data-doc': doc.id %>
											</td>
											<td class="text-center">
												<%= ( ( doc.file_file_size / 1024 ) / 1 ).to_f %>KB
											</td>
											<td class="text-center">
												<button class="doc-remove" data-doc="<%= doc.id %>">
													<%= fa_icon 'trash' %>
												</button>
											</td>
										</tr>
									<% end %>
								</tbody>
							</table>
				   		</div>
				    </div>
				</div>
			</div>
			<div class="col-md-4 columns price-container" data-height-watch>
				<ul class="nav nav-tabs bg-white left list-oportunity-information big list-inline ft-20 reset">
				  	<li class="active tabs-title bb-grey">
				  		<a data-toggle="tab" href="#price" class="oportunity-information-tab-title text-left">
				  			<%= fa_icon 'usd' %> <span class="textual">Valores</span>
				  		</a>
				  	</li>
				</ul>
				<div id="price" role="tabpanel" class="active tab-pane price ft-white oportunity-information-tab bg-white">
					<div class="tab-content valor">
			   			<p>A partir de</p>
			   			<div class="pdtb-10 ft-30">
			   				<%= text_field :property, :value, value: @property.value, class: 'editable property-value mask-money' %>
			   			</div>
			   			<div class="financiamento mgt-30">
			   				<%= text_area :property, :payment_conditions, value: @property.payment_conditions, class: 'editable property-payment-conditions', placeholder: 'Digite aqui as formas de pagamento e condições' %>
						</div>
						<div class="pdtb-10 ft-30 accept-other-payments-container">
			   				<%= check_box_tag 'property[accept_other_payment_methods]', true, @property.accept_other_payment_methods, {class: 'editable', id: 'property-accept-other-payment-methods'} %> <label for="property-accept-other-payment-methods">Aceito outras formas de pagamento</label>
			   				<div class="pdtb-10 ft-30">
				   				<%= text_area :property, :other_payment_methods, value: @property.other_payment_methods, class: 'hide editable property-payment-conditions', placeholder: 'Digite aqui quais as formas de pagamento. Ex.: Aceita carro, terreno, apartamento, etc.' %>
				   			</div>
			   			</div>
			   		</div>
			   	</div>
			   	<script type="text/javascript">
			   		( function( $ ){
			   			$( '#property-accept-other-payment-methods' ).on( 'change', function(){
			   				var $self = $( this );
			   				if( $self.is( ':checked' ) ) {
			   					$( '#property_other_payment_methods' ).removeClass( 'hide' );
			   				} else {
			   					$( '#property_other_payment_methods' ).addClass( 'hide' );
			   				}
			   			});
			   			if( $( '#property-accept-other-payment-methods' ).is( ':checked' ) ) {
			   				$( '#property_other_payment_methods' ).removeClass( 'hide' );
			   			}
			   		})( jQuery );
			   	</script>
			</div>
		</div>
	</div>
</section>
