<section id="property-map" class="property-section property-map maps" data-latitude="<%= @property.latitude %>" data-longitude="<%= @property.longitude %>">
	<div id="map-container"></div>
	<div id="map-info" class="section-overlayer">
		<div class="container">
			<h2 class="titleU title-box bg-white txt-ct bb-grey ft-30">Localização</h2>
			<div class="map-input">
				<div class="row">
					<div class="col-sm-11">
						<%= text_field :property, :address, value: @property.address, class: 'editable property-address', placeholder: 'Digite o endereço do imóvel' %>
					</div>
					<div class="refresh-button col-sm-1"><%= fa_icon 'refresh' %></div>
				</div>
			</div>
		</div>
	</div>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= @map_api_key %>&callback=updateMap"></script>
</section>