<section id="section-plant" class="property-section plant">
	<div class="section-overlayer">
		<div class="container pd-30 pdt-0">
			<h2 class="titleU title-box bg-white txt-ct bb-grey ft-30">Planta</h2>
		</div>
	</div>
	<% background_image = @property.pictures.find_by_kind( :plant ).nil? ? '' : "background-image: url(#{@property.pictures.find_by_kind( :plant ).file.url}"  %>
	<div id="property-plant" class="property-banner dropzone-banner" style="<%= background_image %>" data-kind="plant">
		<%= form_for( Picture.new, html: { multipart: true, class: 'dropzone'} ) do |f| %>
			<div class="dz-message">
				<div class="property-add-picture">
					<i class="fa fa-plus" aria-hidden="true"></i>
					<span>Clique para adicionar uma foto da planta.</span>
				</div>
			</div>
			<div class="fallback">
		    	<%= f.file_field :file %><br>
		  	</div>
		<% end %>
		<% picture_id = @property.pictures.find_by_kind( :plant ).nil? ? 0 : @property.pictures.find_by_kind( :plant ).id%>
		<%= link_to( fa_icon( 'times-circle' ), '#', { class: 'remove-picture', title: 'Remover imagem', data: { id: picture_id, element: '#property-plant' } } ) %>
		<% unless @property.image_map.nil? %>
			<%= link_to( 'Editar marcação', edit_image_map_url( @property.image_map ), { class: 'edit-image-map button-orange', title: 'Editar marcação' } ) %>
		<% end %>
	</div>
</section>