<section id="section-plant" class="property-section plant">
	<div class="section-overlayer">
		<div class="container pd-30 pdt-0">
			<h2 class="titleU title-box bg-white txt-ct bb-grey ft-30">Planta</h2>
			<a class="add-plant pull-right" href="#">
				<span class="icon"><%= fa_icon 'plus' %></span>
				<span class="text">Adicionar</span>
			</a>
			<a class="add-plant pull-right" href="#" data-cancel>
				<span class="icon"><%= fa_icon 'minus' %></span>
				<span class="text">Cancelar</span>
			</a>
			<a class="mark-plant pull-right" href="<%= image_maps_url %>">
				<span class="icon"><%= fa_icon 'check' %></span>
				<span class="text">Marcar</span>
			</a>
		</div>
	</div>
	<div id="property-plant" class="property-banner dropzone-banner" data-kind="plant" data-redirect="<%= edit_property_url( @property.id ) %>#property-plant" style="">
		<%= form_for( Picture.new, html: { multipart: true, class: 'dropzone'} ) do |f| %>
			<div class="dz-message">
				<div class="property-add-picture">
					<i class="fa fa-plus" aria-hidden="true"></i>
					<span>Clique para adicionar uma foto da planta.</span>
				</div>
			</div>
			<div class="fallback">
		    	<%= f.file_field :file %><br>
		  	</div>
		<% end %>
	</div>
	<% plants = @property.pictures.where( kind: 'plant' ).order( sequence: :asc ) %>
	<div class="slider-plants">
		<% plants.each do |plant| %>
			<div data-picid="<%= plant.id %>" data-mapid="<%= plant.image_map.nil? ? '#' : plant.image_map.id  %>">
				<%= image_tag plant.file.url( :large ), class: 'img-responsive' %>
				<%= link_to( fa_icon( 'times-circle' ), '#', { class: 'remove-picture', title: 'Remover imagem', data: { id: plant.id, action: 'destroyPlant', element: '[data-picid="' + plant.id.to_s + '"]' } } ) %>
			</div>
		<% end %>
	</div>
	<div class="container">
		<div class="slider-plants-nav">
			<% plants.each do |plant| %>
				<div id="picture-nav-<%= plant.id %>" data-picid="<%= plant.id %>" class="plant-thumb-nav">
					<%= image_tag plant.file.url( :thumb ) %>
					<div class="plant-label">
						<%= text_field :picture, :label, value: plant.label, class: 'plant-editable form-control', placeholder: 'Nome', 'data-id': plant.id %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="text-center" style="padding-top: 30px">
			<a href="<%= change_plants_order_url( @property ) %>" class="btn btn-primary" data-remote="true" data-type="script" data-toggle="modal" data-target="#modal-window">Alterar ordem das plantas</a>
		</div>
	</div>
</section>
<script type="text/javascript">
	$( '.slider-plants' ).slick({
		slidesToShow: 1,
	  	slidesToScroll: 1,
	  	arrows: false,
	  	fade: true,
	  	adaptiveHeight: true,
	  	asNavFor: '.slider-plants-nav'
	});
	$( '.slider-plants-nav' ).slick({
		slidesToShow: 9,
	  	slidesToScroll: 9,
	  	asNavFor: '.slider-plants',
	  	centerMode: true,
	  	focusOnSelect: true,
	  	arrows: false
	});
	<% if params.has_key?( 'picture_id' ) %>
		$( '#picture-nav-<%= params[:picture_id] %>' ).trigger( 'click' );
	<% end %>
	$( '.add-plant' ).on( 'click', function( e ){
		e.preventDefault();
		$( '#section-plant' ).toggleClass( 'adding' );
	});		
	$( '.mark-plant' ).on( 'click', function( e ){
		e.preventDefault();
		var mapId  = $( '.slider-plants .slick-current' ).data( 'mapid' );
		if( mapId == '#' ) {
			alert( 'Não foi possível abrir a marcação desta planta, consulte o administrador do sistema.' );
		} else {
			window.location = $( this ).attr( 'href' )  + '/' + mapId + '/edit/'
		}
	});			
</script>