<section id="property-stage" class="property-section phase">
	<div class="container pdt-0">
		<h2 class="title-box bg-white txt-ct upper bb-grey ft-30 pdt-20">Estágio da obra</h2>
		<div class="row pdt-50">
			<div class="col-md-5 columns stage-circle-container">
				<div class="grafic">
		            <div id="stage-circle" class="ct-mg"></div>
		        </div>					
		        <%= number_field :property, :stage, value: @property.stage, class: 'editable property-stage hide' %>
			</div>
			<div class="col-md-7 columns">
				<div class="phase ft-16">
					<%= trix_editor :property, :stage_info, value: @property.stage_info_html, class: 'editable property-stage-info', placeholder: 'Escreva sobre o andamento da obra e seus diferenciais.' %>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="property-stage-gallery" class="property-section">
	<div class="container">
		<div id="property-edit-stage-gallery">
			<div class="property-slider sortable">
				<% if @gallery_stage_count > 0 %>
					<% @gallery_stage.each do |picture| %>
						<%= render_gallery_item( picture, :edit ) %>
					<% end %>
				<% end %>
			</div>
			<%= form_for( Picture.new, html: { multipart: true, class: 'dropzone'} ) do |f| %>
				<div class="dz-message">
					<div class="property-add-picture">
						<i class="fa fa-plus" aria-hidden="true"></i>
						<span class="text">Clique para adicionar fotos.</span>
					</div>
				</div>
				<div class="fallback">
			    	<%= f.file_field :file %><br>
			  	</div>
			<% end %>
		</div>
		<div class="notify-users hide text-center">
			<button id="notify-gallery" class="button-orange">
				<%= fa_icon 'envelope' %> Notificar usuários sobre as novas fotos
			</button>
		</div>
	</div>
</section>