<div role="tabpanel" class="tab-pane" id="inbox">
	<div class="message-box">
		<div class="row">
			<div class="col-sm-12">
				<%= render partial: 'messages/message_header' %>
				<div id="loop-inbox">
					<%= render 'messages/loop', messages: @inbox %>
				</div>
			</div>
			<div id="paginator-inbox" class="text-center">
				<%= paginate( @sent, remote: true, params: { box: 'inbox' } ) %>
			</div>
		</div>
	</div>
</div>