<div role="tabpanel" class="tab-pane" id="searchbox">
	<div class="message-box">
		<div class="row">
			<div class="col-sm-12">
				<%= render partial: 'messages/message_header' %>
				<% unless @messages.nil? %>
					<% @messages.each do |message| %>
						<%= message_item( message ) %>
					<% end %>
					<div class="text-center">
						<%= paginate @messages %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>