<div role="tabpanel" class="tab-pane" id="sent">
	<div class="message-box">
		<div class="row">
			<div class="col-sm-12">
				<%= render partial: 'messages/message_header' %>
				<div id="loop-sent">
					<%= render 'messages/loop', messages: @sent %>
				</div>
			</div>
			<div id="paginator-sent" class="text-center">
				<%= paginate( @sent, remote: true, params: { box: 'sent' } ) %>
			</div>
		</div>
	</div>
</div>