<div role="tabpanel" class="tab-pane" id="trash">
	<div class="message-box">
		<div class="row">
			<div class="col-sm-12">
				<%= render partial: 'messages/message_header' %>
				<div id="loop-trash">
					<%= render 'messages/loop', messages: @trash %>
				</div>
			</div>
			<div id="paginator-trash" class="text-center">
				<%= paginate( @trash, remote: true, params: { box: 'trash' } ) %>
			</div>
		</div>
	</div>
</div>