<div role="tabpanel" class="tab-pane active <%= 'showing-message' if action?( 'show' ) %>" id="write">
	<div class="message-box">
		<% if action?( 'show' ) %>
			<div class="message-show row">
				<div class="col-sm-12 columns">
					<%= render partial: 'messages/content' %>
				</div>
			</div>
		<% end %>
		<div class="message-form row">
			<div class="col-sm-12 columns">
				<%= render partial: 'messages/form' %>
			</div>
		</div>
	</div>
</div>