<div class="counters container pd-30 pdt-0 pdm-xs">
	<section class="submenu-resume row pdt-0">
		<div class="col-sm-4 col-md-6 col-lg-6 columns reset">
			<div class="row pdtb-0">
				<h2 id="main-title" class="type-box page ft-orange bb-grey ft-20 pd-10 pdt-35">
					<span class="role-display-name">
						<span class="inner">
							<%= "Parceiro" %>
						</span>
					</span>
					<% if defined?( icon ) %>
						<%= fa_icon icon, class: 'fa-2x' %>
					<% end %>
					<span class="page-title">Perfil Público</span>
				</h2>
			</div>
		</div>
		<div class="col-sm-8 col-md-6 col-lg-6 columns reset">
		</div>
	</section>
</div>
