<nav class="footer-menu bg-green mgt-50 pdlr-20">
    <div class="container">
		<div class="row pdt-20">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columns">
				<ul class="social-icon list-inline pdt-10">
					<li class="mgr-10 social-icon-item opt">
						<a href=""><%= image_tag "facebookb.png" %></a>
					</li>
					<li class="social-icon-item opt">
						<a href=""><%= image_tag "instagramb.png" %></a>
					</li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columns">
				<a href="<%= root_url %>"><%= image_tag "logof.png", class: "right logo opt img-responsive", alt: "Provizio" %></a>
			</div>
		</div>
		<div class="row bbb-white">
			<a href="http://grupouau.com.br/" target="_blank">
				<span class="ft-white upper ft-12">Desenvolvido por <strong>GrupoUAU</strong></span>
			</a>
		</div>
	</div>
</nav>