<nav class="header-menu pd-20">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 columns header-logo">
				<a href="<%= root_url %>" class="logo opt"><%= image_tag "logo.png", alt: "Provizio", class: 'img-responsive' %></a>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 columns reset pd-20 header-main">
				<%= render partial: "layouts/social_icons" %>
				<ul class="home-menu">
					<li class="<%= 'current' if controller?( 'pages' ) && action?( 'index' ) %>"><%= link_to 'Início', root_url %></li>
					<li class="<%= 'current' if controller?( 'pages' ) && action?( 'about' ) %>"><%= link_to 'Sobre', about_url %></li>
					<li class="<%= 'current' if controller?( 'devise/sessions' ) %>"><%= link_to 'Minha conta', new_user_session_path %></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<% if action_name == 'public_profile' %>
 <%= render partial: "layouts/submenus/public" %>
<% end %>
