<%= hidden_field_tag :current_user_id, @current_user.id %>
<%= hidden_field_tag :notifications_url, notifications_url %>
<nav class="header-menu pd-20" data-role="<%= current_user.role.name %>">
	<div class="container">
		<div class="row">
			 <%= render partial: "layouts/social_icons" %>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6 columns">
				<a href="<%= root_url %>" class="logo opt"><%= image_tag "logo.png", alt: "Provizio" %></a>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6 columns reset hidden-xs hidden-sm">
				<ul class="list-inline header-list right pdt-25">
					<li class="mgr-10 header-list-item push-notifications">
						<a id="pushes-role" href="#" class="ft-orange">
							<i class="fa fa-caret-down fa-2x" aria-hidden="true" title="Perfis"></i>
						</a>
						<div id="push-dropdown-role">
							<ul>
								<% @current_user.availables_roles.each do |role| %>
								<li class="list-group-header"><a href="/users/change_profile/<%= role.id %>" class="text-center"><%= role.display_name %></a></li>
								<% end %>
							</ul>
						</div>
					</li>
					<li class="photo mgr-10 header-list-item opt">
						<% if current_user_has_role?('construction_company')%>
							<a href="<%= my_profile_cc_url(current_user.id) %>" class="my-profile-link" title="Meu perfil" data-user-id="<%= current_user.id %>">
								<%= image_tag current_user.avatar.url( :thumb ) %>
							</a>
						<% else %>
							<a href="<%= my_profile_url %>" class="my-profile-link" title="Meu perfil" data-user-id="<%= current_user.id %>">
								<%= image_tag current_user.avatar.url( :thumb ) %>
							</a>
						<% end %>
					</li>
					<% if current_user_has_role?('construction_company')%>
						<li class="mgr-10 header-list-item push-notifications">
							<a id="pushes-group" href="#" class="ft-orange">
								<i class="fa fa-users fa-2x" aria-hidden="true" title="Grupos"></i>
								<span class="badge" data-count="<%= @push_count %>"><%= @push_count %></span>
							</a>
							<div id="push-dropdown-group">
								<ul>
									<% @current_user.groups.each do |group| %>
									<li class="list-group-header"><a href="<%= group_path(group) %>" class="text-center"><%= group.name %></a></li>
									<% end %>
								</ul>
							</div>
						</li>
					<% end %>
					<li class="mgr-10 header-list-item push-notifications">
						<a id="pushes" href="#" class="ft-orange">
							<i class="fa fa-bell fa-2x" aria-hidden="true" title="Notificações"></i>
							<span class="badge" data-count="<%= @push_count %>"><%= @push_count %></span>
						</a>
						<% unless @push_notifications.nil? %>
							<div id="push-dropdown">
								<ul class="push-list">
									<% @push_notifications.each do |notification| %>
										<%
											entry = Object.const_get notification.notificable_type
											entry = entry.try( :find, notification.notificable_id )
										%>
										<%= render "panel/notifications/#{notification.notificable_type.downcase}", entry: entry, notification: notification %>
									<% end %>
								</ul>
								<div class="text-right clear" style="padding: 10px;">
									<a href="<%= notifications_url %>?period=today" class="button-orange">Ver tudo</a>
								</div>
							</div>
						<% end %>
					</li>
					<li class="mgr-10 header-list-item opt">
						<a href="<%= messages_url %>" class="ft-orange">
							<i class="fa fa-envelope fa-2x" aria-hidden="true" title="Mensagens"></i>
						</a>
					</li>
					<li class="mgr-10 header-list-item opt">
						<a href="<%= destroy_user_session_path %>" data-method="delete" class="ft-orange" title="Sair"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></i></a>
					</li>
					<li>
						<%= render 'panel/search_all' %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<%= render partial: "layouts/submenus/#{current_user.role.name}" %>
