<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content"><div class="loading"><i class="fa fa-refresh" aria-hidden="true"></i><strong>Carregando...</strong></div></div>
   </div>
</div>
<script type="text/html" id="modal-template">
	<div class="modal-header">
	   	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">%{modal_title}</h3>
	</div>
	<div class="modal-body">%{modal_body}</div>
	<div class="modal-footer">%{modal_footer}</div>
</script>