<p class="mgt-10">Entrar como:</p>
<ul class="mgtb-10 list-social inline-list">
    <li class="list-social-item left mgr-10">
        <%= link_to image_tag('facebook.png', class: 'img'), user_facebook_omniauth_authorize_path %>
    </li>
    <li class="list-social-item left mgr-10">
        <%= link_to image_tag('google.png', class: 'img'), user_google_oauth2_omniauth_authorize_path %>
    </li>
</ul>