<ul class="social-icon list-inline right">
	<li class="mgr-10 social-icon-item opt">
		<a href=""><%= image_tag "facebook.png" %></a>
	</li>
	<li class="social-icon-item opt">
		<a href=""><%= image_tag "instagramg.png" %></a>
	</li>
</ul>