<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Provizio Investimentos">
    <meta name="keywords" content="Portal de Negócios, Oportunidades de Negócio, Negócios Imobiliários,Negociação de Imóveis, Portal para Investidores, Produtos para Investidores,Intermédio de Negócios, Vendas Imobiliárias, Compra de Imóveis, Vendas de
Imóveis, Imóveis à Venda, Propostas Imobiliárias, Rede de Investimentos Imobiliários, Rede de Corretores, Acompanhamento do Mercado Imobiliário, Oferta de Imóveis, Atendimento Diferenciado, Contato Direto com Corretor, Monitoramento
de Negócios, Controle de Investimentos, Lançamentos Imobiliários, Negócios Imobiliários para Investidores, Negócios para Corretores, Negócios para Empreendedores, Negócios para Construtoras.">
    <title>Provizio | Investimentos</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="<%= "controller_#{params[:controller]}" if params.has_key?('controller') %>">
    <main class="wrapper">
        <header id="header" class="topnavbar-wrapper">
          <% if user_signed_in? %>
            <%= render partial: "layouts/header_logged" %>
          <% else %>
            <%= render partial: "layouts/header" %>
          <% end %>
        </header>
        <section id="yeld">
          <div class="content-wrapper">
            <%= yield %>
          </div>
        </section>
        <footer id="footer">
          <%= render partial: "layouts/footer" %>
        </footer>
    </main>
    <%= render partial: 'layouts/modal' %>
    <div id="loading">
        <%= fa_icon 'refresh' %> <strong>Carregando...</strong>
    </div>
  </body>
</html>
